{
  "openapi": "3.0.1",
  "info": {
    "title": "Occupancy Authentication API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.appyway.com/v1/occupancy-authentication"
    }
  ],
  "paths": {
    "/commands/ChangeRegistrationDetails": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "/commands/ChangeRegistrationDetails - POST",
        "operationId": "post-commands-changeregistrationdetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRegistrationDetailsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRegistrationDetailsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeRegistrationDetailsCommand"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/commands/DeleteRegistration": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "/commands/DeleteRegistration - POST",
        "operationId": "post-commands-deleteregistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRegistrationCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRegistrationCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRegistrationCommand"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/commands/EndRegistration": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "/commands/EndRegistration - POST",
        "operationId": "post-commands-endregistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EndRegistrationCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EndRegistrationCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EndRegistrationCommand"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/commands/RegisterAutomaticOccupancy": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "/commands/RegisterAutomaticOccupancy - POST",
        "operationId": "post-commands-registerautomaticoccupancy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAutomaticOccupancyCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAutomaticOccupancyCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAutomaticOccupancyCommand"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/commands/RegisterManualOccupancy": {
      "post": {
        "tags": [
          "Commands"
        ],
        "summary": "/commands/RegisterManualOccupancy - POST",
        "operationId": "post-commands-registermanualoccupancy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterManualOccupancyCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterManualOccupancyCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterManualOccupancyCommand"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/monitor": {
      "get": {
        "tags": [
          "Monitor"
        ],
        "summary": "Monitor",
        "description": "Returns information on the health of the OccupancyAuthentication API service",
        "operationId": "get-monitor",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/queries/GetActiveRegistrations": {
      "post": {
        "tags": [
          "Queries"
        ],
        "summary": "/queries/GetActiveRegistrations - POST",
        "operationId": "post-queries-getactiveregistrations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetActiveRegistrationsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetActiveRegistrationsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetActiveRegistrationsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActiveRegistrationsQueryResultItemIReadOnlyCollectionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/queries/GetParkingAssetFloors": {
      "post": {
        "tags": [
          "Queries"
        ],
        "summary": "/queries/GetParkingAssetFloors - POST",
        "operationId": "post-queries-getparkingassetfloors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetParkingAssetFloorsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetParkingAssetFloorsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetParkingAssetFloorsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParkingAssetFloorsQueryResultResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/queries/GetParkingAssetHeaders": {
      "post": {
        "tags": [
          "Queries"
        ],
        "summary": "/queries/GetParkingAssetHeaders - POST",
        "operationId": "post-queries-getparkingassetheaders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetParkingAssetHeadersQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetParkingAssetHeadersQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetParkingAssetHeadersQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParkingAssetHeadersQueryResultItemIReadOnlyCollectionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/queries/GetRecentlyOccupiedBays": {
      "post": {
        "tags": [
          "Queries"
        ],
        "summary": "/queries/GetRecentlyOccupiedBays - POST",
        "operationId": "post-queries-getrecentlyoccupiedbays",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRecentlyOccupiedBaysQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRecentlyOccupiedBaysQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetRecentlyOccupiedBaysQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecentlyOccupiedBaysQueryResultItemIReadOnlyCollectionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/queries/GetRegistration": {
      "post": {
        "tags": [
          "Queries"
        ],
        "summary": "/queries/GetRegistration - POST",
        "operationId": "post-queries-getregistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegistrationQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegistrationQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegistrationQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRegistrationQueryResultItemResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RegisterAutomaticOccupancyCommand": {
        "type": "object",
        "properties": {
          "occupancySessionId": {
            "type": "string",
            "nullable": true
          },
          "vehicleRegistrationMark": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "visitedName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RegisterManualOccupancyCommand": {
        "type": "object",
        "properties": {
          "parkingAssetId": {
            "type": "string",
            "nullable": true
          },
          "bayId": {
            "type": "string",
            "nullable": true
          },
          "startUtc": {
            "type": "string",
            "format": "date-time"
          },
          "endUtc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "vehicleRegistrationMark": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "visitedName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChangeRegistrationDetailsCommand": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "startUtc": {
            "type": "string",
            "format": "date-time"
          },
          "endUtc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "vehicleRegistrationMark": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "visitedName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeleteRegistrationCommand": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EndRegistrationCommand": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "endUtc": {
            "type": "string",
            "format": "date-time"
          },
          "override": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "GetRegistrationQuery": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetRegistrationQueryResultItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "parkingAssetId": {
            "type": "string",
            "nullable": true
          },
          "bayId": {
            "type": "string",
            "nullable": true
          },
          "createdOnUtc": {
            "type": "string",
            "format": "date-time"
          },
          "startUtc": {
            "type": "string",
            "format": "date-time"
          },
          "endUtc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "vehicleRegistrationMark": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "visitedName": {
            "type": "string",
            "nullable": true
          },
          "occupancySessionId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "property": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetRegistrationQueryResultItemResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/GetRegistrationQueryResultItem"
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "nullable": true
          },
          "stackTrace": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetActiveRegistrationsQuery": {
        "required": [
          "parkingAssetId"
        ],
        "type": "object",
        "properties": {
          "parkingAssetId": {
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetActiveRegistrationsQueryResultItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "parkingAssetId": {
            "type": "string",
            "nullable": true
          },
          "bayId": {
            "type": "string",
            "nullable": true
          },
          "createdOnUtc": {
            "type": "string",
            "format": "date-time"
          },
          "startUtc": {
            "type": "string",
            "format": "date-time"
          },
          "endUtc": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "vehicleRegistrationMark": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "visitedName": {
            "type": "string",
            "nullable": true
          },
          "occupancySessionId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetActiveRegistrationsQueryResultItemIReadOnlyCollectionResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetActiveRegistrationsQueryResultItem"
            },
            "nullable": true
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "nullable": true
          },
          "stackTrace": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetParkingAssetHeadersQuery": {
        "required": [
          "parkingAssetIds"
        ],
        "type": "object",
        "properties": {
          "parkingAssetIds": {
            "minLength": 1,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetParkingAssetHeadersQueryResultItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetParkingAssetHeadersQueryResultItemIReadOnlyCollectionResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetParkingAssetHeadersQueryResultItem"
            },
            "nullable": true
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "nullable": true
          },
          "stackTrace": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetParkingAssetFloorsQuery": {
        "required": [
          "parkingAssetId"
        ],
        "type": "object",
        "properties": {
          "parkingAssetId": {
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ParkingAssetBay": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "bayType": {
            "type": "string",
            "nullable": true
          },
          "ordinal": {
            "type": "integer",
            "format": "int32"
          },
          "gracePeriod": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ParkingAssetFloor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "ordinal": {
            "type": "integer",
            "format": "int32"
          },
          "bays": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParkingAssetBay"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetParkingAssetFloorsQueryResult": {
        "type": "object",
        "properties": {
          "floors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParkingAssetFloor"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetParkingAssetFloorsQueryResultResponse": {
        "type": "object",
        "properties": {
          "result": {
            "$ref": "#/components/schemas/GetParkingAssetFloorsQueryResult"
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "nullable": true
          },
          "stackTrace": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetRecentlyOccupiedBaysQuery": {
        "required": [
          "parkingAssetId"
        ],
        "type": "object",
        "properties": {
          "parkingAssetId": {
            "minLength": 1,
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetRecentlyOccupiedBaysQueryResultItem": {
        "type": "object",
        "properties": {
          "bayId": {
            "type": "string",
            "nullable": true
          },
          "occupancySessionId": {
            "type": "string",
            "nullable": true
          },
          "occupancyStartTimeUtc": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "GetRecentlyOccupiedBaysQueryResultItemIReadOnlyCollectionResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetRecentlyOccupiedBaysQueryResultItem"
            },
            "nullable": true
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "nullable": true
          },
          "stackTrace": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKey": {
        "name": "API-KEY",
        "in": "header",
        "type": "apiKey"
      },
      "oAuth2": {
        "flows": {
          "authorizationCode": {
            "scopes": {},
            "authorizationUrl": "https://auth.appyway.com/authorize",
            "tokenUrl": "https://auth.appyway.com/oauth/token"
          }
        },
        "type": "oauth2"
      }
    },
    "responses": {
      "TooManyRequests": {
        "description": "Too many requests"
      },
      "Unauthorized": {
        "description": "Unauthorized"
      },
      "Forbidden": {
        "description": "Forbidden"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "oAuth2": []
    }
  ]
}
