openapi: 3.0.1
info:
  title: Reference
  description: TODO
  version: "1.0"
servers:
- url: https://api.appyway.com/reference/v1
paths:
  /v1/activityType/list:
    get:
      tags:
      - ActivityType
      summary: List
      description: Gets all activity types
      operationId: get-v1-activitytype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1ActivityTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1ActivityTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1ActivityTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/all/list:
    get:
      tags:
      - All
      summary: List
      description: Gets all reference data
      operationId: get-v1-all-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/All'
            application/json:
              schema:
                $ref: '#/components/schemas/All'
            text/json:
              schema:
                $ref: '#/components/schemas/All'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/authorityType/list:
    get:
      tags:
      - AuthorityType
      summary: List
      description: Gets all authority types
      operationId: get-v1-authoritytype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1AuthorityTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1AuthorityTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1AuthorityTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/baseMap/list:
    get:
      tags:
      - BaseMap
      summary: List
      description: Gets all base maps
      operationId: get-v1-basemap-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1BaseMapListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1BaseMapListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1BaseMapListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/country/list:
    get:
      tags:
      - Country
      summary: List
      description: Gets all countries
      operationId: get-v1-country-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1CountryListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1CountryListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1CountryListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/entitlementType/list:
    get:
      tags:
      - EntitlementType
      summary: List
      description: Gets all entitlement types
      operationId: get-v1-entitlementtype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1EntitlementTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1EntitlementTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1EntitlementTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/exceptionType/list:
    get:
      tags:
      - ExceptionType
      summary: List
      description: Gets all exception types
      operationId: get-v1-exceptiontype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1ExceptionTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1ExceptionTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1ExceptionTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/exemptionTimeType/list:
    get:
      tags:
      - ExemptionTimeType
      summary: List
      description: Gets all exemption time types
      operationId: get-v1-exemptiontimetype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1ExemptionTimeTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1ExemptionTimeTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1ExemptionTimeTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/exemptionType/list:
    get:
      tags:
      - ExemptionType
      summary: List
      description: Gets all exemption types
      operationId: get-v1-exemptiontype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1ExemptionTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1ExemptionTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1ExemptionTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/facilityType/list:
    get:
      tags:
      - FacilityType
      summary: List
      description: Gets all facility types
      operationId: get-v1-facilitytype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1FacilityTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1FacilityTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1FacilityTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/fuelType/list:
    get:
      tags:
      - FuelType
      summary: List
      description: Gets all fuel types
      operationId: get-v1-fueltype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1FuelTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1FuelTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1FuelTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/monitor:
    get:
      tags:
      - Monitor
      summary: /v1/monitor - GET
      operationId: get-v1-monitor
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/noteVisibilityType/list:
    get:
      tags:
      - NoteVisibilityType
      summary: List
      description: Gets all note visibility types
      operationId: get-v1-notevisibilitytype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1NoteVisibilityTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1NoteVisibilityTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1NoteVisibilityTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/onStreetParkingType/list:
    get:
      tags:
      - OnStreetParkingType
      summary: List
      description: Gets all on street parking types
      operationId: get-v1-onstreetparkingtype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1OnStreetParkingTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1OnStreetParkingTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1OnStreetParkingTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/paymentMethod/list:
    get:
      tags:
      - PaymentMethod
      summary: List
      description: Gets all payment methods
      operationId: get-v1-paymentmethod-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1PaymentMethodListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1PaymentMethodListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1PaymentMethodListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/permitType/list:
    get:
      tags:
      - PermitType
      summary: List
      description: Gets all permit types
      operationId: get-v1-permittype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1PermitTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1PermitTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1PermitTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/region/list:
    get:
      tags:
      - Region
      summary: List
      description: Gets all regions
      operationId: get-v1-region-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1RegionListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1RegionListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1RegionListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/restrictionType/list:
    get:
      tags:
      - RestrictionType
      summary: List
      description: Gets all restriction types
      operationId: get-v1-restrictiontype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1RestrictionTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1RestrictionTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1RestrictionTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/specialRestriction/list:
    get:
      tags:
      - SpecialRestrictions
      summary: List
      description: Gets all special restrictions
      operationId: get-v1-specialrestriction-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1SpecialRestrictionListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1SpecialRestrictionListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1SpecialRestrictionListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/vehicleType/list:
    get:
      tags:
      - VehicleType
      summary: List
      description: Gets all vehicle types
      operationId: get-v1-vehicletype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1VehicleTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1VehicleTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1VehicleTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
  /v1/zoneType/list:
    get:
      tags:
      - ZoneType
      summary: List
      description: Gets all zone types
      operationId: get-v1-zonetype-list
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/V1ZoneTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/V1ZoneTypeListGet200ApplicationJsonResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V1ZoneTypeListGet200TextJsonResponse'
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "429":
          description: Too many requests
components:
  schemas:
    ActivityType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    AuthorityType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        CanHaveRestrictions:
          type: boolean
        CanHaveShape:
          type: boolean
      additionalProperties: false
    BaseMap:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        AvailableInCountries:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    SpecialDay:
      type: object
      properties:
        Id:
          type: string
          nullable: true
        Name:
          type: string
          nullable: true
        IsHoliday:
          type: boolean
        Dates:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    Country:
      type: object
      properties:
        Id:
          type: string
          nullable: true
        Name:
          type: string
          nullable: true
        SpecialDays:
          type: array
          items:
            $ref: '#/components/schemas/SpecialDay'
          nullable: true
        Bounds:
          type: array
          items:
            type: array
            items:
              type: number
              format: double
          nullable: true
        DefaultBaseMapId:
          type: integer
          format: int32
        EntitlementTypes:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        RestrictionTypes:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
      additionalProperties: false
    EntitlementType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        Code:
          type: string
          nullable: true
        RestrictionTypeIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        ApplicableExemptionTypeIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        HasTariff:
          type: boolean
      additionalProperties: false
    ExceptionType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    ExemptionTimeType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    ExemptionType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    FacilityType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    FuelType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    NoteVisibilityType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    OnStreetParkingType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    PaymentMethod:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    PermitType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    Event:
      type: object
      properties:
        Name:
          type: string
          nullable: true
        Date:
          type: string
        Start:
          type: string
          nullable: true
        End:
          type: string
          nullable: true
      additionalProperties: false
    Venue:
      type: object
      properties:
        Id:
          type: string
          nullable: true
        Name:
          type: string
          nullable: true
        EventsMustSupplyHours:
          type: boolean
        Events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
          nullable: true
      additionalProperties: false
    Region:
      type: object
      properties:
        Id:
          type: string
          nullable: true
        CountryId:
          type: string
          nullable: true
        Name:
          type: string
          nullable: true
        Venues:
          type: array
          items:
            $ref: '#/components/schemas/Venue'
          nullable: true
      additionalProperties: false
    RestrictionType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        Code:
          type: string
          nullable: true
        CanHaveTariff:
          type: boolean
        DefaultWidth:
          type: number
          format: double
      additionalProperties: false
    SpecialRestriction:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    VehicleType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    ZoneType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        CanHaveRestrictions:
          type: boolean
        CanHaveShape:
          type: boolean
      additionalProperties: false
    All:
      type: object
      properties:
        ActivityTypes:
          type: array
          items:
            $ref: '#/components/schemas/ActivityType'
          nullable: true
        AuthorityTypes:
          type: array
          items:
            $ref: '#/components/schemas/AuthorityType'
          nullable: true
        BaseMaps:
          type: array
          items:
            $ref: '#/components/schemas/BaseMap'
          nullable: true
        Countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
          nullable: true
        EntitlementTypes:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementType'
          nullable: true
        ExceptionTypes:
          type: array
          items:
            $ref: '#/components/schemas/ExceptionType'
          nullable: true
        ExemptionTimeTypes:
          type: array
          items:
            $ref: '#/components/schemas/ExemptionTimeType'
          nullable: true
        ExemptionTypes:
          type: array
          items:
            $ref: '#/components/schemas/ExemptionType'
          nullable: true
        FacilityTypes:
          type: array
          items:
            $ref: '#/components/schemas/FacilityType'
          nullable: true
        FuelTypes:
          type: array
          items:
            $ref: '#/components/schemas/FuelType'
          nullable: true
        NoteVisibilityTypes:
          type: array
          items:
            $ref: '#/components/schemas/NoteVisibilityType'
          nullable: true
        OnStreetParkingTypes:
          type: array
          items:
            $ref: '#/components/schemas/OnStreetParkingType'
          nullable: true
        PaymentMethods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethod'
          nullable: true
        PermitTypes:
          type: array
          items:
            $ref: '#/components/schemas/PermitType'
          nullable: true
        Regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
          nullable: true
        RestrictionTypes:
          type: array
          items:
            $ref: '#/components/schemas/RestrictionType'
          nullable: true
        SpecialRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/SpecialRestriction'
          nullable: true
        VehicleTypes:
          type: array
          items:
            $ref: '#/components/schemas/VehicleType'
          nullable: true
        ZoneTypes:
          type: array
          items:
            $ref: '#/components/schemas/ZoneType'
          nullable: true
      additionalProperties: false
    V1ActivityTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/ActivityType'
    V1ActivityTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ActivityType'
    V1ActivityTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ActivityType'
    V1AuthorityTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/AuthorityType'
    V1AuthorityTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/AuthorityType'
    V1AuthorityTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/AuthorityType'
    V1BaseMapListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/BaseMap'
    V1BaseMapListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/BaseMap'
    V1BaseMapListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/BaseMap'
    V1CountryListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/Country'
    V1CountryListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/Country'
    V1CountryListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/Country'
    V1EntitlementTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/EntitlementType'
    V1EntitlementTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/EntitlementType'
    V1EntitlementTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/EntitlementType'
    V1ExceptionTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExceptionType'
    V1ExceptionTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExceptionType'
    V1ExceptionTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExceptionType'
    V1ExemptionTimeTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionTimeType'
    V1ExemptionTimeTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionTimeType'
    V1ExemptionTimeTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionTimeType'
    V1ExemptionTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionType'
    V1ExemptionTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionType'
    V1ExemptionTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionType'
    V1FacilityTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/FacilityType'
    V1FacilityTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/FacilityType'
    V1FacilityTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/FacilityType'
    V1FuelTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/FuelType'
    V1FuelTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/FuelType'
    V1FuelTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/FuelType'
    V1NoteVisibilityTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/NoteVisibilityType'
    V1NoteVisibilityTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/NoteVisibilityType'
    V1NoteVisibilityTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/NoteVisibilityType'
    V1OnStreetParkingTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/OnStreetParkingType'
    V1OnStreetParkingTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/OnStreetParkingType'
    V1OnStreetParkingTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/OnStreetParkingType'
    V1PaymentMethodListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/PaymentMethod'
    V1PaymentMethodListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/PaymentMethod'
    V1PaymentMethodListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/PaymentMethod'
    V1PermitTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/PermitType'
    V1PermitTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/PermitType'
    V1PermitTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/PermitType'
    V1RegionListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/Region'
    V1RegionListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/Region'
    V1RegionListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/Region'
    V1RestrictionTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/RestrictionType'
    V1RestrictionTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/RestrictionType'
    V1RestrictionTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/RestrictionType'
    V1SpecialRestrictionListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/SpecialRestriction'
    V1SpecialRestrictionListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/SpecialRestriction'
    V1SpecialRestrictionListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/SpecialRestriction'
    V1VehicleTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/VehicleType'
    V1VehicleTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/VehicleType'
    V1VehicleTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/VehicleType'
    V1ZoneTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/ZoneType'
    V1ZoneTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ZoneType'
    V1ZoneTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ZoneType'
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
security:
- apiKey: []
- oAuth2: []

