{
  "openapi": "3.0.1",
  "info": {
    "title": "Traffic Data",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.appyway.com/v1/traffic-data"
    }
  ],
  "paths": {
    "/authorities/getAll": {
      "get": {
        "tags": [
          "Authorities"
        ],
        "summary": "/authorities/getAll - GET",
        "operationId": "get-authorities-getall",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityListResult"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityListResult"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "string",
                      "name": "string",
                      "regionId": "string",
                      "countryId": "string",
                      "authoritySlugs": [
                        "string"
                      ],
                      "ordnanceSurvey": {
                        "apiKey": "string",
                        "license": "string"
                      },
                      "hasFreeParkingOutsideZone": true,
                      "timeZoneId": "string",
                      "privacyPolicyUrl": "string",
                      "paymentProvider": {
                        "name": "string",
                        "paymentUrl": "string",
                        "telephone": "string",
                        "cashlessMerchantId": "string"
                      },
                      "centroid": {
                        "latitude": 0,
                        "longitude": 0
                      },
                      "boundingBox": {
                        "topLeft": {
                          "latitude": 0,
                          "longitude": 0
                        },
                        "bottomRight": {
                          "latitude": 0,
                          "longitude": 0
                        }
                      },
                      "fallbackZoneId": "string",
                      "notes": [
                        {
                          "noteVisibilityTypeId": 0,
                          "appliesToRestrictionTypeIds": [
                            0
                          ],
                          "priority": 0,
                          "title": "string",
                          "message": "string",
                          "url": "string",
                          "telephone": "string"
                        }
                      ],
                      "tags": [
                        "string"
                      ],
                      "authorityType": 0,
                      "legalName": "string",
                      "defaultEntitlements": [
                        {
                          "restrictionTypeId": 0,
                          "entitlements": [
                            0
                          ]
                        }
                      ],
                      "capabilities": {
                        "allowIsPubliclyViewable": true,
                        "allowChargePointRequests": true
                      },
                      "capabilitiesState": {
                        "isPubliclyViewable": true,
                        "acceptChargePointRequests": true
                      }
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityListResult"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "string",
                      "name": "string",
                      "regionId": "string",
                      "countryId": "string",
                      "authoritySlugs": [
                        "string"
                      ],
                      "ordnanceSurvey": {
                        "apiKey": "string",
                        "license": "string"
                      },
                      "hasFreeParkingOutsideZone": true,
                      "timeZoneId": "string",
                      "privacyPolicyUrl": "string",
                      "paymentProvider": {
                        "name": "string",
                        "paymentUrl": "string",
                        "telephone": "string",
                        "cashlessMerchantId": "string"
                      },
                      "centroid": {
                        "latitude": 0,
                        "longitude": 0
                      },
                      "boundingBox": {
                        "topLeft": {
                          "latitude": 0,
                          "longitude": 0
                        },
                        "bottomRight": {
                          "latitude": 0,
                          "longitude": 0
                        }
                      },
                      "fallbackZoneId": "string",
                      "notes": [
                        {
                          "noteVisibilityTypeId": 0,
                          "appliesToRestrictionTypeIds": [
                            0
                          ],
                          "priority": 0,
                          "title": "string",
                          "message": "string",
                          "url": "string",
                          "telephone": "string"
                        }
                      ],
                      "tags": [
                        "string"
                      ],
                      "authorityType": 0,
                      "legalName": "string",
                      "defaultEntitlements": [
                        {
                          "restrictionTypeId": 0,
                          "entitlements": [
                            0
                          ]
                        }
                      ],
                      "capabilities": {
                        "allowIsPubliclyViewable": true,
                        "allowChargePointRequests": true
                      },
                      "capabilitiesState": {
                        "isPubliclyViewable": true,
                        "acceptChargePointRequests": true
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorities/getAuthoritiesWithMovingOrders": {
      "get": {
        "tags": [
          "Authorities"
        ],
        "summary": "/authorities/getAuthoritiesWithMovingOrders - GET",
        "operationId": "get-authorities-getauthoritieswithmovingorders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityInfoArrayResult"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityInfoArrayResult"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "authorityId": "string",
                      "authoritySlugs": [
                        "string"
                      ],
                      "name": "string",
                      "legalName": "string",
                      "ordnanceSurvey": {
                        "apiKey": "string",
                        "license": "string"
                      },
                      "made": 0,
                      "published": 0,
                      "proposal": 0,
                      "editingProposal": 0,
                      "editingDraft": 0,
                      "draft": 0
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityInfoArrayResult"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "authorityId": "string",
                      "authoritySlugs": [
                        "string"
                      ],
                      "name": "string",
                      "legalName": "string",
                      "ordnanceSurvey": {
                        "apiKey": "string",
                        "license": "string"
                      },
                      "made": 0,
                      "published": 0,
                      "proposal": 0,
                      "editingProposal": 0,
                      "editingDraft": 0,
                      "draft": 0
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorities/getAuthoritiesWithOrders": {
      "get": {
        "tags": [
          "Authorities"
        ],
        "summary": "/authorities/getAuthoritiesWithOrders - GET",
        "operationId": "get-authorities-getauthoritieswithorders",
        "parameters": [
          {
            "name": "regulationMode",
            "in": "query",
            "description": "Format - int32.",
            "schema": {
              "enum": [
                1,
                2
              ],
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityInfoArrayResult"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityInfoArrayResult"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "authorityId": "string",
                      "authoritySlugs": [
                        "string"
                      ],
                      "name": "string",
                      "legalName": "string",
                      "ordnanceSurvey": {
                        "apiKey": "string",
                        "license": "string"
                      },
                      "made": 0,
                      "published": 0,
                      "proposal": 0,
                      "editingProposal": 0,
                      "editingDraft": 0,
                      "draft": 0
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityInfoArrayResult"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "authorityId": "string",
                      "authoritySlugs": [
                        "string"
                      ],
                      "name": "string",
                      "legalName": "string",
                      "ordnanceSurvey": {
                        "apiKey": "string",
                        "license": "string"
                      },
                      "made": 0,
                      "published": 0,
                      "proposal": 0,
                      "editingProposal": 0,
                      "editingDraft": 0,
                      "draft": 0
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorities/getAuthoritiesWithStaticOrders": {
      "get": {
        "tags": [
          "Authorities"
        ],
        "summary": "/authorities/getAuthoritiesWithStaticOrders - GET",
        "operationId": "get-authorities-getauthoritieswithstaticorders",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityInfoArrayResult"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityInfoArrayResult"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "authorityId": "string",
                      "authoritySlugs": [
                        "string"
                      ],
                      "name": "string",
                      "legalName": "string",
                      "ordnanceSurvey": {
                        "apiKey": "string",
                        "license": "string"
                      },
                      "made": 0,
                      "published": 0,
                      "proposal": 0,
                      "editingProposal": 0,
                      "editingDraft": 0,
                      "draft": 0
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityInfoArrayResult"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "authorityId": "string",
                      "authoritySlugs": [
                        "string"
                      ],
                      "name": "string",
                      "legalName": "string",
                      "ordnanceSurvey": {
                        "apiKey": "string",
                        "license": "string"
                      },
                      "made": 0,
                      "published": 0,
                      "proposal": 0,
                      "editingProposal": 0,
                      "editingDraft": 0,
                      "draft": 0
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorities/getById": {
      "get": {
        "tags": [
          "Authorities"
        ],
        "summary": "/authorities/getById - GET",
        "operationId": "get-authorities-getbyid",
        "parameters": [
          {
            "name": "authorityId",
            "in": "query",
            "description": "Format - uuid.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityResult"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "string",
                    "name": "string",
                    "regionId": "string",
                    "countryId": "string",
                    "authoritySlugs": [
                      "string"
                    ],
                    "ordnanceSurvey": {
                      "apiKey": "string",
                      "license": "string"
                    },
                    "hasFreeParkingOutsideZone": true,
                    "timeZoneId": "string",
                    "privacyPolicyUrl": "string",
                    "paymentProvider": {
                      "name": "string",
                      "paymentUrl": "string",
                      "telephone": "string",
                      "cashlessMerchantId": "string"
                    },
                    "centroid": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "boundingBox": {
                      "topLeft": {
                        "latitude": 0,
                        "longitude": 0
                      },
                      "bottomRight": {
                        "latitude": 0,
                        "longitude": 0
                      }
                    },
                    "fallbackZoneId": "string",
                    "notes": [
                      {
                        "noteVisibilityTypeId": 0,
                        "appliesToRestrictionTypeIds": [
                          0
                        ],
                        "priority": 0,
                        "title": "string",
                        "message": "string",
                        "url": "string",
                        "telephone": "string"
                      }
                    ],
                    "tags": [
                      "string"
                    ],
                    "authorityType": 0,
                    "legalName": "string",
                    "defaultEntitlements": [
                      {
                        "restrictionTypeId": 0,
                        "entitlements": [
                          0
                        ]
                      }
                    ],
                    "capabilities": {
                      "allowIsPubliclyViewable": true,
                      "allowChargePointRequests": true
                    },
                    "capabilitiesState": {
                      "isPubliclyViewable": true,
                      "acceptChargePointRequests": true
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "string",
                    "name": "string",
                    "regionId": "string",
                    "countryId": "string",
                    "authoritySlugs": [
                      "string"
                    ],
                    "ordnanceSurvey": {
                      "apiKey": "string",
                      "license": "string"
                    },
                    "hasFreeParkingOutsideZone": true,
                    "timeZoneId": "string",
                    "privacyPolicyUrl": "string",
                    "paymentProvider": {
                      "name": "string",
                      "paymentUrl": "string",
                      "telephone": "string",
                      "cashlessMerchantId": "string"
                    },
                    "centroid": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "boundingBox": {
                      "topLeft": {
                        "latitude": 0,
                        "longitude": 0
                      },
                      "bottomRight": {
                        "latitude": 0,
                        "longitude": 0
                      }
                    },
                    "fallbackZoneId": "string",
                    "notes": [
                      {
                        "noteVisibilityTypeId": 0,
                        "appliesToRestrictionTypeIds": [
                          0
                        ],
                        "priority": 0,
                        "title": "string",
                        "message": "string",
                        "url": "string",
                        "telephone": "string"
                      }
                    ],
                    "tags": [
                      "string"
                    ],
                    "authorityType": 0,
                    "legalName": "string",
                    "defaultEntitlements": [
                      {
                        "restrictionTypeId": 0,
                        "entitlements": [
                          0
                        ]
                      }
                    ],
                    "capabilities": {
                      "allowIsPubliclyViewable": true,
                      "allowChargePointRequests": true
                    },
                    "capabilitiesState": {
                      "isPubliclyViewable": true,
                      "acceptChargePointRequests": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorities/getBySlug": {
      "get": {
        "tags": [
          "Authorities"
        ],
        "summary": "/authorities/getBySlug - GET",
        "operationId": "get-authorities-getbyslug",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityResult"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "string",
                    "name": "string",
                    "regionId": "string",
                    "countryId": "string",
                    "authoritySlugs": [
                      "string"
                    ],
                    "ordnanceSurvey": {
                      "apiKey": "string",
                      "license": "string"
                    },
                    "hasFreeParkingOutsideZone": true,
                    "timeZoneId": "string",
                    "privacyPolicyUrl": "string",
                    "paymentProvider": {
                      "name": "string",
                      "paymentUrl": "string",
                      "telephone": "string",
                      "cashlessMerchantId": "string"
                    },
                    "centroid": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "boundingBox": {
                      "topLeft": {
                        "latitude": 0,
                        "longitude": 0
                      },
                      "bottomRight": {
                        "latitude": 0,
                        "longitude": 0
                      }
                    },
                    "fallbackZoneId": "string",
                    "notes": [
                      {
                        "noteVisibilityTypeId": 0,
                        "appliesToRestrictionTypeIds": [
                          0
                        ],
                        "priority": 0,
                        "title": "string",
                        "message": "string",
                        "url": "string",
                        "telephone": "string"
                      }
                    ],
                    "tags": [
                      "string"
                    ],
                    "authorityType": 0,
                    "legalName": "string",
                    "defaultEntitlements": [
                      {
                        "restrictionTypeId": 0,
                        "entitlements": [
                          0
                        ]
                      }
                    ],
                    "capabilities": {
                      "allowIsPubliclyViewable": true,
                      "allowChargePointRequests": true
                    },
                    "capabilitiesState": {
                      "isPubliclyViewable": true,
                      "acceptChargePointRequests": true
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "string",
                    "name": "string",
                    "regionId": "string",
                    "countryId": "string",
                    "authoritySlugs": [
                      "string"
                    ],
                    "ordnanceSurvey": {
                      "apiKey": "string",
                      "license": "string"
                    },
                    "hasFreeParkingOutsideZone": true,
                    "timeZoneId": "string",
                    "privacyPolicyUrl": "string",
                    "paymentProvider": {
                      "name": "string",
                      "paymentUrl": "string",
                      "telephone": "string",
                      "cashlessMerchantId": "string"
                    },
                    "centroid": {
                      "latitude": 0,
                      "longitude": 0
                    },
                    "boundingBox": {
                      "topLeft": {
                        "latitude": 0,
                        "longitude": 0
                      },
                      "bottomRight": {
                        "latitude": 0,
                        "longitude": 0
                      }
                    },
                    "fallbackZoneId": "string",
                    "notes": [
                      {
                        "noteVisibilityTypeId": 0,
                        "appliesToRestrictionTypeIds": [
                          0
                        ],
                        "priority": 0,
                        "title": "string",
                        "message": "string",
                        "url": "string",
                        "telephone": "string"
                      }
                    ],
                    "tags": [
                      "string"
                    ],
                    "authorityType": 0,
                    "legalName": "string",
                    "defaultEntitlements": [
                      {
                        "restrictionTypeId": 0,
                        "entitlements": [
                          0
                        ]
                      }
                    ],
                    "capabilities": {
                      "allowIsPubliclyViewable": true,
                      "allowChargePointRequests": true
                    },
                    "capabilitiesState": {
                      "isPubliclyViewable": true,
                      "acceptChargePointRequests": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorities/getFullById": {
      "get": {
        "tags": [
          "Authorities"
        ],
        "summary": "/authorities/getFullById - GET",
        "operationId": "get-authorities-getfullbyid",
        "parameters": [
          {
            "name": "authorityId",
            "in": "query",
            "description": "Format - uuid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxDate",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthoritySnapshotInfoDocResult"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthoritySnapshotInfoDocResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "setsUrl": {
                      "operatingHoursSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "operatingHours": {
                            "standardDays": [
                              {
                                "ruleTime": {
                                  "months": [
                                    0
                                  ],
                                  "days": [
                                    0
                                  ],
                                  "weekNumbers": [
                                    0
                                  ],
                                  "hours": [
                                    {
                                      "start": "2022-04-13T00:00:00",
                                      "end": "2022-04-13T00:00:00"
                                    }
                                  ],
                                  "firstDate": {
                                    "month": 0,
                                    "day": 0
                                  },
                                  "lastDate": {
                                    "month": 0,
                                    "day": 0
                                  }
                                },
                                "parkingEntitlementTypeIds": [
                                  0
                                ],
                                "maxStay": 0,
                                "minStay": 0,
                                "noReturn": 0,
                                "noReturnUntil": "2022-04-13T00:00:00"
                              }
                            ],
                            "eventDays": [
                              {
                                "ruleTime": {
                                  "months": [
                                    0
                                  ],
                                  "days": [
                                    0
                                  ],
                                  "weekNumbers": [
                                    0
                                  ],
                                  "hours": [
                                    {
                                      "start": "2022-04-13T00:00:00",
                                      "end": "2022-04-13T00:00:00"
                                    }
                                  ],
                                  "firstDate": {
                                    "month": 0,
                                    "day": 0
                                  },
                                  "lastDate": {
                                    "month": 0,
                                    "day": 0
                                  }
                                },
                                "parkingEntitlementTypeIds": [
                                  0
                                ],
                                "maxStay": 0,
                                "minStay": 0,
                                "noReturn": 0,
                                "noReturnUntil": "2022-04-13T00:00:00"
                              }
                            ]
                          }
                        }
                      ],
                      "exemptionsSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "exemptions": [
                            {
                              "exemptionTypeId": 0,
                              "parkingEntitlementTypeId": 0,
                              "exemptionTimeTypeId": 0,
                              "exemptionApplies": true,
                              "maxStay": 0,
                              "noReturn": 0
                            }
                          ]
                        }
                      ],
                      "exceptionsSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "exceptions": {
                            "allHolidaysRestrictionExceptionTypeId": 0,
                            "daySpecificRestrictionExceptions": [
                              {
                                "publicHolidayOrNamedDayId": "string",
                                "restrictionExceptionTypeId": 0
                              }
                            ]
                          }
                        }
                      ],
                      "tariffSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "tariffs": [
                            {
                              "parkingEntitlementTypeIds": [
                                0
                              ],
                              "details": [
                                {
                                  "price": 0,
                                  "surcharge": 0,
                                  "surchargeDetail": {
                                    "surchargeType": 0,
                                    "value": 0,
                                    "notes": "string",
                                    "ruleType": 0
                                  },
                                  "duration": 0,
                                  "minimumPriceIncrement": 0,
                                  "singlePaymentCanCrossMidnight": true,
                                  "from": 0,
                                  "upTo": 0
                                }
                              ],
                              "timeFrom": "2022-04-13T00:00:00",
                              "timeTo": "2022-04-13T00:00:00",
                              "firstDate": {
                                "month": 0,
                                "day": 0
                              },
                              "lastDate": {
                                "month": 0,
                                "day": 0
                              },
                              "months": [
                                0
                              ],
                              "days": [
                                0
                              ],
                              "timeType": 0
                            }
                          ]
                        }
                      ]
                    },
                    "zonesUrl": {
                      "type": "string",
                      "features": [
                        {
                          "type": "string",
                          "id": "string",
                          "geometry": {
                            "type": "string",
                            "crs": {
                              "type": "string",
                              "properties": {
                                "name": "string"
                              }
                            },
                            "coordinates": [
                              [
                                [
                                  0
                                ]
                              ]
                            ]
                          },
                          "properties": {
                            "zoneId": "string",
                            "authorityId": "string",
                            "parentZoneId": "string",
                            "type": 1,
                            "name": "string",
                            "restrictionTypeDetails": [
                              {
                                "restrictionTypeId": 0,
                                "operatingHoursSet": [
                                  {
                                    "setId": "string",
                                    "parkingEntitlementTypeIds": [
                                      0
                                    ]
                                  }
                                ],
                                "exceptionsSet": {
                                  "setId": "string"
                                }
                              }
                            ],
                            "notes": [
                              {
                                "noteVisibilityTypeId": 0,
                                "appliesToRestrictionTypeIds": [
                                  0
                                ],
                                "priority": 0,
                                "title": "string",
                                "message": "string",
                                "url": "string",
                                "telephone": "string"
                              }
                            ],
                            "venueId": "string",
                            "sourceTag": "string",
                            "tags": [
                              "string"
                            ]
                          }
                        }
                      ],
                      "properties": {}
                    },
                    "ospsUrl": [
                      {
                        "type": "string",
                        "features": [
                          {
                            "type": "string",
                            "id": "string",
                            "geometry": {
                              "type": "string",
                              "crs": {
                                "type": "string",
                                "properties": {
                                  "name": "string"
                                }
                              }
                            },
                            "properties": {
                              "onStreetParkingId": "string",
                              "zoneId": "string",
                              "authorityId": "string",
                              "address": {
                                "street": "string",
                                "postcode": "string",
                                "city": "string",
                                "country": "string"
                              },
                              "length": 0,
                              "bays": 0,
                              "restrictionTypeDetails": [
                                {
                                  "restrictionTypeId": 0,
                                  "operatingHoursSet": [
                                    {
                                      "setId": "string",
                                      "parkingEntitlementTypeIds": [
                                        0
                                      ]
                                    }
                                  ],
                                  "exceptionsSet": {
                                    "setId": "string"
                                  },
                                  "locationNumber": "string",
                                  "exemptionsSet": {
                                    "setId": "string"
                                  },
                                  "tariffsSet": [
                                    {
                                      "setId": "string",
                                      "parkingEntitlementTypeIds": [
                                        0
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "notes": [
                                {
                                  "noteVisibilityTypeId": 0,
                                  "appliesToRestrictionTypeIds": [
                                    0
                                  ],
                                  "priority": 0,
                                  "title": "string",
                                  "message": "string",
                                  "url": "string",
                                  "telephone": "string"
                                }
                              ],
                              "electricPoint": {
                                "manufacturer": "string",
                                "manufacturerContactNumber": "string",
                                "chargeFee": "string",
                                "website": "string",
                                "electricConnections": [
                                  {
                                    "type": 0,
                                    "name": "string",
                                    "description": "string",
                                    "quantity": 0
                                  }
                                ]
                              },
                              "venueId": "string",
                              "sourceTag": "string",
                              "sensorIds": [
                                "string"
                              ],
                              "centroid": {
                                "latitude": 0,
                                "longitude": 0
                              },
                              "tags": [
                                "string"
                              ],
                              "linkedOspIds": [
                                "string"
                              ]
                            }
                          }
                        ],
                        "properties": {}
                      }
                    ],
                    "date": "string",
                    "dataUpdateId": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthoritySnapshotInfoDocResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "setsUrl": {
                      "operatingHoursSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "operatingHours": {
                            "standardDays": [
                              {
                                "ruleTime": {
                                  "months": [
                                    0
                                  ],
                                  "days": [
                                    0
                                  ],
                                  "weekNumbers": [
                                    0
                                  ],
                                  "hours": [
                                    {
                                      "start": "2022-04-13T00:00:00",
                                      "end": "2022-04-13T00:00:00"
                                    }
                                  ],
                                  "firstDate": {
                                    "month": 0,
                                    "day": 0
                                  },
                                  "lastDate": {
                                    "month": 0,
                                    "day": 0
                                  }
                                },
                                "parkingEntitlementTypeIds": [
                                  0
                                ],
                                "maxStay": 0,
                                "minStay": 0,
                                "noReturn": 0,
                                "noReturnUntil": "2022-04-13T00:00:00"
                              }
                            ],
                            "eventDays": [
                              {
                                "ruleTime": {
                                  "months": [
                                    0
                                  ],
                                  "days": [
                                    0
                                  ],
                                  "weekNumbers": [
                                    0
                                  ],
                                  "hours": [
                                    {
                                      "start": "2022-04-13T00:00:00",
                                      "end": "2022-04-13T00:00:00"
                                    }
                                  ],
                                  "firstDate": {
                                    "month": 0,
                                    "day": 0
                                  },
                                  "lastDate": {
                                    "month": 0,
                                    "day": 0
                                  }
                                },
                                "parkingEntitlementTypeIds": [
                                  0
                                ],
                                "maxStay": 0,
                                "minStay": 0,
                                "noReturn": 0,
                                "noReturnUntil": "2022-04-13T00:00:00"
                              }
                            ]
                          }
                        }
                      ],
                      "exemptionsSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "exemptions": [
                            {
                              "exemptionTypeId": 0,
                              "parkingEntitlementTypeId": 0,
                              "exemptionTimeTypeId": 0,
                              "exemptionApplies": true,
                              "maxStay": 0,
                              "noReturn": 0
                            }
                          ]
                        }
                      ],
                      "exceptionsSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "exceptions": {
                            "allHolidaysRestrictionExceptionTypeId": 0,
                            "daySpecificRestrictionExceptions": [
                              {
                                "publicHolidayOrNamedDayId": "string",
                                "restrictionExceptionTypeId": 0
                              }
                            ]
                          }
                        }
                      ],
                      "tariffSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "tariffs": [
                            {
                              "parkingEntitlementTypeIds": [
                                0
                              ],
                              "details": [
                                {
                                  "price": 0,
                                  "surcharge": 0,
                                  "surchargeDetail": {
                                    "surchargeType": 0,
                                    "value": 0,
                                    "notes": "string",
                                    "ruleType": 0
                                  },
                                  "duration": 0,
                                  "minimumPriceIncrement": 0,
                                  "singlePaymentCanCrossMidnight": true,
                                  "from": 0,
                                  "upTo": 0
                                }
                              ],
                              "timeFrom": "2022-04-13T00:00:00",
                              "timeTo": "2022-04-13T00:00:00",
                              "firstDate": {
                                "month": 0,
                                "day": 0
                              },
                              "lastDate": {
                                "month": 0,
                                "day": 0
                              },
                              "months": [
                                0
                              ],
                              "days": [
                                0
                              ],
                              "timeType": 0
                            }
                          ]
                        }
                      ]
                    },
                    "zonesUrl": {
                      "type": "string",
                      "features": [
                        {
                          "type": "string",
                          "id": "string",
                          "geometry": {
                            "type": "string",
                            "crs": {
                              "type": "string",
                              "properties": {
                                "name": "string"
                              }
                            },
                            "coordinates": [
                              [
                                [
                                  0
                                ]
                              ]
                            ]
                          },
                          "properties": {
                            "zoneId": "string",
                            "authorityId": "string",
                            "parentZoneId": "string",
                            "type": 1,
                            "name": "string",
                            "restrictionTypeDetails": [
                              {
                                "restrictionTypeId": 0,
                                "operatingHoursSet": [
                                  {
                                    "setId": "string",
                                    "parkingEntitlementTypeIds": [
                                      0
                                    ]
                                  }
                                ],
                                "exceptionsSet": {
                                  "setId": "string"
                                }
                              }
                            ],
                            "notes": [
                              {
                                "noteVisibilityTypeId": 0,
                                "appliesToRestrictionTypeIds": [
                                  0
                                ],
                                "priority": 0,
                                "title": "string",
                                "message": "string",
                                "url": "string",
                                "telephone": "string"
                              }
                            ],
                            "venueId": "string",
                            "sourceTag": "string",
                            "tags": [
                              "string"
                            ]
                          }
                        }
                      ],
                      "properties": {}
                    },
                    "ospsUrl": [
                      {
                        "type": "string",
                        "features": [
                          {
                            "type": "string",
                            "id": "string",
                            "geometry": {
                              "type": "string",
                              "crs": {
                                "type": "string",
                                "properties": {
                                  "name": "string"
                                }
                              }
                            },
                            "properties": {
                              "onStreetParkingId": "string",
                              "zoneId": "string",
                              "authorityId": "string",
                              "address": {
                                "street": "string",
                                "postcode": "string",
                                "city": "string",
                                "country": "string"
                              },
                              "length": 0,
                              "bays": 0,
                              "restrictionTypeDetails": [
                                {
                                  "restrictionTypeId": 0,
                                  "operatingHoursSet": [
                                    {
                                      "setId": "string",
                                      "parkingEntitlementTypeIds": [
                                        0
                                      ]
                                    }
                                  ],
                                  "exceptionsSet": {
                                    "setId": "string"
                                  },
                                  "locationNumber": "string",
                                  "exemptionsSet": {
                                    "setId": "string"
                                  },
                                  "tariffsSet": [
                                    {
                                      "setId": "string",
                                      "parkingEntitlementTypeIds": [
                                        0
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "notes": [
                                {
                                  "noteVisibilityTypeId": 0,
                                  "appliesToRestrictionTypeIds": [
                                    0
                                  ],
                                  "priority": 0,
                                  "title": "string",
                                  "message": "string",
                                  "url": "string",
                                  "telephone": "string"
                                }
                              ],
                              "electricPoint": {
                                "manufacturer": "string",
                                "manufacturerContactNumber": "string",
                                "chargeFee": "string",
                                "website": "string",
                                "electricConnections": [
                                  {
                                    "type": 0,
                                    "name": "string",
                                    "description": "string",
                                    "quantity": 0
                                  }
                                ]
                              },
                              "venueId": "string",
                              "sourceTag": "string",
                              "sensorIds": [
                                "string"
                              ],
                              "centroid": {
                                "latitude": 0,
                                "longitude": 0
                              },
                              "tags": [
                                "string"
                              ],
                              "linkedOspIds": [
                                "string"
                              ]
                            }
                          }
                        ],
                        "properties": {}
                      }
                    ],
                    "date": "string",
                    "dataUpdateId": "string"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorities/getFullBySlug": {
      "get": {
        "tags": [
          "Authorities"
        ],
        "summary": "/authorities/getFullBySlug - GET",
        "operationId": "get-authorities-getfullbyslug",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxDate",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthoritySnapshotInfoDocResult"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthoritySnapshotInfoDocResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "setsUrl": {
                      "operatingHoursSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "operatingHours": {
                            "standardDays": [
                              {
                                "ruleTime": {
                                  "months": [
                                    0
                                  ],
                                  "days": [
                                    0
                                  ],
                                  "weekNumbers": [
                                    0
                                  ],
                                  "hours": [
                                    {
                                      "start": "2022-04-13T00:00:00",
                                      "end": "2022-04-13T00:00:00"
                                    }
                                  ],
                                  "firstDate": {
                                    "month": 0,
                                    "day": 0
                                  },
                                  "lastDate": {
                                    "month": 0,
                                    "day": 0
                                  }
                                },
                                "parkingEntitlementTypeIds": [
                                  0
                                ],
                                "maxStay": 0,
                                "minStay": 0,
                                "noReturn": 0,
                                "noReturnUntil": "2022-04-13T00:00:00"
                              }
                            ],
                            "eventDays": [
                              {
                                "ruleTime": {
                                  "months": [
                                    0
                                  ],
                                  "days": [
                                    0
                                  ],
                                  "weekNumbers": [
                                    0
                                  ],
                                  "hours": [
                                    {
                                      "start": "2022-04-13T00:00:00",
                                      "end": "2022-04-13T00:00:00"
                                    }
                                  ],
                                  "firstDate": {
                                    "month": 0,
                                    "day": 0
                                  },
                                  "lastDate": {
                                    "month": 0,
                                    "day": 0
                                  }
                                },
                                "parkingEntitlementTypeIds": [
                                  0
                                ],
                                "maxStay": 0,
                                "minStay": 0,
                                "noReturn": 0,
                                "noReturnUntil": "2022-04-13T00:00:00"
                              }
                            ]
                          }
                        }
                      ],
                      "exemptionsSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "exemptions": [
                            {
                              "exemptionTypeId": 0,
                              "parkingEntitlementTypeId": 0,
                              "exemptionTimeTypeId": 0,
                              "exemptionApplies": true,
                              "maxStay": 0,
                              "noReturn": 0
                            }
                          ]
                        }
                      ],
                      "exceptionsSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "exceptions": {
                            "allHolidaysRestrictionExceptionTypeId": 0,
                            "daySpecificRestrictionExceptions": [
                              {
                                "publicHolidayOrNamedDayId": "string",
                                "restrictionExceptionTypeId": 0
                              }
                            ]
                          }
                        }
                      ],
                      "tariffSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "tariffs": [
                            {
                              "parkingEntitlementTypeIds": [
                                0
                              ],
                              "details": [
                                {
                                  "price": 0,
                                  "surcharge": 0,
                                  "surchargeDetail": {
                                    "surchargeType": 0,
                                    "value": 0,
                                    "notes": "string",
                                    "ruleType": 0
                                  },
                                  "duration": 0,
                                  "minimumPriceIncrement": 0,
                                  "singlePaymentCanCrossMidnight": true,
                                  "from": 0,
                                  "upTo": 0
                                }
                              ],
                              "timeFrom": "2022-04-13T00:00:00",
                              "timeTo": "2022-04-13T00:00:00",
                              "firstDate": {
                                "month": 0,
                                "day": 0
                              },
                              "lastDate": {
                                "month": 0,
                                "day": 0
                              },
                              "months": [
                                0
                              ],
                              "days": [
                                0
                              ],
                              "timeType": 0
                            }
                          ]
                        }
                      ]
                    },
                    "zonesUrl": {
                      "type": "string",
                      "features": [
                        {
                          "type": "string",
                          "id": "string",
                          "geometry": {
                            "type": "string",
                            "crs": {
                              "type": "string",
                              "properties": {
                                "name": "string"
                              }
                            },
                            "coordinates": [
                              [
                                [
                                  0
                                ]
                              ]
                            ]
                          },
                          "properties": {
                            "zoneId": "string",
                            "authorityId": "string",
                            "parentZoneId": "string",
                            "type": 1,
                            "name": "string",
                            "restrictionTypeDetails": [
                              {
                                "restrictionTypeId": 0,
                                "operatingHoursSet": [
                                  {
                                    "setId": "string",
                                    "parkingEntitlementTypeIds": [
                                      0
                                    ]
                                  }
                                ],
                                "exceptionsSet": {
                                  "setId": "string"
                                }
                              }
                            ],
                            "notes": [
                              {
                                "noteVisibilityTypeId": 0,
                                "appliesToRestrictionTypeIds": [
                                  0
                                ],
                                "priority": 0,
                                "title": "string",
                                "message": "string",
                                "url": "string",
                                "telephone": "string"
                              }
                            ],
                            "venueId": "string",
                            "sourceTag": "string",
                            "tags": [
                              "string"
                            ]
                          }
                        }
                      ],
                      "properties": {}
                    },
                    "ospsUrl": [
                      {
                        "type": "string",
                        "features": [
                          {
                            "type": "string",
                            "id": "string",
                            "geometry": {
                              "type": "string",
                              "crs": {
                                "type": "string",
                                "properties": {
                                  "name": "string"
                                }
                              }
                            },
                            "properties": {
                              "onStreetParkingId": "string",
                              "zoneId": "string",
                              "authorityId": "string",
                              "address": {
                                "street": "string",
                                "postcode": "string",
                                "city": "string",
                                "country": "string"
                              },
                              "length": 0,
                              "bays": 0,
                              "restrictionTypeDetails": [
                                {
                                  "restrictionTypeId": 0,
                                  "operatingHoursSet": [
                                    {
                                      "setId": "string",
                                      "parkingEntitlementTypeIds": [
                                        0
                                      ]
                                    }
                                  ],
                                  "exceptionsSet": {
                                    "setId": "string"
                                  },
                                  "locationNumber": "string",
                                  "exemptionsSet": {
                                    "setId": "string"
                                  },
                                  "tariffsSet": [
                                    {
                                      "setId": "string",
                                      "parkingEntitlementTypeIds": [
                                        0
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "notes": [
                                {
                                  "noteVisibilityTypeId": 0,
                                  "appliesToRestrictionTypeIds": [
                                    0
                                  ],
                                  "priority": 0,
                                  "title": "string",
                                  "message": "string",
                                  "url": "string",
                                  "telephone": "string"
                                }
                              ],
                              "electricPoint": {
                                "manufacturer": "string",
                                "manufacturerContactNumber": "string",
                                "chargeFee": "string",
                                "website": "string",
                                "electricConnections": [
                                  {
                                    "type": 0,
                                    "name": "string",
                                    "description": "string",
                                    "quantity": 0
                                  }
                                ]
                              },
                              "venueId": "string",
                              "sourceTag": "string",
                              "sensorIds": [
                                "string"
                              ],
                              "centroid": {
                                "latitude": 0,
                                "longitude": 0
                              },
                              "tags": [
                                "string"
                              ],
                              "linkedOspIds": [
                                "string"
                              ]
                            }
                          }
                        ],
                        "properties": {}
                      }
                    ],
                    "date": "string",
                    "dataUpdateId": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthoritySnapshotInfoDocResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "setsUrl": {
                      "operatingHoursSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "operatingHours": {
                            "standardDays": [
                              {
                                "ruleTime": {
                                  "months": [
                                    0
                                  ],
                                  "days": [
                                    0
                                  ],
                                  "weekNumbers": [
                                    0
                                  ],
                                  "hours": [
                                    {
                                      "start": "2022-04-13T00:00:00",
                                      "end": "2022-04-13T00:00:00"
                                    }
                                  ],
                                  "firstDate": {
                                    "month": 0,
                                    "day": 0
                                  },
                                  "lastDate": {
                                    "month": 0,
                                    "day": 0
                                  }
                                },
                                "parkingEntitlementTypeIds": [
                                  0
                                ],
                                "maxStay": 0,
                                "minStay": 0,
                                "noReturn": 0,
                                "noReturnUntil": "2022-04-13T00:00:00"
                              }
                            ],
                            "eventDays": [
                              {
                                "ruleTime": {
                                  "months": [
                                    0
                                  ],
                                  "days": [
                                    0
                                  ],
                                  "weekNumbers": [
                                    0
                                  ],
                                  "hours": [
                                    {
                                      "start": "2022-04-13T00:00:00",
                                      "end": "2022-04-13T00:00:00"
                                    }
                                  ],
                                  "firstDate": {
                                    "month": 0,
                                    "day": 0
                                  },
                                  "lastDate": {
                                    "month": 0,
                                    "day": 0
                                  }
                                },
                                "parkingEntitlementTypeIds": [
                                  0
                                ],
                                "maxStay": 0,
                                "minStay": 0,
                                "noReturn": 0,
                                "noReturnUntil": "2022-04-13T00:00:00"
                              }
                            ]
                          }
                        }
                      ],
                      "exemptionsSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "exemptions": [
                            {
                              "exemptionTypeId": 0,
                              "parkingEntitlementTypeId": 0,
                              "exemptionTimeTypeId": 0,
                              "exemptionApplies": true,
                              "maxStay": 0,
                              "noReturn": 0
                            }
                          ]
                        }
                      ],
                      "exceptionsSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "exceptions": {
                            "allHolidaysRestrictionExceptionTypeId": 0,
                            "daySpecificRestrictionExceptions": [
                              {
                                "publicHolidayOrNamedDayId": "string",
                                "restrictionExceptionTypeId": 0
                              }
                            ]
                          }
                        }
                      ],
                      "tariffSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "tariffs": [
                            {
                              "parkingEntitlementTypeIds": [
                                0
                              ],
                              "details": [
                                {
                                  "price": 0,
                                  "surcharge": 0,
                                  "surchargeDetail": {
                                    "surchargeType": 0,
                                    "value": 0,
                                    "notes": "string",
                                    "ruleType": 0
                                  },
                                  "duration": 0,
                                  "minimumPriceIncrement": 0,
                                  "singlePaymentCanCrossMidnight": true,
                                  "from": 0,
                                  "upTo": 0
                                }
                              ],
                              "timeFrom": "2022-04-13T00:00:00",
                              "timeTo": "2022-04-13T00:00:00",
                              "firstDate": {
                                "month": 0,
                                "day": 0
                              },
                              "lastDate": {
                                "month": 0,
                                "day": 0
                              },
                              "months": [
                                0
                              ],
                              "days": [
                                0
                              ],
                              "timeType": 0
                            }
                          ]
                        }
                      ]
                    },
                    "zonesUrl": {
                      "type": "string",
                      "features": [
                        {
                          "type": "string",
                          "id": "string",
                          "geometry": {
                            "type": "string",
                            "crs": {
                              "type": "string",
                              "properties": {
                                "name": "string"
                              }
                            },
                            "coordinates": [
                              [
                                [
                                  0
                                ]
                              ]
                            ]
                          },
                          "properties": {
                            "zoneId": "string",
                            "authorityId": "string",
                            "parentZoneId": "string",
                            "type": 1,
                            "name": "string",
                            "restrictionTypeDetails": [
                              {
                                "restrictionTypeId": 0,
                                "operatingHoursSet": [
                                  {
                                    "setId": "string",
                                    "parkingEntitlementTypeIds": [
                                      0
                                    ]
                                  }
                                ],
                                "exceptionsSet": {
                                  "setId": "string"
                                }
                              }
                            ],
                            "notes": [
                              {
                                "noteVisibilityTypeId": 0,
                                "appliesToRestrictionTypeIds": [
                                  0
                                ],
                                "priority": 0,
                                "title": "string",
                                "message": "string",
                                "url": "string",
                                "telephone": "string"
                              }
                            ],
                            "venueId": "string",
                            "sourceTag": "string",
                            "tags": [
                              "string"
                            ]
                          }
                        }
                      ],
                      "properties": {}
                    },
                    "ospsUrl": [
                      {
                        "type": "string",
                        "features": [
                          {
                            "type": "string",
                            "id": "string",
                            "geometry": {
                              "type": "string",
                              "crs": {
                                "type": "string",
                                "properties": {
                                  "name": "string"
                                }
                              }
                            },
                            "properties": {
                              "onStreetParkingId": "string",
                              "zoneId": "string",
                              "authorityId": "string",
                              "address": {
                                "street": "string",
                                "postcode": "string",
                                "city": "string",
                                "country": "string"
                              },
                              "length": 0,
                              "bays": 0,
                              "restrictionTypeDetails": [
                                {
                                  "restrictionTypeId": 0,
                                  "operatingHoursSet": [
                                    {
                                      "setId": "string",
                                      "parkingEntitlementTypeIds": [
                                        0
                                      ]
                                    }
                                  ],
                                  "exceptionsSet": {
                                    "setId": "string"
                                  },
                                  "locationNumber": "string",
                                  "exemptionsSet": {
                                    "setId": "string"
                                  },
                                  "tariffsSet": [
                                    {
                                      "setId": "string",
                                      "parkingEntitlementTypeIds": [
                                        0
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "notes": [
                                {
                                  "noteVisibilityTypeId": 0,
                                  "appliesToRestrictionTypeIds": [
                                    0
                                  ],
                                  "priority": 0,
                                  "title": "string",
                                  "message": "string",
                                  "url": "string",
                                  "telephone": "string"
                                }
                              ],
                              "electricPoint": {
                                "manufacturer": "string",
                                "manufacturerContactNumber": "string",
                                "chargeFee": "string",
                                "website": "string",
                                "electricConnections": [
                                  {
                                    "type": 0,
                                    "name": "string",
                                    "description": "string",
                                    "quantity": 0
                                  }
                                ]
                              },
                              "venueId": "string",
                              "sourceTag": "string",
                              "sensorIds": [
                                "string"
                              ],
                              "centroid": {
                                "latitude": 0,
                                "longitude": 0
                              },
                              "tags": [
                                "string"
                              ],
                              "linkedOspIds": [
                                "string"
                              ]
                            }
                          }
                        ],
                        "properties": {}
                      }
                    ],
                    "date": "string",
                    "dataUpdateId": "string"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorities/getMovingRestrictionsByAuthorityId": {
      "get": {
        "tags": [
          "Authorities"
        ],
        "summary": "/authorities/getMovingRestrictionsByAuthorityId - GET",
        "operationId": "get-authorities-getmovingrestrictionsbyauthorityid",
        "parameters": [
          {
            "name": "authorityId",
            "in": "query",
            "description": "Format - uuid.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxDate",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MFeatureCollectionResult"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MFeatureCollectionResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "type": "string",
                    "features": [
                      {
                        "geoType": "string",
                        "featureId": "string",
                        "featureType": 0,
                        "authorityId": "string",
                        "note": "string",
                        "streetName": "string"
                      }
                    ],
                    "properties": {}
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MFeatureCollectionResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "type": "string",
                    "features": [
                      {
                        "geoType": "string",
                        "featureId": "string",
                        "featureType": 0,
                        "authorityId": "string",
                        "note": "string",
                        "streetName": "string"
                      }
                    ],
                    "properties": {}
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorities/getPublicBySlug": {
      "get": {
        "tags": [
          "Authorities"
        ],
        "summary": "/authorities/getPublicBySlug - GET",
        "operationId": "get-authorities-getpublicbyslug",
        "parameters": [
          {
            "name": "slug",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxDate",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAuthoritySnapshotInfoDocResult"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAuthoritySnapshotInfoDocResult"
                },
                "example": {
                  "success": true,
                  "data": {
                    "setsUrl": {
                      "operatingHoursSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "operatingHours": {
                            "standardDays": [
                              {
                                "ruleTime": {
                                  "months": [
                                    0
                                  ],
                                  "days": [
                                    0
                                  ],
                                  "weekNumbers": [
                                    0
                                  ],
                                  "hours": [
                                    {
                                      "start": "2022-04-13T00:00:00",
                                      "end": "2022-04-13T00:00:00"
                                    }
                                  ],
                                  "firstDate": {
                                    "month": 0,
                                    "day": 0
                                  },
                                  "lastDate": {
                                    "month": 0,
                                    "day": 0
                                  }
                                },
                                "parkingEntitlementTypeIds": [
                                  0
                                ],
                                "maxStay": 0,
                                "minStay": 0,
                                "noReturn": 0,
                                "noReturnUntil": "2022-04-13T00:00:00"
                              }
                            ],
                            "eventDays": [
                              {
                                "ruleTime": {
                                  "months": [
                                    0
                                  ],
                                  "days": [
                                    0
                                  ],
                                  "weekNumbers": [
                                    0
                                  ],
                                  "hours": [
                                    {
                                      "start": "2022-04-13T00:00:00",
                                      "end": "2022-04-13T00:00:00"
                                    }
                                  ],
                                  "firstDate": {
                                    "month": 0,
                                    "day": 0
                                  },
                                  "lastDate": {
                                    "month": 0,
                                    "day": 0
                                  }
                                },
                                "parkingEntitlementTypeIds": [
                                  0
                                ],
                                "maxStay": 0,
                                "minStay": 0,
                                "noReturn": 0,
                                "noReturnUntil": "2022-04-13T00:00:00"
                              }
                            ]
                          }
                        }
                      ],
                      "tariffSets": [
                        {
                          "setId": "string",
                          "name": "string",
                          "formattedName": "string",
                          "tariffs": [
                            {
                              "parkingEntitlementTypeIds": [
                                0
                              ],
                              "details": [
                                {
                                  "price": 0,
                                  "surcharge": 0,
                                  "surchargeDetail": {
                                    "surchargeType": 0,
                                    "value": 0,
                                    "notes": "string",
                                    "ruleType": 0
                                  },
                                  "duration": 0,
                                  "minimumPriceIncrement": 0,
                                  "singlePaymentCanCrossMidnight": true,
                                  "from": 0,
                                  "upTo": 0
                                }
                              ],
                              "timeFrom": "2022-04-13T00:00:00",
                              "timeTo": "2022-04-13T00:00:00",
                              "firstDate": {
                                "month": 0,
                                "day": 0
                              },
[...]
