openapi: 3.0.1
info:
  title: Traffic Data
  version: "1.0"
servers:
- url: https://api.appyway.com/v1/traffic-data
paths:
  /authorities/getAll:
    get:
      tags:
      - Authorities
      summary: /authorities/getAll - GET
      operationId: get-authorities-getall
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityBaseDataListResult'
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityBaseDataListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityBaseDataListResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getAuthoritiesWithMovingOrders:
    get:
      tags:
      - Authorities
      summary: /authorities/getAuthoritiesWithMovingOrders - GET
      operationId: get-authorities-getauthoritieswithmovingorders
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getAuthoritiesWithOrders:
    get:
      tags:
      - Authorities
      summary: /authorities/getAuthoritiesWithOrders - GET
      operationId: get-authorities-getauthoritieswithorders
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getAuthoritiesWithStaticOrders:
    get:
      tags:
      - Authorities
      summary: /authorities/getAuthoritiesWithStaticOrders - GET
      operationId: get-authorities-getauthoritieswithstaticorders
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getById:
    get:
      tags:
      - Authorities
      summary: /authorities/getById - GET
      operationId: get-authorities-getbyid
      parameters:
      - name: authorityId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getBySlug:
    get:
      tags:
      - Authorities
      summary: /authorities/getBySlug - GET
      operationId: get-authorities-getbyslug
      parameters:
      - name: slug
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getFullById:
    get:
      tags:
      - Authorities
      summary: /authorities/getFullById - GET
      operationId: get-authorities-getfullbyid
      parameters:
      - name: authorityId
        in: query
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339).
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getFullBySlug:
    get:
      tags:
      - Authorities
      summary: /authorities/getFullBySlug - GET
      operationId: get-authorities-getfullbyslug
      parameters:
      - name: slug
        in: query
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339).
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getPublicBySlug:
    get:
      tags:
      - Authorities
      summary: /authorities/getPublicBySlug - GET
      operationId: get-authorities-getpublicbyslug
      parameters:
      - name: slug
        in: query
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339).
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PublicAuthoritySnapshotInfoDocResult'
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAuthoritySnapshotInfoDocResult'
            text/json:
              schema:
                $ref: '#/components/schemas/PublicAuthoritySnapshotInfoDocResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/getAll:
    get:
      tags:
      - CarParks
      summary: /carparks/getAll - GET
      operationId: get-carparks-getall
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CarParkLightListResult'
            application/json:
              schema:
                $ref: '#/components/schemas/CarParkLightListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/CarParkLightListResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/getById:
    get:
      tags:
      - CarParks
      summary: /carparks/getById - GET
      operationId: get-carparks-getbyid
      parameters:
      - name: carParkId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CarParkCmsBlobResult'
            application/json:
              schema:
                $ref: '#/components/schemas/CarParkCmsBlobResult'
            text/json:
              schema:
                $ref: '#/components/schemas/CarParkCmsBlobResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/searchCarparksByTerm:
    get:
      tags:
      - CarParks
      summary: /carparks/searchCarparksByTerm - GET
      operationId: get-carparks-searchcarparksbyterm
      parameters:
      - name: term
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CarParkInfoListResult'
            application/json:
              schema:
                $ref: '#/components/schemas/CarParkInfoListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/CarParkInfoListResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/searchSmartCarparksByTerm:
    get:
      tags:
      - CarParks
      summary: /carparks/searchSmartCarparksByTerm - GET
      operationId: get-carparks-searchsmartcarparksbyterm
      parameters:
      - name: term
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SmartCarParkInfoListResult'
            application/json:
              schema:
                $ref: '#/components/schemas/SmartCarParkInfoListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SmartCarParkInfoListResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/updateCarparkTariff:
    post:
      tags:
      - CarParks
      summary: /carparks/updateCarparkTariff - POST
      operationId: post-carparks-updatecarparktariff
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/updateSmartCarparkTariff:
    post:
      tags:
      - CarParks
      summary: /carparks/updateSmartCarparkTariff - POST
      operationId: post-carparks-updatesmartcarparktariff
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/data/bulkUpdate:
    post:
      tags:
      - MovingOrdersData
      summary: /movingOrders/data/bulkUpdate - POST
      operationId: post-movingorders-data-bulkupdate
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        schema:
          type: string
      - name: changeSetId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingChangeSetResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MovingChangeSetResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MovingChangeSetResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/data/getMovingRestrictionsByAuthorityId:
    get:
      tags:
      - MovingOrdersData
      summary: /movingOrders/data/getMovingRestrictionsByAuthorityId - GET
      operationId: get-movingorders-data-getmovingrestrictionsbyauthorityid
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MFeatureCollectionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MFeatureCollectionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MFeatureCollectionResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/export/graph:
    get:
      tags:
      - MovingOrdersExport
      summary: /movingOrders/export/graph - GET
      operationId: get-movingorders-export-graph
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MFeatureCollectionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MFeatureCollectionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MFeatureCollectionResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/export/pdf:
    get:
      tags:
      - MovingOrdersExport
      summary: /movingOrders/export/pdf - GET
      operationId: get-movingorders-export-pdf
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/export/template:
    post:
      tags:
      - MovingOrdersExport
      summary: /movingOrders/export/template - POST
      operationId: post-movingorders-export-template
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResult'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/manage/changeState:
    post:
      tags:
      - MovingOrdersManage
      summary: /movingOrders/manage/changeState - POST
      operationId: post-movingorders-manage-changestate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MovingStateChangeInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/MovingStateChangeInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/MovingStateChangeInfo'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MovingStateChangeInfo'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/manage/create:
    post:
      tags:
      - MovingOrdersManage
      summary: /movingOrders/manage/create - POST
      operationId: post-movingorders-manage-create
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/NewOrder'
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/NewOrder'
          application/*+json:
            schema:
              $ref: '#/components/schemas/NewOrder'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/manage/delete:
    post:
      tags:
      - MovingOrdersManage
      summary: /movingOrders/manage/delete - POST
      operationId: post-movingorders-manage-delete
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequest'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/manage/update:
    post:
      tags:
      - MovingOrdersManage
      summary: /movingOrders/manage/update - POST
      operationId: post-movingorders-manage-update
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        schema:
          type: string
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MovingOrder'
          application/json:
            schema:
              $ref: '#/components/schemas/MovingOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/MovingOrder'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MovingOrder'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/query/getByAuthorityIdAndState:
    get:
      tags:
      - MovingOrdersQuery
      summary: /movingOrders/query/getByAuthorityIdAndState - GET
      operationId: get-movingorders-query-getbyauthorityidandstate
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        schema:
          type: string
      - name: state
        in: query
        description: Format - int32.
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          type: integer
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingOrderArrayResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MovingOrderArrayResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MovingOrderArrayResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/query/getById:
    get:
      tags:
      - MovingOrdersQuery
      summary: /movingOrders/query/getById - GET
      operationId: get-movingorders-query-getbyid
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/query/getByQuery:
    post:
      tags:
      - MovingOrdersQuery
      summary: /movingOrders/query/getByQuery - POST
      operationId: post-movingorders-query-getbyquery
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MovingOrderQueryArgs'
          application/json:
            schema:
              $ref: '#/components/schemas/MovingOrderQueryArgs'
          text/json:
            schema:
              $ref: '#/components/schemas/MovingOrderQueryArgs'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MovingOrderQueryArgs'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingOrderArrayResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MovingOrderArrayResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MovingOrderArrayResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/query/getLatestDocumentsByOrder:
    get:
      tags:
      - MovingOrdersQuery
      summary: /movingOrders/query/getLatestDocumentsByOrder - GET
      operationId: get-movingorders-query-getlatestdocumentsbyorder
      parameters:
      - name: orderId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingOrderDocumentListResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MovingOrderDocumentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MovingOrderDocumentListResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/query/getSparseOrderById:
    get:
      tags:
      - MovingOrdersQuery
      summary: /movingOrders/query/getSparseOrderById - GET
      operationId: get-movingorders-query-getsparseorderbyid
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MovingOrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/data/bulkUpdate:
    post:
      tags:
      - OrdersData
      summary: /orders/data/bulkUpdate - POST
      operationId: post-orders-data-bulkupdate
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ChangeSetResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeSetResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ChangeSetResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/data/createAdditionFromFeature:
    post:
      tags:
      - OrdersData
      summary: /orders/data/createAdditionFromFeature - POST
      operationId: post-orders-data-createadditionfromfeature
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromFeature'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromFeature'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromFeature'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromFeature'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdditionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AdditionResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/data/createAdditionFromGeometry:
    post:
      tags:
      - OrdersData
      summary: /orders/data/createAdditionFromGeometry - POST
      operationId: post-orders-data-createadditionfromgeometry
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromGeometry'
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromGeometry'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromGeometry'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromGeometry'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AdditionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/AdditionResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/documents/delete:
    post:
      tags:
      - OrderDocuments
      summary: /orders/documents/delete - POST
      operationId: post-orders-documents-delete
      parameters:
      - name: documentId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/documents/download:
    get:
      tags:
      - OrderDocuments
      summary: /orders/documents/download - GET
      operationId: get-orders-documents-download
      parameters:
      - name: documentId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StaticOrderDocumentResult'
            application/json:
              schema:
                $ref: '#/components/schemas/StaticOrderDocumentResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StaticOrderDocumentResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/documents/generatePlaceholders:
    post:
      tags:
      - OrderDocuments
      summary: /orders/documents/generatePlaceholders - POST
      operationId: post-orders-documents-generateplaceholders
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        schema:
          type: string
      - name: generateWrittenOrder
        in: query
        schema:
          type: boolean
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/documents/list:
    get:
      tags:
      - OrderDocuments
      summary: /orders/documents/list - GET
      operationId: get-orders-documents-list
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        schema:
          type: string
      - name: stateChangeId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StaticOrderDocumentIEnumerableResult'
            application/json:
              schema:
                $ref: '#/components/schemas/StaticOrderDocumentIEnumerableResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StaticOrderDocumentIEnumerableResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/documents/update:
    post:
      tags:
      - OrderDocuments
      summary: /orders/documents/update - POST
      operationId: post-orders-documents-update
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OrdersDocumentsUpdatePostRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersDocumentsUpdatePostRequest-1'
          text/json:
            schema:
              $ref: '#/components/schemas/OrdersDocumentsUpdatePostRequest-2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OrdersDocumentsUpdatePostRequest-3'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/documents/upload:
    post:
      tags:
      - OrderDocuments
      summary: /orders/documents/upload - POST
      operationId: post-orders-documents-upload
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                OrderId:
                  type: string
                StateChangeId:
                  type: string
                Files:
                  type: array
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GuidIEnumerableResult'
            application/json:
              schema:
                $ref: '#/components/schemas/GuidIEnumerableResult'
            text/json:
              schema:
                $ref: '#/components/schemas/GuidIEnumerableResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/export/graph:
    get:
      tags:
      - OrdersExport
      summary: /orders/export/graph - GET
      operationId: get-orders-export-graph
      parameters:
      - name: orderId
        in: query
        schema:
          type: string
      - name: includeAllChangeSets
        in: query
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrderGraphSnapshotResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderGraphSnapshotResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderGraphSnapshotResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/export/pdf:
    get:
      tags:
      - OrdersExport
      summary: /orders/export/pdf - GET
      operationId: get-orders-export-pdf
      parameters:
      - name: orderId
        in: query
        schema:
          type: string
      - name: documentType
        in: query
        description: Format - int32.
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          type: integer
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/export/template:
    post:
      tags:
      - OrdersExport
      summary: /orders/export/template - POST
      operationId: post-orders-export-template
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequest'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResult'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/export/text:
    get:
      tags:
      - OrdersExport
      summary: /orders/export/text - GET
      operationId: get-orders-export-text
      parameters:
      - name: orderId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FeatureCollectionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureCollectionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/FeatureCollectionResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/manage/changeState:
    post:
      tags:
      - OrdersManage
      summary: /orders/manage/changeState - POST
      operationId: post-orders-manage-changestate
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/StateChangeInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/StateChangeInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/StateChangeInfo'
          application/*+json:
            schema:
              $ref: '#/components/schemas/StateChangeInfo'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/manage/create:
    post:
      tags:
      - OrdersManage
      summary: /orders/manage/create - POST
      operationId: post-orders-manage-create
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/NewOrder'
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/NewOrder'
          application/*+json:
            schema:
              $ref: '#/components/schemas/NewOrder'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/manage/delete:
    post:
      tags:
      - OrdersManage
      summary: /orders/manage/delete - POST
      operationId: post-orders-manage-delete
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequest'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/manage/update:
    post:
      tags:
      - OrdersManage
      summary: /orders/manage/update - POST
      operationId: post-orders-manage-update
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/UpdateOrderParameters'
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderParameters'
          application/*+json:
            schema:
              $ref: '#/components/schemas/UpdateOrderParameters'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/manage/validate:
    get:
      tags:
      - OrdersManage
      summary: /orders/manage/validate - GET
      operationId: get-orders-manage-validate
      parameters:
      - name: authorityId
        in: query
        schema:
          type: string
      - name: orderId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/query/getByAuthorityStateAndType:
    get:
      tags:
      - OrdersQuery
      summary: /orders/query/getByAuthorityStateAndType - GET
      operationId: get-orders-query-getbyauthoritystateandtype
      parameters:
      - name: authorityId
        in: query
        schema:
          type: string
      - name: state
        in: query
        description: Format - int32.
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          type: integer
      - name: orderType
        in: query
        description: Format - int32.
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          type: integer
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrderArrayResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderArrayResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderArrayResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/query/getById:
    get:
      tags:
      - OrdersQuery
      summary: /orders/query/getById - GET
      operationId: get-orders-query-getbyid
      parameters:
      - name: orderId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FullOrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/FullOrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/FullOrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/query/getByQuery:
    post:
      tags:
      - OrdersQuery
      summary: /orders/query/getByQuery - POST
      operationId: post-orders-query-getbyquery
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/OrderQueryArgs'
          application/json:
            schema:
              $ref: '#/components/schemas/OrderQueryArgs'
          text/json:
            schema:
              $ref: '#/components/schemas/OrderQueryArgs'
          application/*+json:
            schema:
              $ref: '#/components/schemas/OrderQueryArgs'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrderArrayResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderArrayResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderArrayResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/query/getChangeSet:
    get:
      tags:
      - OrdersQuery
      summary: /orders/query/getChangeSet - GET
      operationId: get-orders-query-getchangeset
      parameters:
      - name: changeSetId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FullChangeSetResult'
            application/json:
              schema:
                $ref: '#/components/schemas/FullChangeSetResult'
            text/json:
              schema:
                $ref: '#/components/schemas/FullChangeSetResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/query/getLatestDocumentsByOrder:
    get:
      tags:
      - OrdersQuery
      summary: /orders/query/getLatestDocumentsByOrder - GET
      operationId: get-orders-query-getlatestdocumentsbyorder
      parameters:
      - name: orderId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StaticOrderDocumentListResult'
            application/json:
              schema:
                $ref: '#/components/schemas/StaticOrderDocumentListResult'
            text/json:
              schema:
                $ref: '#/components/schemas/StaticOrderDocumentListResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/query/getLatestMade:
    get:
      tags:
      - OrdersQuery
      summary: /orders/query/getLatestMade - GET
      operationId: get-orders-query-getlatestmade
      parameters:
      - name: ospId
        in: query
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339).
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /orders/query/getSparseOrderById:
    get:
      tags:
      - OrdersQuery
      summary: /orders/query/getSparseOrderById - GET
      operationId: get-orders-query-getsparseorderbyid
      parameters:
      - name: orderId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OrderResult'
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
            text/json:
              schema:
                $ref: '#/components/schemas/OrderResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /suspensions/create:
    post:
      tags:
      - Suspensions
      summary: /suspensions/create - POST
      operationId: post-suspensions-create
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Suspension'
          application/json:
            schema:
              $ref: '#/components/schemas/Suspension'
          text/json:
            schema:
              $ref: '#/components/schemas/Suspension'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Suspension'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SuspensionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/SuspensionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SuspensionResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /suspensions/delete:
    post:
      tags:
      - Suspensions
      summary: /suspensions/delete - POST
      operationId: post-suspensions-delete
      parameters:
      - name: suspensionId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /suspensions/getByAuthorityId:
    get:
      tags:
      - Suspensions
      summary: /suspensions/getByAuthorityId - GET
      operationId: get-suspensions-getbyauthorityid
      parameters:
      - name: authorityId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SuspensionArrayResult'
            application/json:
              schema:
                $ref: '#/components/schemas/SuspensionArrayResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SuspensionArrayResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /suspensions/getById:
    get:
      tags:
      - Suspensions
      summary: /suspensions/getById - GET
      operationId: get-suspensions-getbyid
      parameters:
      - name: suspensionId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SuspensionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/SuspensionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SuspensionResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /suspensions/update:
    post:
      tags:
      - Suspensions
      summary: /suspensions/update - POST
      operationId: post-suspensions-update
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Suspension'
          application/json:
            schema:
              $ref: '#/components/schemas/Suspension'
          text/json:
            schema:
              $ref: '#/components/schemas/Suspension'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Suspension'
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SuspensionResult'
            application/json:
              schema:
                $ref: '#/components/schemas/SuspensionResult'
            text/json:
              schema:
                $ref: '#/components/schemas/SuspensionResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    CrsProperties:
      type: object
      properties:
        name:
          type: string
          nullable: true
      additionalProperties: false
    Crs:
      type: object
      properties:
        type:
          type: string
          nullable: true
        properties:
          $ref: '#/components/schemas/CrsProperties'
      additionalProperties: false
    Polygon:
      type: object
      properties:
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              items:
                type: number
                format: double
          nullable: true
        type:
          type: string
          nullable: true
        crs:
          $ref: '#/components/schemas/Crs'
      additionalProperties: false
    HoursCms:
      type: object
      properties:
        start:
          type: string
          description: ISO-8601 time pattern, extended as required to accommodate nanoseconds.
          example: 00:00:00
        end:
          type: string
          description: ISO-8601 time pattern, extended as required to accommodate nanoseconds.
          example: 00:00:00
      additionalProperties: false
    MonthAndDayCms:
      type: object
      properties:
        month:
          type: integer
          format: int32
        day:
          type: integer
          format: int32
      additionalProperties: false
    RuleTimeCms:
      type: object
      properties:
        months:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        days:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        weekNumbers:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        hours:
          type: array
          items:
            $ref: '#/components/schemas/HoursCms'
          nullable: true
        firstDate:
          $ref: '#/components/schemas/MonthAndDayCms'
        lastDate:
          $ref: '#/components/schemas/MonthAndDayCms'
      additionalProperties: false
    RuleCms:
      type: object
      properties:
        ruleTime:
          $ref: '#/components/schemas/RuleTimeCms'
        parkingEntitlementTypeIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        maxStay:
          type: integer
          format: int32
          nullable: true
        minStay:
          type: integer
          format: int32
          nullable: true
        noReturn:
          type: integer
          format: int32
          nullable: true
        noReturnUntil:
          type: string
          description: ISO-8601 time pattern, extended as required to accommodate nanoseconds.
          nullable: true
          example: 00:00:00
      additionalProperties: false
    OperatingHoursCms:
      type: object
      properties:
        standardDays:
          type: array
          items:
            $ref: '#/components/schemas/RuleCms'
          nullable: true
        eventDays:
          type: array
          items:
            $ref: '#/components/schemas/RuleCms'
          nullable: true
      additionalProperties: false
    OperatingHoursSet:
      type: object
      properties:
        operatingHours:
          $ref: '#/components/schemas/OperatingHoursCms'
        setId:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        formattedName:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    TariffDetailSurchargeCms:
      type: object
      properties:
        surchargeType:
          type: integer
          format: int32
        value:
          type: integer
          format: int32
          nullable: true
        notes:
          type: string
          nullable: true
        ruleType:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    TariffDetailCms:
      type: object
      properties:
        price:
          type: integer
          format: int32
        surcharge:
          type: integer
          format: int32
          nullable: true
        surchargeDetail:
          $ref: '#/components/schemas/TariffDetailSurchargeCms'
        duration:
          type: integer
          format: int32
          nullable: true
        minimumPriceIncrement:
          type: integer
          format: int32
          nullable: true
        singlePaymentCanCrossMidnight:
          type: boolean
        from:
          type: integer
          format: int32
        upTo:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    TariffForTimesAndDatesCms:
      type: object
      properties:
        parkingEntitlementTypeIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/TariffDetailCms'
          nullable: true
        timeFrom:
          type: string
          description: ISO-8601 time pattern, extended as required to accommodate nanoseconds.
          nullable: true
          example: 00:00:00
        timeTo:
          type: string
          description: ISO-8601 time pattern, extended as required to accommodate nanoseconds.
          nullable: true
          example: 00:00:00
        firstDate:
          $ref: '#/components/schemas/MonthAndDayCms'
        lastDate:
          $ref: '#/components/schemas/MonthAndDayCms'
        months:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        days:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        timeType:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    TariffSet:
      type: object
      properties:
        tariffs:
          type: array
          items:
            $ref: '#/components/schemas/TariffForTimesAndDatesCms'
          nullable: true
        setId:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        formattedName:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    PublicSetCollection:
      type: object
      properties:
        operatingHoursSets:
          type: array
          items:
            $ref: '#/components/schemas/OperatingHoursSet'
          nullable: true
        tariffSets:
          type: array
          items:
            $ref: '#/components/schemas/TariffSet'
          nullable: true
      additionalProperties: false
    OrdnanceSurvey:
      type: object
      properties:
        apiKey:
          type: string
          nullable: true
        license:
          type: string
          nullable: true
      additionalProperties: false
    AuthorityPublicCmsBlob:
      type: object
      properties:
        authorityId:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        shape:
          $ref: '#/components/schemas/Polygon'
        sets:
          $ref: '#/components/schemas/PublicSetCollection'
        ordnanceSurvey:
          $ref: '#/components/schemas/OrdnanceSurvey'
      additionalProperties: false
    LinkedEntitlementSet:
      type: object
      properties:
        parkingEntitlementTypeIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        setId:
          type: string
          nullable: true
      additionalProperties: false
    LinkedSet:
      type: object
      properties:
        setId:
          type: string
          nullable: true
      additionalProperties: false
    SetRestrictionDetail:
      type: object
      properties:
        restrictionTypeId:
          type: integer
          format: int32
        locationNumber:
          type: string
          nullable: true
        operatingHoursSet:
          type: array
          items:
            $ref: '#/components/schemas/LinkedEntitlementSet'
          nullable: true
        exemptionsSet:
          $ref: '#/components/schemas/LinkedSet'
        exceptionsSet:
          $ref: '#/components/schemas/LinkedSet'
        tariffsSet:
          type: array
          items:
            $ref: '#/components/schemas/LinkedEntitlementSet'
          nullable: true
      additionalProperties: false
    ZoneType:
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 7
      - 8
      - 9
      - 10
      type: integer
      format: int32
    ZonePublicFeatureProperties:
      type: object
      properties:
        zoneId:
          type: string
          nullable: true
        authorityId:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        restrictionTypeDetails:
          type: array
          items:
            $ref: '#/components/schemas/SetRestrictionDetail'
          nullable: true
        type:
          $ref: '#/components/schemas/ZoneType'
        venueId:
          type: string
          nullable: true
      additionalProperties: false
    PolygonZonePublicFeaturePropertiesFeature:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/ZonePublicFeatureProperties'
        geometry:
          $ref: '#/components/schemas/Polygon'
        type:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
      additionalProperties: false
    PolygonZonePublicFeaturePropertiesFeatureCollection:
      type: object
      properties:
        type:
          type: string
          nullable: true
        features:
          type: array
          items:
            $ref: '#/components/schemas/PolygonZonePublicFeaturePropertiesFeature'
          nullable: true
        properties:
          type: object
          additionalProperties: false
          nullable: true
      additionalProperties: false
    LatLng:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
      additionalProperties: false
    OspPublicFeatureProperties:
      type: object
      properties:
        onStreetParkingId:
          type: string
          nullable: true
        authorityId:
          type: string
          nullable: true
        zoneId:
          type: string
          nullable: true
        restrictionTypeDetails:
          type: array
          items:
            $ref: '#/components/schemas/SetRestrictionDetail'
          nullable: true
        venueId:
          type: string
          nullable: true
        centroid:
          $ref: '#/components/schemas/LatLng'
      additionalProperties: false
    Geometry:
      type: object
      properties:
        type:
          type: string
          nullable: true
        crs:
          $ref: '#/components/schemas/Crs'
      additionalProperties: false
    GeometryOspPublicFeaturePropertiesFeature:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/OspPublicFeatureProperties'
        geometry:
          $ref: '#/components/schemas/Geometry'
        type:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
      additionalProperties: false
    GeometryOspPublicFeaturePropertiesFeatureCollection:
      type: object
      properties:
        type:
          type: string
          nullable: true
        features:
          type: array
          items:
            $ref: '#/components/schemas/GeometryOspPublicFeaturePropertiesFeature'
          nullable: true
        properties:
          type: object
          additionalProperties: false
          nullable: true
      additionalProperties: false
    PublicAuthoritySnapshotInfoDoc:
      type: object
      properties:
        authorityUrl:
          $ref: '#/components/schemas/AuthorityPublicCmsBlob'
        zonesUrl:
          $ref: '#/components/schemas/PolygonZonePublicFeaturePropertiesFeatureCollection'
        ospsUrl:
          type: array
          items:
            $ref: '#/components/schemas/GeometryOspPublicFeaturePropertiesFeatureCollection'
          nullable: true
        date:
          type: string
          format: date-time
        dataUpdateId:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
    PublicAuthoritySnapshotInfoDocResult:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        data:
          $ref: '#/components/schemas/PublicAuthoritySnapshotInfoDoc'
      additionalProperties: false
    NoteCms:
      type: object
      properties:
        noteVisibilityTypeId:
          type: integer
          format: int32
        appliesToRestrictionTypeIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        priority:
          type: integer
          format: int32
        title:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
        telephone:
          type: string
          nullable: true
      additionalProperties: false
    PaymentProviderCms:
      type: object
      properties:
        name:
          type: string
          nullable: true
        paymentUrl:
          type: string
          nullable: true
        telephone:
          type: string
          nullable: true
        cashlessMerchantId:
          type: string
          nullable: true
      additionalProperties: false
    ExemptionCms:
      type: object
      properties:
        exemptionTypeId:
          type: integer
          format: int32
        parkingEntitlementTypeId:
          type: integer
          format: int32
        exemptionTimeTypeId:
          type: integer
          format: int32
        exemptionApplies:
          type: boolean
        maxStay:
          type: integer
          format: int32
          nullable: true
        noReturn:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    ExemptionsSet:
      type: object
      properties:
        exemptions:
          type: array
          items:
            $ref: '#/components/schemas/ExemptionCms'
          nullable: true
        setId:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        formattedName:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    DaySpecificRestrictionExceptionCms:
      type: object
      properties:
        publicHolidayOrNamedDayId:
          type: string
          nullable: true
        restrictionExceptionTypeId:
          type: integer
          format: int32
      additionalProperties: false
    ExceptionsCms:
      type: object
      properties:
        allHolidaysRestrictionExceptionTypeId:
          type: integer
          format: int32
          nullable: true
        daySpecificRestrictionExceptions:
          type: array
          items:
            $ref: '#/components/schemas/DaySpecificRestrictionExceptionCms'
          nullable: true
      additionalProperties: false
    ExceptionsSet:
      type: object
      properties:
        exceptions:
          $ref: '#/components/schemas/ExceptionsCms'
        setId:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        formattedName:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    SetCollection:
      type: object
      properties:
        operatingHoursSets:
          type: array
          items:
            $ref: '#/components/schemas/OperatingHoursSet'
          nullable: true
        exemptionsSets:
          type: array
          items:
            $ref: '#/components/schemas/ExemptionsSet'
          nullable: true
        exceptionsSets:
          type: array
          items:
            $ref: '#/components/schemas/ExceptionsSet'
          nullable: true
        tariffSets:
          type: array
          items:
            $ref: '#/components/schemas/TariffSet'
          nullable: true
      additionalProperties: false
    AuthorityCmsBlob:
      type: object
      properties:
        authorityId:
          type: string
          nullable: true
        authorityGuid:
          type: string
          format: uuid
          readOnly: true
        authoritySlugs:
          type: array
          items:
            type: string
          nullable: true
        regionId:
          type: string
          nullable: true
        countryId:
          type: string
          nullable: true
        fallbackZoneId:
          type: string
          nullable: true
        authorityType:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        shape:
          $ref: '#/components/schemas/Polygon'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/NoteCms'
          nullable: true
        recognizedParkingEntitlementTypeIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        paymentProvider:
          $ref: '#/components/schemas/PaymentProviderCms'
        hasFreeParkingOutsideZone:
          type: boolean
          nullable: true
        isPubliclyViewable:
          type: boolean
        sets:
          $ref: '#/components/schemas/SetCollection'
        timeZoneId:
          type: string
          nullable: true
        ordnanceSurvey:
          $ref: '#/components/schemas/OrdnanceSurvey'
        privacyPolicyUrl:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    Zone:
      type: object
      properties:
        zoneId:
          type: string
          nullable: true
        authorityId:
          type: string
          nullable: true
        parentZoneId:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/ZoneType'
        name:
          type: string
          nullable: true
        restrictionTypeDetails:
          type: array
          items:
            $ref: '#/components/schemas/SetRestrictionDetail'
          nullable: true
        notes:
          type: array
          items:
            $ref: '#/components/schemas/NoteCms'
          nullable: true
        venueId:
          type: string
          nullable: true
        sourceTag:
          type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    PolygonZoneFeature:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/Zone'
        geometry:
          $ref: '#/components/schemas/Polygon'
        type:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
      additionalProperties: false
    PolygonZoneFeatureCollection:
      type: object
      properties:
        type:
          type: string
          nullable: true
        features:
          type: array
          items:
            $ref: '#/components/schemas/PolygonZoneFeature'
          nullable: true
        properties:
          type: object
          additionalProperties: false
          nullable: true
      additionalProperties: false
    AddressCms:
      type: object
      properties:
        street:
          type: string
          nullable: true
        postcode:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      additionalProperties: false
    ElectricConnectionCms:
      type: object
      properties:
        type:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        quantity:
          type: integer
          format: int32
      additionalProperties: false
    ElectricPointCms:
      type: object
      properties:
        manufacturer:
          type: string
          nullable: true
        manufacturerContactNumber:
          type: string
          nullable: true
        chargeFee:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        electricConnections:
          type: array
          items:
            $ref: '#/components/schemas/ElectricConnectionCms'
          nullable: true
      additionalProperties: false
    Osp:
      type: object
      properties:
        onStreetParkingId:
          type: string
          nullable: true
        zoneId:
          type: string
          nullable: true
        authorityId:
          type: string
          nullable: true
        address:
          $ref: '#/components/schemas/AddressCms'
        length:
          type: number
          format: double
          nullable: true
        bays:
          type: integer
          format: int32
          nullable: true
        restrictionTypeDetails:
          type: array
          items:
            $ref: '#/components/schemas/SetRestrictionDetail'
          nullable: true
        notes:
          type: array
          items:
            $ref: '#/components/schemas/NoteCms'
          nullable: true
        electricPoint:
          $ref: '#/components/schemas/ElectricPointCms'
        venueId:
          type: string
          nullable: true
        sourceTag:
          type: string
          nullable: true
        sensorIds:
          type: array
          items:
            type: string
          nullable: true
        metaData:
          type: object
          additionalProperties:
            type: string
          nullable: true
        centroid:
          $ref: '#/components/schemas/LatLng'
        tags:
          type: array
          items:
            type: string
          nullable: true
        linkedOspIds:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    GeometryOspFeature:
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/Osp'
        geometry:
          $ref: '#/components/schemas/Geometry'
        type:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
      additionalProperties: false
    GeometryOspFeatureCollection:
      type: object
      properties:
        type:
          type: string
          nullable: true
        features:
          type: array
          items:
            $ref: '#/components/schemas/GeometryOspFeature'
          nullable: true
        properties:
          type: object
          additionalProperties: false
          nullable: true
      additionalProperties: false
    AuthoritySnapshotInfoDoc:
      type: object
      properties:
        authorityUrl:
          $ref: '#/components/schemas/AuthorityCmsBlob'
        zonesUrl:
          $ref: '#/components/schemas/PolygonZoneFeatureCollection'
        ospsUrl:
          $ref: '#/components/schemas/GeometryOspFeatureCollection'
        date:
          type: string
          format: date-time
        dataUpdateId:
          type: string
          format: uuid
          nullable: true
      additionalProperties: false
    AuthoritySnapshotInfoDocResult:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        data:
          $ref: '#/components/schemas/AuthoritySnapshotInfoDoc'
      additionalProperties: false
    BoundingBox:
      type: object
      properties:
        topLeft:
          $ref: '#/components/schemas/LatLng'
        bottomRight:
          $ref: '#/components/schemas/LatLng'
      additionalProperties: false
    AuthorityDetail:
      type: object
      properties:
        centroid:
          $ref: '#/components/schemas/LatLng'
        boundingBox:
          $ref: '#/components/schemas/BoundingBox'
        privacyPolicyUrl:
          type: string
          nullable: true
        authorityId:
          type: string
          nullable: true
        authoritySlugs:
          type: array
          items:
            type: string
          nullable: true
        name:
          type: string
          nullable: true
        ordnanceSurvey:
          $ref: '#/components/schemas/OrdnanceSurvey'
      additionalProperties: false
    AuthorityDetailResult:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        data:
          $ref: '#/components/schemas/AuthorityDetail'
      additionalProperties: false
    AuthorityBaseData:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
        regionId:
          type: string
          nullable: true
        countryId:
          type: string
          nullable: true
        authoritySlugs:
          type: array
          items:
            type: string
          nullable: true
        isPubliclyViewable:
          type: boolean
        ordnanceSurvey:
          $ref: '#/components/schemas/OrdnanceSurvey'
      additionalProperties: false
    AuthorityBaseDataListResult:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/AuthorityBaseData'
          nullable: true
      additionalProperties: false
    AuthorityInfo:
      type: object
      properties:
        made:
          type: integer
          format: int32
        published:
          type: integer
          format: int32
        proposal:
          type: integer
          format: int32
        editingProposal:
          type: integer
          format: int32
        editingDraft:
          type: integer
          format: int32
        draft:
          type: integer
          format: int32
        authorityId:
          type: string
          nullable: true
        authoritySlugs:
          type: array
          items:
            type: string
          nullable: true
        name:
          type: string
          nullable: true
        ordnanceSurvey:
          $ref: '#/components/schemas/OrdnanceSurvey'
      additionalProperties: false
    AuthorityInfoArrayResult:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/AuthorityInfo'
          nullable: true
      additionalProperties: false
    CarParkLight:
      type: object
      properties:
        name:
          type: string
          nullable: true
        eTag:
          type: string
          nullable: true
        carParkId:
          type: string
          nullable: true
        dataOriginId:
          type: string
          nullable: true
      additionalProperties: false
    CarParkLightListResult:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/CarParkLight'
          nullable: true
      additionalProperties: false
    Point:
      type: object
      properties:
        coordinates:
          type: array
          items:
            type: number
            format: double
          nullable: true
        type:
          type: string
          nullable: true
        crs:
          $ref: '#/components/schemas/Crs'
      additionalProperties: false
    LocationDetailsCms:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        shape:
          $ref: '#/components/schemas/Geometry'
        address:
          $ref: '#/components/schemas/AddressCms'
        line:
          $ref: '#/components/schemas/Geometry'
        centroid:
          $ref: '#/components/schemas/Point'
      additionalProperties: false
    CarParkTimesOfOperationCms:
      type: object
      properties:
        type:
          type: integer
          format: int32
        time:
          type: array
          items:
            $ref: '#/components/schemas/RuleTimeCms'
          nullable: true
        tariffs:
          type: array
          items:
            $ref: '#/components/schemas/TariffForTimesAndDatesCms'
          nullable: true
        maxStay:
          type: integer
          format: int32
          nullable: true
        minStay:
          type: integer
          format: int32
          nullable: true
        noReturn:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    ReviewCms:
      type: object
      properties:
        username:
          type: string
          nullable: true
        rating:
          type: number
          format: double
        dateAndTime:
          type: string
          format: date-time
        description:
          type: string
          nullable: true
      additionalProperties: false
    SmartCarparkBayCountCms:
      type: object
      properties:
        count:
          type: integer
          format: int32
        type:
          type: string
          nullable: true
      additionalProperties: false
    SmartCarparkBayCms:
      type: object
      properties:
        bayId:
          type: string
          nullable: true
        shape:
          $ref: '#/components/schemas/Geometry'
        sensorIds:
          type: array
          items:
            type: string
          nullable: true
        bayType:
          type: string
          nullable: true
        maxStay:
          type: integer
          format: int32
          nullable: true
        gracePeriod:
          type: integer
          format: int32
          nullable: true
        name:
          type: string
          nullable: true
        bayFloorOrder:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    SmartCarparkFloorCms:
      type: object
      properties:
        floorId:
          type: string
          nullable: true
        shape:
          $ref: '#/components/schemas/Geometry'
        name:
          type: string
          nullable: true
        floorOrder:
          type: integer
          format: int32
        bayCounts:
          type: array
          items:
            $ref: '#/components/schemas/SmartCarparkBayCountCms'
          nullable: true
        bays:
          type: array
          items:
            $ref: '#/components/schemas/SmartCarparkBayCms'
          nullable: true
        enterSensors:
          type: array
          items:
            type: string
          nullable: true
        exitSensors:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    CarparkConfiguration:
      enum:
      - 0
      - 1
      - 2
      type: integer
      format: int32
    SurfaceType:
      enum:
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
      type: integer
      format: int32
    CarParkCmsBlob:
      type: object
      properties:
        carParkId:
          type: string
          nullable: true
        dataOriginId:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        subTitle:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        otherInformation:
          type: string
          nullable: true
        telephone:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        paymentTelephone:
          type: string
          nullable: true
        paymentUrl:
          type: string
          nullable: true
        type:
          type: integer
          format: int32
        locationDetails:
          $ref: '#/components/schemas/LocationDetailsCms'
        locationProvider:
          type: integer
          format: int32
          nullable: true
        openHours:
          type: array
          items:
            $ref: '#/components/schemas/RuleTimeCms'
          nullable: true
        timesOfOperation:
          type: array
          items:
            $ref: '#/components/schemas/CarParkTimesOfOperationCms'
          nullable: true
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/ReviewCms'
          nullable: true
        notes:
          type: array
          items:
            $ref: '#/components/schemas/NoteCms'
          nullable: true
        bays:
          type: integer
          format: int32
          nullable: true
        disabledSpaces:
          type: integer
          format: int32
          nullable: true
        chargingPoints:
          type: integer
          format: int32
          nullable: true
        motorcycleBays:
          type: integer
          format: int32
          nullable: true
        isFree:
          type: boolean
          nullable: true
        isFreeMotorcycle:
          type: boolean
          nullable: true
        hasLifts:
          type: boolean
          nullable: true
        isManned:
          type: boolean
          nullable: true
        cardsAccepted:
          type: boolean
          nullable: true
        canPayByMobile:
          type: boolean
          nullable: true
        hasToilets:
          type: boolean
          nullable: true
        heightRestriction:
          type: string
          nullable: true
        seasonTicket:
          type: string
          nullable: true
        timeType:
          type: integer
          format: int32
          nullable: true
        sourceTag:
          type: string
          nullable: true
        partition:
          type: string
          nullable: true
        layout:
          type: array
          items:
            $ref: '#/components/schemas/SmartCarparkFloorCms'
          nullable: true
        ownerId:
          type: string
          nullable: true
        authorityId:
          type: string
          nullable: true
        locationNumber:
          type: string
          nullable: true
        counterType:
          $ref: '#/components/schemas/CarparkConfiguration'
        surfaceType:
          $ref: '#/components/schemas/SurfaceType'
        timezoneSystemId:
          type: string
          nullable: true
        hasBLEPayment:
          type: boolean
        hasCarpool:
          type: boolean
        hasBLETag:
          type: boolean
        maxStay:
          type: integer
          format: int32
          nullable: true
        gracePeriod:
          type: integer
          format: int32
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        parentId:
          type: string
          nullable: true
          readOnly: true
        registrationEnabled:
          type: boolean
      additionalProperties: false
    CarParkCmsBlobResult:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        data:
          $ref: '#/components/schemas/CarParkCmsBlob'
      additionalProperties: false
    CarParkInfo:
      type: object
      properties:
        carparkId:
          type: integer
          format: int32
        name:
          type: string
          nullable: true
        address:
          type: string
          nullable: true
        operatingHoursText:
          type: string
          nullable: true
      additionalProperties: false
    CarParkInfoListResult:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/CarParkInfo'
          nullable: true
      additionalProperties: false
    CarparkTariffsRequest:
      type: object
      properties:
        carparkId:
          type: integer
          format: int32
[...]
