openapi: 3.0.1
info:
  title: Traffic Data
  version: "1.0"
servers:
- url: https://api.appyway.com/v1/traffic-data
paths:
  /authorities/getAll:
    get:
      tags:
      - Authorities
      summary: /authorities/getAll - GET
      operationId: get-authorities-getall
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityBaseDataListResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityBaseDataListResult'
              example:
                success: true
                data:
                - id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  isPubliclyViewable: true
                  ordnanceSurvey:
                    apiKey: string
                    license: string
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityBaseDataListResult'
              example:
                success: true
                data:
                - id: string
                  name: string
                  regionId: string
                  countryId: string
                  authoritySlugs:
                  - string
                  isPubliclyViewable: true
                  ordnanceSurvey:
                    apiKey: string
                    license: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getAuthoritiesWithMovingOrders:
    get:
      tags:
      - Authorities
      summary: /authorities/getAuthoritiesWithMovingOrders - GET
      operationId: get-authorities-getauthoritieswithmovingorders
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
              example:
                success: true
                data:
                - made: 0
                  published: 0
                  proposal: 0
                  editingProposal: 0
                  editingDraft: 0
                  draft: 0
                  authorityId: string
                  authoritySlugs:
                  - string
                  name: string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
              example:
                success: true
                data:
                - made: 0
                  published: 0
                  proposal: 0
                  editingProposal: 0
                  editingDraft: 0
                  draft: 0
                  authorityId: string
                  authoritySlugs:
                  - string
                  name: string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getAuthoritiesWithOrders:
    get:
      tags:
      - Authorities
      summary: /authorities/getAuthoritiesWithOrders - GET
      operationId: get-authorities-getauthoritieswithorders
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
              example:
                success: true
                data:
                - made: 0
                  published: 0
                  proposal: 0
                  editingProposal: 0
                  editingDraft: 0
                  draft: 0
                  authorityId: string
                  authoritySlugs:
                  - string
                  name: string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
              example:
                success: true
                data:
                - made: 0
                  published: 0
                  proposal: 0
                  editingProposal: 0
                  editingDraft: 0
                  draft: 0
                  authorityId: string
                  authoritySlugs:
                  - string
                  name: string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getAuthoritiesWithStaticOrders:
    get:
      tags:
      - Authorities
      summary: /authorities/getAuthoritiesWithStaticOrders - GET
      operationId: get-authorities-getauthoritieswithstaticorders
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
              example:
                success: true
                data:
                - made: 0
                  published: 0
                  proposal: 0
                  editingProposal: 0
                  editingDraft: 0
                  draft: 0
                  authorityId: string
                  authoritySlugs:
                  - string
                  name: string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityInfoArrayResult'
              example:
                success: true
                data:
                - made: 0
                  published: 0
                  proposal: 0
                  editingProposal: 0
                  editingDraft: 0
                  draft: 0
                  authorityId: string
                  authoritySlugs:
                  - string
                  name: string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getById:
    get:
      tags:
      - Authorities
      summary: /authorities/getById - GET
      operationId: get-authorities-getbyid
      parameters:
      - name: authorityId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
              example:
                success: true
                data:
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  privacyPolicyUrl: string
                  authorityId: string
                  authoritySlugs:
                  - string
                  name: string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
              example:
                success: true
                data:
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  privacyPolicyUrl: string
                  authorityId: string
                  authoritySlugs:
                  - string
                  name: string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getBySlug:
    get:
      tags:
      - Authorities
      summary: /authorities/getBySlug - GET
      operationId: get-authorities-getbyslug
      parameters:
      - name: slug
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
              example:
                success: true
                data:
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  privacyPolicyUrl: string
                  authorityId: string
                  authoritySlugs:
                  - string
                  name: string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityDetailResult'
              example:
                success: true
                data:
                  centroid:
                    latitude: 0
                    longitude: 0
                  boundingBox:
                    topLeft:
                      latitude: 0
                      longitude: 0
                    bottomRight:
                      latitude: 0
                      longitude: 0
                  privacyPolicyUrl: string
                  authorityId: string
                  authoritySlugs:
                  - string
                  name: string
                  ordnanceSurvey:
                    apiKey: string
                    license: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getFullById:
    get:
      tags:
      - Authorities
      summary: /authorities/getFullById - GET
      operationId: get-authorities-getfullbyid
      parameters:
      - name: authorityId
        in: query
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339).
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  authorityUrl:
                    authorityId: string
                    authorityGuid: string
                    authoritySlugs:
                    - string
                    regionId: string
                    countryId: string
                    fallbackZoneId: string
                    authorityType: 0
                    name: string
                    shape:
                      coordinates:
                      - - - 0
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    notes:
                    - noteVisibilityTypeId: 0
                      appliesToRestrictionTypeIds:
                      - 0
                      priority: 0
                      title: string
                      message: string
                      url: string
                      telephone: string
                    recognizedParkingEntitlementTypeIds:
                    - 0
                    paymentProvider:
                      name: string
                      paymentUrl: string
                      telephone: string
                      cashlessMerchantId: string
                    hasFreeParkingOutsideZone: true
                    isPubliclyViewable: true
                    sets:
                      operatingHoursSets:
                      - operatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                        setId: string
                        name: string
                        formattedName: string
                      exemptionsSets:
                      - exemptions:
                        - exemptionTypeId: 0
                          parkingEntitlementTypeId: 0
                          exemptionTimeTypeId: 0
                          exemptionApplies: true
                          maxStay: 0
                          noReturn: 0
                        setId: string
                        name: string
                        formattedName: string
                      exceptionsSets:
                      - exceptions:
                          allHolidaysRestrictionExceptionTypeId: 0
                          daySpecificRestrictionExceptions:
                          - publicHolidayOrNamedDayId: string
                            restrictionExceptionTypeId: 0
                        setId: string
                        name: string
                        formattedName: string
                      tariffSets:
                      - tariffs:
                        - parkingEntitlementTypeIds:
                          - 0
                          details:
                          - price: 0
                            surcharge: 0
                            surchargeDetail:
                              surchargeType: 0
                              value: 0
                              notes: string
                              ruleType: 0
                            duration: 0
                            minimumPriceIncrement: 0
                            singlePaymentCanCrossMidnight: true
                            from: 0
                            upTo: 0
                          timeFrom: 2021-08-04T00:00:00.0000000+00:00
                          timeTo: 2021-08-04T00:00:00.0000000+00:00
                          firstDate:
                            month: 0
                            day: 0
                          lastDate:
                            month: 0
                            day: 0
                          months:
                          - 0
                          days:
                          - 0
                          timeType: 0
                        setId: string
                        name: string
                        formattedName: string
                    timeZoneId: string
                    ordnanceSurvey:
                      apiKey: string
                      license: string
                    privacyPolicyUrl: string
                    tags:
                    - string
                  zonesUrl:
                    type: string
                    features:
                    - properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                      geometry:
                        coordinates:
                        - - - 0
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  ospsUrl:
                    type: string
                    features:
                    - properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - locationNumber: string
                          exemptionsSet:
                            setId: string
                          tariffsSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        metaData: {}
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  date: string
                  dataUpdateId: string
            text/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  authorityUrl:
                    authorityId: string
                    authorityGuid: string
                    authoritySlugs:
                    - string
                    regionId: string
                    countryId: string
                    fallbackZoneId: string
                    authorityType: 0
                    name: string
                    shape:
                      coordinates:
                      - - - 0
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    notes:
                    - noteVisibilityTypeId: 0
                      appliesToRestrictionTypeIds:
                      - 0
                      priority: 0
                      title: string
                      message: string
                      url: string
                      telephone: string
                    recognizedParkingEntitlementTypeIds:
                    - 0
                    paymentProvider:
                      name: string
                      paymentUrl: string
                      telephone: string
                      cashlessMerchantId: string
                    hasFreeParkingOutsideZone: true
                    isPubliclyViewable: true
                    sets:
                      operatingHoursSets:
                      - operatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                        setId: string
                        name: string
                        formattedName: string
                      exemptionsSets:
                      - exemptions:
                        - exemptionTypeId: 0
                          parkingEntitlementTypeId: 0
                          exemptionTimeTypeId: 0
                          exemptionApplies: true
                          maxStay: 0
                          noReturn: 0
                        setId: string
                        name: string
                        formattedName: string
                      exceptionsSets:
                      - exceptions:
                          allHolidaysRestrictionExceptionTypeId: 0
                          daySpecificRestrictionExceptions:
                          - publicHolidayOrNamedDayId: string
                            restrictionExceptionTypeId: 0
                        setId: string
                        name: string
                        formattedName: string
                      tariffSets:
                      - tariffs:
                        - parkingEntitlementTypeIds:
                          - 0
                          details:
                          - price: 0
                            surcharge: 0
                            surchargeDetail:
                              surchargeType: 0
                              value: 0
                              notes: string
                              ruleType: 0
                            duration: 0
                            minimumPriceIncrement: 0
                            singlePaymentCanCrossMidnight: true
                            from: 0
                            upTo: 0
                          timeFrom: 2021-08-04T00:00:00.0000000+00:00
                          timeTo: 2021-08-04T00:00:00.0000000+00:00
                          firstDate:
                            month: 0
                            day: 0
                          lastDate:
                            month: 0
                            day: 0
                          months:
                          - 0
                          days:
                          - 0
                          timeType: 0
                        setId: string
                        name: string
                        formattedName: string
                    timeZoneId: string
                    ordnanceSurvey:
                      apiKey: string
                      license: string
                    privacyPolicyUrl: string
                    tags:
                    - string
                  zonesUrl:
                    type: string
                    features:
                    - properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                      geometry:
                        coordinates:
                        - - - 0
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  ospsUrl:
                    type: string
                    features:
                    - properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - locationNumber: string
                          exemptionsSet:
                            setId: string
                          tariffsSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        metaData: {}
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  date: string
                  dataUpdateId: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getFullBySlug:
    get:
      tags:
      - Authorities
      summary: /authorities/getFullBySlug - GET
      operationId: get-authorities-getfullbyslug
      parameters:
      - name: slug
        in: query
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339).
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  authorityUrl:
                    authorityId: string
                    authorityGuid: string
                    authoritySlugs:
                    - string
                    regionId: string
                    countryId: string
                    fallbackZoneId: string
                    authorityType: 0
                    name: string
                    shape:
                      coordinates:
                      - - - 0
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    notes:
                    - noteVisibilityTypeId: 0
                      appliesToRestrictionTypeIds:
                      - 0
                      priority: 0
                      title: string
                      message: string
                      url: string
                      telephone: string
                    recognizedParkingEntitlementTypeIds:
                    - 0
                    paymentProvider:
                      name: string
                      paymentUrl: string
                      telephone: string
                      cashlessMerchantId: string
                    hasFreeParkingOutsideZone: true
                    isPubliclyViewable: true
                    sets:
                      operatingHoursSets:
                      - operatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                        setId: string
                        name: string
                        formattedName: string
                      exemptionsSets:
                      - exemptions:
                        - exemptionTypeId: 0
                          parkingEntitlementTypeId: 0
                          exemptionTimeTypeId: 0
                          exemptionApplies: true
                          maxStay: 0
                          noReturn: 0
                        setId: string
                        name: string
                        formattedName: string
                      exceptionsSets:
                      - exceptions:
                          allHolidaysRestrictionExceptionTypeId: 0
                          daySpecificRestrictionExceptions:
                          - publicHolidayOrNamedDayId: string
                            restrictionExceptionTypeId: 0
                        setId: string
                        name: string
                        formattedName: string
                      tariffSets:
                      - tariffs:
                        - parkingEntitlementTypeIds:
                          - 0
                          details:
                          - price: 0
                            surcharge: 0
                            surchargeDetail:
                              surchargeType: 0
                              value: 0
                              notes: string
                              ruleType: 0
                            duration: 0
                            minimumPriceIncrement: 0
                            singlePaymentCanCrossMidnight: true
                            from: 0
                            upTo: 0
                          timeFrom: 2021-08-04T00:00:00.0000000+00:00
                          timeTo: 2021-08-04T00:00:00.0000000+00:00
                          firstDate:
                            month: 0
                            day: 0
                          lastDate:
                            month: 0
                            day: 0
                          months:
                          - 0
                          days:
                          - 0
                          timeType: 0
                        setId: string
                        name: string
                        formattedName: string
                    timeZoneId: string
                    ordnanceSurvey:
                      apiKey: string
                      license: string
                    privacyPolicyUrl: string
                    tags:
                    - string
                  zonesUrl:
                    type: string
                    features:
                    - properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                      geometry:
                        coordinates:
                        - - - 0
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  ospsUrl:
                    type: string
                    features:
                    - properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - locationNumber: string
                          exemptionsSet:
                            setId: string
                          tariffsSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        metaData: {}
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  date: string
                  dataUpdateId: string
            text/json:
              schema:
                $ref: '#/components/schemas/AuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  authorityUrl:
                    authorityId: string
                    authorityGuid: string
                    authoritySlugs:
                    - string
                    regionId: string
                    countryId: string
                    fallbackZoneId: string
                    authorityType: 0
                    name: string
                    shape:
                      coordinates:
                      - - - 0
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    notes:
                    - noteVisibilityTypeId: 0
                      appliesToRestrictionTypeIds:
                      - 0
                      priority: 0
                      title: string
                      message: string
                      url: string
                      telephone: string
                    recognizedParkingEntitlementTypeIds:
                    - 0
                    paymentProvider:
                      name: string
                      paymentUrl: string
                      telephone: string
                      cashlessMerchantId: string
                    hasFreeParkingOutsideZone: true
                    isPubliclyViewable: true
                    sets:
                      operatingHoursSets:
                      - operatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                        setId: string
                        name: string
                        formattedName: string
                      exemptionsSets:
                      - exemptions:
                        - exemptionTypeId: 0
                          parkingEntitlementTypeId: 0
                          exemptionTimeTypeId: 0
                          exemptionApplies: true
                          maxStay: 0
                          noReturn: 0
                        setId: string
                        name: string
                        formattedName: string
                      exceptionsSets:
                      - exceptions:
                          allHolidaysRestrictionExceptionTypeId: 0
                          daySpecificRestrictionExceptions:
                          - publicHolidayOrNamedDayId: string
                            restrictionExceptionTypeId: 0
                        setId: string
                        name: string
                        formattedName: string
                      tariffSets:
                      - tariffs:
                        - parkingEntitlementTypeIds:
                          - 0
                          details:
                          - price: 0
                            surcharge: 0
                            surchargeDetail:
                              surchargeType: 0
                              value: 0
                              notes: string
                              ruleType: 0
                            duration: 0
                            minimumPriceIncrement: 0
                            singlePaymentCanCrossMidnight: true
                            from: 0
                            upTo: 0
                          timeFrom: 2021-08-04T00:00:00.0000000+00:00
                          timeTo: 2021-08-04T00:00:00.0000000+00:00
                          firstDate:
                            month: 0
                            day: 0
                          lastDate:
                            month: 0
                            day: 0
                          months:
                          - 0
                          days:
                          - 0
                          timeType: 0
                        setId: string
                        name: string
                        formattedName: string
                    timeZoneId: string
                    ordnanceSurvey:
                      apiKey: string
                      license: string
                    privacyPolicyUrl: string
                    tags:
                    - string
                  zonesUrl:
                    type: string
                    features:
                    - properties:
                        zoneId: string
                        authorityId: string
                        parentZoneId: string
                        type: 1
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        venueId: string
                        sourceTag: string
                        tags:
                        - string
                      geometry:
                        coordinates:
                        - - - 0
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  ospsUrl:
                    type: string
                    features:
                    - properties:
                        onStreetParkingId: string
                        zoneId: string
                        authorityId: string
                        address:
                          street: string
                          postcode: string
                          city: string
                          country: string
                        length: 0
                        bays: 0
                        restrictionTypeDetails:
                        - locationNumber: string
                          exemptionsSet:
                            setId: string
                          tariffsSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        notes:
                        - noteVisibilityTypeId: 0
                          appliesToRestrictionTypeIds:
                          - 0
                          priority: 0
                          title: string
                          message: string
                          url: string
                          telephone: string
                        electricPoint:
                          manufacturer: string
                          manufacturerContactNumber: string
                          chargeFee: string
                          website: string
                          electricConnections:
                          - type: 0
                            name: string
                            description: string
                            quantity: 0
                        venueId: string
                        sourceTag: string
                        sensorIds:
                        - string
                        metaData: {}
                        centroid:
                          latitude: 0
                          longitude: 0
                        tags:
                        - string
                        linkedOspIds:
                        - string
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  date: string
                  dataUpdateId: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorities/getPublicBySlug:
    get:
      tags:
      - Authorities
      summary: /authorities/getPublicBySlug - GET
      operationId: get-authorities-getpublicbyslug
      parameters:
      - name: slug
        in: query
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339).
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PublicAuthoritySnapshotInfoDocResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  authorityUrl:
                    authorityId: string
                    name: string
                    shape:
                      coordinates:
                      - - - 0
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    sets:
                      operatingHoursSets:
                      - operatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                        setId: string
                        name: string
                        formattedName: string
                      tariffSets:
                      - tariffs:
                        - parkingEntitlementTypeIds:
                          - 0
                          details:
                          - price: 0
                            surcharge: 0
                            surchargeDetail:
                              surchargeType: 0
                              value: 0
                              notes: string
                              ruleType: 0
                            duration: 0
                            minimumPriceIncrement: 0
                            singlePaymentCanCrossMidnight: true
                            from: 0
                            upTo: 0
                          timeFrom: 2021-08-04T00:00:00.0000000+00:00
                          timeTo: 2021-08-04T00:00:00.0000000+00:00
                          firstDate:
                            month: 0
                            day: 0
                          lastDate:
                            month: 0
                            day: 0
                          months:
                          - 0
                          days:
                          - 0
                          timeType: 0
                        setId: string
                        name: string
                        formattedName: string
                    ordnanceSurvey:
                      apiKey: string
                      license: string
                  zonesUrl:
                    type: string
                    features:
                    - properties:
                        zoneId: string
                        authorityId: string
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        type: 1
                        venueId: string
                      geometry:
                        coordinates:
                        - - - 0
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  ospsUrl:
                  - type: string
                    features:
                    - properties:
                        onStreetParkingId: string
                        authorityId: string
                        zoneId: string
                        restrictionTypeDetails:
                        - locationNumber: string
                          exemptionsSet:
                            setId: string
                          tariffsSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        venueId: string
                        centroid:
                          latitude: 0
                          longitude: 0
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  date: string
                  dataUpdateId: string
            text/json:
              schema:
                $ref: '#/components/schemas/PublicAuthoritySnapshotInfoDocResult'
              example:
                success: true
                data:
                  authorityUrl:
                    authorityId: string
                    name: string
                    shape:
                      coordinates:
                      - - - 0
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    sets:
                      operatingHoursSets:
                      - operatingHours:
                          standardDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                          eventDays:
                          - ruleTime:
                              months:
                              - 0
                              days:
                              - 0
                              weekNumbers:
                              - 0
                              hours:
                              - start: 2021-08-04T00:00:00.0000000+00:00
                                end: 2021-08-04T00:00:00.0000000+00:00
                              firstDate:
                                month: 0
                                day: 0
                              lastDate:
                                month: 0
                                day: 0
                            parkingEntitlementTypeIds:
                            - 0
                            maxStay: 0
                            minStay: 0
                            noReturn: 0
                            noReturnUntil: 2021-08-04T00:00:00.0000000+00:00
                        setId: string
                        name: string
                        formattedName: string
                      tariffSets:
                      - tariffs:
                        - parkingEntitlementTypeIds:
                          - 0
                          details:
                          - price: 0
                            surcharge: 0
                            surchargeDetail:
                              surchargeType: 0
                              value: 0
                              notes: string
                              ruleType: 0
                            duration: 0
                            minimumPriceIncrement: 0
                            singlePaymentCanCrossMidnight: true
                            from: 0
                            upTo: 0
                          timeFrom: 2021-08-04T00:00:00.0000000+00:00
                          timeTo: 2021-08-04T00:00:00.0000000+00:00
                          firstDate:
                            month: 0
                            day: 0
                          lastDate:
                            month: 0
                            day: 0
                          months:
                          - 0
                          days:
                          - 0
                          timeType: 0
                        setId: string
                        name: string
                        formattedName: string
                    ordnanceSurvey:
                      apiKey: string
                      license: string
                  zonesUrl:
                    type: string
                    features:
                    - properties:
                        zoneId: string
                        authorityId: string
                        name: string
                        restrictionTypeDetails:
                        - restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        type: 1
                        venueId: string
                      geometry:
                        coordinates:
                        - - - 0
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  ospsUrl:
                  - type: string
                    features:
                    - properties:
                        onStreetParkingId: string
                        authorityId: string
                        zoneId: string
                        restrictionTypeDetails:
                        - locationNumber: string
                          exemptionsSet:
                            setId: string
                          tariffsSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          restrictionTypeId: 0
                          operatingHoursSet:
                          - parkingEntitlementTypeIds:
                            - 0
                            setId: string
                          exceptionsSet:
                            setId: string
                        venueId: string
                        centroid:
                          latitude: 0
                          longitude: 0
                      geometry:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      type: string
                      id: string
                    properties: {}
                  date: string
                  dataUpdateId: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/getAll:
    get:
      tags:
      - CarParks
      summary: /carparks/getAll - GET
      operationId: get-carparks-getall
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CarParkLightListResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/CarParkLightListResult'
              example:
                success: true
                data:
                - name: string
                  eTag: string
                  carParkId: string
                  dataOriginId: string
            text/json:
              schema:
                $ref: '#/components/schemas/CarParkLightListResult'
              example:
                success: true
                data:
                - name: string
                  eTag: string
                  carParkId: string
                  dataOriginId: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/getById:
    get:
      tags:
      - CarParks
      summary: /carparks/getById - GET
      operationId: get-carparks-getbyid
      parameters:
      - name: carParkId
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CarParkCmsBlobResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/CarParkCmsBlobResult'
              example:
                success: true
                data:
                  carParkId: string
                  dataOriginId: string
                  name: string
                  subTitle: string
                  description: string
                  otherInformation: string
                  telephone: string
                  website: string
                  paymentTelephone: string
                  paymentUrl: string
                  type: 0
                  locationDetails:
                    latitude: 0
                    longitude: 0
                    shape:
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    address:
                      street: string
                      postcode: string
                      city: string
                      country: string
                    line:
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    centroid:
                      coordinates:
                      - 0
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                  locationProvider: 0
                  openHours:
                  - months:
                    - 0
                    days:
                    - 0
                    weekNumbers:
                    - 0
                    hours:
                    - start: 2021-08-04T00:00:00.0000000+00:00
                      end: 2021-08-04T00:00:00.0000000+00:00
                    firstDate:
                      month: 0
                      day: 0
                    lastDate:
                      month: 0
                      day: 0
                  timesOfOperation:
                  - type: 0
                    time:
                    - months:
                      - 0
                      days:
                      - 0
                      weekNumbers:
                      - 0
                      hours:
                      - start: 2021-08-04T00:00:00.0000000+00:00
                        end: 2021-08-04T00:00:00.0000000+00:00
                      firstDate:
                        month: 0
                        day: 0
                      lastDate:
                        month: 0
                        day: 0
                    tariffs:
                    - parkingEntitlementTypeIds:
                      - 0
                      details:
                      - price: 0
                        surcharge: 0
                        surchargeDetail:
                          surchargeType: 0
                          value: 0
                          notes: string
                          ruleType: 0
                        duration: 0
                        minimumPriceIncrement: 0
                        singlePaymentCanCrossMidnight: true
                        from: 0
                        upTo: 0
                      timeFrom: 2021-08-04T00:00:00.0000000+00:00
                      timeTo: 2021-08-04T00:00:00.0000000+00:00
                      firstDate:
                        month: 0
                        day: 0
                      lastDate:
                        month: 0
                        day: 0
                      months:
                      - 0
                      days:
                      - 0
                      timeType: 0
                    maxStay: 0
                    minStay: 0
                    noReturn: 0
                  reviews:
                  - username: string
                    rating: 0
                    dateAndTime: string
                    description: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  bays: 0
                  disabledSpaces: 0
                  chargingPoints: 0
                  motorcycleBays: 0
                  isFree: true
                  isFreeMotorcycle: true
                  hasLifts: true
                  isManned: true
                  cardsAccepted: true
                  canPayByMobile: true
                  hasToilets: true
                  heightRestriction: string
                  seasonTicket: string
                  timeType: 0
                  sourceTag: string
                  partition: string
                  layout:
                  - floorId: string
                    shape:
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    name: string
                    floorOrder: 0
                    bayCounts:
                    - count: 0
                      type: string
                    bays:
                    - bayId: string
                      shape:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      sensorIds:
                      - string
                      bayType: string
                      maxStay: 0
                      gracePeriod: 0
                      name: string
                      bayFloorOrder: 0
                    enterSensors:
                    - string
                    exitSensors:
                    - string
                  ownerId: string
                  authorityId: string
                  locationNumber: string
                  counterType: 0
                  surfaceType: 1
                  timezoneSystemId: string
                  hasBLEPayment: true
                  hasCarpool: true
                  hasBLETag: true
                  maxStay: 0
                  gracePeriod: 0
                  tags:
                  - string
                  parentId: string
                  registrationEnabled: true
            text/json:
              schema:
                $ref: '#/components/schemas/CarParkCmsBlobResult'
              example:
                success: true
                data:
                  carParkId: string
                  dataOriginId: string
                  name: string
                  subTitle: string
                  description: string
                  otherInformation: string
                  telephone: string
                  website: string
                  paymentTelephone: string
                  paymentUrl: string
                  type: 0
                  locationDetails:
                    latitude: 0
                    longitude: 0
                    shape:
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    address:
                      street: string
                      postcode: string
                      city: string
                      country: string
                    line:
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    centroid:
                      coordinates:
                      - 0
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                  locationProvider: 0
                  openHours:
                  - months:
                    - 0
                    days:
                    - 0
                    weekNumbers:
                    - 0
                    hours:
                    - start: 2021-08-04T00:00:00.0000000+00:00
                      end: 2021-08-04T00:00:00.0000000+00:00
                    firstDate:
                      month: 0
                      day: 0
                    lastDate:
                      month: 0
                      day: 0
                  timesOfOperation:
                  - type: 0
                    time:
                    - months:
                      - 0
                      days:
                      - 0
                      weekNumbers:
                      - 0
                      hours:
                      - start: 2021-08-04T00:00:00.0000000+00:00
                        end: 2021-08-04T00:00:00.0000000+00:00
                      firstDate:
                        month: 0
                        day: 0
                      lastDate:
                        month: 0
                        day: 0
                    tariffs:
                    - parkingEntitlementTypeIds:
                      - 0
                      details:
                      - price: 0
                        surcharge: 0
                        surchargeDetail:
                          surchargeType: 0
                          value: 0
                          notes: string
                          ruleType: 0
                        duration: 0
                        minimumPriceIncrement: 0
                        singlePaymentCanCrossMidnight: true
                        from: 0
                        upTo: 0
                      timeFrom: 2021-08-04T00:00:00.0000000+00:00
                      timeTo: 2021-08-04T00:00:00.0000000+00:00
                      firstDate:
                        month: 0
                        day: 0
                      lastDate:
                        month: 0
                        day: 0
                      months:
                      - 0
                      days:
                      - 0
                      timeType: 0
                    maxStay: 0
                    minStay: 0
                    noReturn: 0
                  reviews:
                  - username: string
                    rating: 0
                    dateAndTime: string
                    description: string
                  notes:
                  - noteVisibilityTypeId: 0
                    appliesToRestrictionTypeIds:
                    - 0
                    priority: 0
                    title: string
                    message: string
                    url: string
                    telephone: string
                  bays: 0
                  disabledSpaces: 0
                  chargingPoints: 0
                  motorcycleBays: 0
                  isFree: true
                  isFreeMotorcycle: true
                  hasLifts: true
                  isManned: true
                  cardsAccepted: true
                  canPayByMobile: true
                  hasToilets: true
                  heightRestriction: string
                  seasonTicket: string
                  timeType: 0
                  sourceTag: string
                  partition: string
                  layout:
                  - floorId: string
                    shape:
                      type: string
                      crs:
                        type: string
                        properties:
                          name: string
                    name: string
                    floorOrder: 0
                    bayCounts:
                    - count: 0
                      type: string
                    bays:
                    - bayId: string
                      shape:
                        type: string
                        crs:
                          type: string
                          properties:
                            name: string
                      sensorIds:
                      - string
                      bayType: string
                      maxStay: 0
                      gracePeriod: 0
                      name: string
                      bayFloorOrder: 0
                    enterSensors:
                    - string
                    exitSensors:
                    - string
                  ownerId: string
                  authorityId: string
                  locationNumber: string
                  counterType: 0
                  surfaceType: 1
                  timezoneSystemId: string
                  hasBLEPayment: true
                  hasCarpool: true
                  hasBLETag: true
                  maxStay: 0
                  gracePeriod: 0
                  tags:
                  - string
                  parentId: string
                  registrationEnabled: true
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/searchCarparksByTerm:
    get:
      tags:
      - CarParks
      summary: /carparks/searchCarparksByTerm - GET
      operationId: get-carparks-searchcarparksbyterm
      parameters:
      - name: term
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CarParkInfoListResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/CarParkInfoListResult'
              example:
                success: true
                data:
                - carparkId: 0
                  name: string
                  address: string
                  operatingHoursText: string
            text/json:
              schema:
                $ref: '#/components/schemas/CarParkInfoListResult'
              example:
                success: true
                data:
                - carparkId: 0
                  name: string
                  address: string
                  operatingHoursText: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/searchSmartCarparksByTerm:
    get:
      tags:
      - CarParks
      summary: /carparks/searchSmartCarparksByTerm - GET
      operationId: get-carparks-searchsmartcarparksbyterm
      parameters:
      - name: term
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SmartCarParkInfoListResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/SmartCarParkInfoListResult'
              example:
                success: true
                data:
                - carparkId: string
                  name: string
                  address: string
                  operatingHoursText: string
            text/json:
              schema:
                $ref: '#/components/schemas/SmartCarParkInfoListResult'
              example:
                success: true
                data:
                - carparkId: string
                  name: string
                  address: string
                  operatingHoursText: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/updateCarparkTariff:
    post:
      tags:
      - CarParks
      summary: /carparks/updateCarparkTariff - POST
      operationId: post-carparks-updatecarparktariff
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
            example:
              carparkId: 0
              operatingHoursText: string
          application/json:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
            example:
              carparkId: 0
              operatingHoursText: string
          text/json:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
            example:
              carparkId: 0
              operatingHoursText: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
            example:
              carparkId: 0
              operatingHoursText: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
              example:
                successValue: true
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
              example:
                successValue: true
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/updateSmartCarparkTariff:
    post:
      tags:
      - CarParks
      summary: /carparks/updateSmartCarparkTariff - POST
      operationId: post-carparks-updatesmartcarparktariff
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
            example:
              carparkId: string
              operatingHoursText: string
          application/json:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
            example:
              carparkId: string
              operatingHoursText: string
          text/json:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
            example:
              carparkId: string
              operatingHoursText: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
            example:
              carparkId: string
              operatingHoursText: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Result'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
              example:
                successValue: true
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
              example:
                successValue: true
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/data/bulkUpdate:
    post:
      tags:
      - MovingOrdersData
      summary: /movingOrders/data/bulkUpdate - POST
      operationId: post-movingorders-data-bulkupdate
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        schema:
          type: string
      - name: changeSetId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingChangeSetResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/MovingChangeSetResult'
              example:
                success: true
                data:
                  changeSetId: string
                  orderId: string
                  creationDate: string
                  closedDate: string
                  summary: string
                  reason: string
                  additions:
                  - additionId: string
                    feature:
                      geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      timeStamp: string
                      deleted: true
                      version: 0
                      note: string
                      streetName: string
                    id: string
                    changeSetId: string
                    date: string
                  revocations:
                  - revocationId: string
                    feature:
                      geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      timeStamp: string
                      deleted: true
                      version: 0
                      note: string
                      streetName: string
                    id: string
                    changeSetId: string
                    date: string
                  modifications:
                  - modificationId: string
                    oldFeature:
                      geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      timeStamp: string
                      deleted: true
                      version: 0
                      note: string
                      streetName: string
                    newFeature:
                      geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      timeStamp: string
                      deleted: true
                      version: 0
                      note: string
                      streetName: string
                    id: string
                    changeSetId: string
                    date: string
            text/json:
              schema:
                $ref: '#/components/schemas/MovingChangeSetResult'
              example:
                success: true
                data:
                  changeSetId: string
                  orderId: string
                  creationDate: string
                  closedDate: string
                  summary: string
                  reason: string
                  additions:
                  - additionId: string
                    feature:
                      geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      timeStamp: string
                      deleted: true
                      version: 0
                      note: string
                      streetName: string
                    id: string
                    changeSetId: string
                    date: string
                  revocations:
                  - revocationId: string
                    feature:
                      geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      timeStamp: string
                      deleted: true
                      version: 0
                      note: string
                      streetName: string
                    id: string
                    changeSetId: string
                    date: string
                  modifications:
                  - modificationId: string
                    oldFeature:
                      geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      timeStamp: string
                      deleted: true
                      version: 0
                      note: string
                      streetName: string
                    newFeature:
                      geoType: string
                      featureId: string
                      featureType: 0
                      authorityId: string
                      timeStamp: string
                      deleted: true
                      version: 0
                      note: string
                      streetName: string
                    id: string
                    changeSetId: string
                    date: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/data/getMovingRestrictionsByAuthorityId:
    get:
      tags:
      - MovingOrdersData
      summary: /movingOrders/data/getMovingRestrictionsByAuthorityId - GET
      operationId: get-movingorders-data-getmovingrestrictionsbyauthorityid
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MFeatureCollectionResult'
              example: 
            application/json:
              schema:
                $ref: '#/components/schemas/MFeatureCollectionResult'
              example:
                success: true
                data:
                  type: string
                  features:
                  - geoType: string
                    featureId: string
                    featureType: 0
                    authorityId: string
                    timeStamp: string
                    deleted: true
                    version: 0
                    note: string
                    streetName: string
                  properties: {}
            text/json:
              schema:
                $ref: '#/components/schemas/MFeatureCollectionResult'
              example:
                success: true
                data:
                  type: string
                  features:
                  - geoType: string
                    featureId: string
                    featureType: 0
                    authorityId: string
                    timeStamp: string
                    deleted: true
                    version: 0
                    note: string
                    streetName: string
                  properties: {}
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/export/graph:
    get:
      tags:
      - MovingOrdersExport
      summary: /movingOrders/export/graph - GET
      operationId: get-movingorders-export-graph
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        schema:
          type: string
      responses:
        "200":
[...]
