openapi: 3.0.1
info:
  title: CMS Data
  version: "1.0"
servers:
- url: https://api.appyway.com/v1/traffic-data
paths:
  /authorities/getAll:
    get:
      tags:
      - Authorities
      summary: Authorities_Get
      operationId: Authorities_Get
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_AuthorityBaseData_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_List_AuthorityBaseData_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_List_AuthorityBaseData_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_List_AuthorityBaseData_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /authorities/getAuthoritiesWithMovingOrders:
    get:
      tags:
      - Authorities
      summary: Authorities_GetAllAuthoritiesWithMovingOrder
      operationId: Authorities_GetAllAuthoritiesWithMovingOrder
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /authorities/getAuthoritiesWithOrders:
    get:
      tags:
      - Authorities
      summary: Authorities_GetAuthoritiesWithOrders
      operationId: Authorities_GetAuthoritiesWithOrders
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /authorities/getAuthoritiesWithStaticOrders:
    get:
      tags:
      - Authorities
      summary: Authorities_GetAllAuthoritiesWithStaticOrders
      operationId: Authorities_GetAllAuthoritiesWithStaticOrders
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthorityInfoArray_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /authorities/getById:
    get:
      tags:
      - Authorities
      summary: Authorities_GetAuthorityById
      operationId: Authorities_GetAuthorityById
      parameters:
      - name: authorityId
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_AuthorityDetail_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_AuthorityDetail_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthorityDetail_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthorityDetail_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /authorities/getBySlug:
    get:
      tags:
      - Authorities
      summary: Authorities_GetAuthorityBySlug
      operationId: Authorities_GetAuthorityBySlug
      parameters:
      - name: slug
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_AuthorityDetail_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_AuthorityDetail_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthorityDetail_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthorityDetail_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /authorities/getFullById:
    get:
      tags:
      - Authorities
      summary: Authorities_GetFull
      operationId: Authorities_GetFull
      parameters:
      - name: authorityId
        in: query
        required: true
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339).
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_AuthoritySnapshotInfo_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_AuthoritySnapshotInfo_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthoritySnapshotInfo_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthoritySnapshotInfo_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /authorities/getPublicBySlug:
    get:
      tags:
      - Authorities
      summary: Authorities_GetPublicAuthorityBySlug
      operationId: Authorities_GetPublicAuthorityBySlug
      parameters:
      - name: slug
        in: query
        required: true
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339).
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_AuthoritySnapshotInfo_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_AuthoritySnapshotInfo_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthoritySnapshotInfo_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_AuthoritySnapshotInfo_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /carparks/getAll:
    get:
      tags:
      - CarParks
      summary: CarParks_Get
      operationId: CarParks_Get
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_CarParkLight_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_List_CarParkLight_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_List_CarParkLight_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_List_CarParkLight_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/getById:
    get:
      tags:
      - CarParks
      summary: CarParks_GetCarparkById
      operationId: CarParks_GetCarparkById
      parameters:
      - name: carParkId
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_CarParkCmsBlob_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_CarParkCmsBlob_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_CarParkCmsBlob_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_CarParkCmsBlob_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/searchCarparksByTerm:
    get:
      tags:
      - CarParks
      summary: CarParks_SearchByTerm
      operationId: CarParks_SearchByTerm
      parameters:
      - name: term
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_CarParkInfo_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_List_CarParkInfo_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_List_CarParkInfo_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_List_CarParkInfo_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/searchSmartCarparksByTerm:
    get:
      tags:
      - CarParks
      summary: CarParks_SearchSmartCarparkByTerm
      operationId: CarParks_SearchSmartCarparkByTerm
      parameters:
      - name: term
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_List_SmartCarParkInfo_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_List_SmartCarParkInfo_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_List_SmartCarParkInfo_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_List_SmartCarParkInfo_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/updateCarparkTariff:
    post:
      tags:
      - CarParks
      summary: CarParks_UpdateCarparkTariffs
      operationId: CarParks_UpdateCarparkTariffs
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/CarparkTariffsRequest'
          application/x-www-form-urlencoded:
            schema:
              properties:
                parking_id:
                  type: integer
                operatinghours_text:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /carparks/updateSmartCarparkTariff:
    post:
      tags:
      - CarParks
      summary: CarParks_UpdateSmartCarparkTariffs
      operationId: CarParks_UpdateSmartCarparkTariffs
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/SmartCarparkTariffsRequest'
          application/x-www-form-urlencoded:
            schema:
              properties:
                parking_id:
                  type: string
                operatinghours_text:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingOrders/data/bulkUpdate:
    post:
      tags:
      - MovingOrdersData
      summary: MovingOrdersData_BulkUpdate
      operationId: MovingOrdersData_BulkUpdate
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: changeSetId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovingBulkUpdate'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MovingChangeSet_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_MovingChangeSet_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingChangeSet_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingChangeSet_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/data/getMovingRestrictionsByAuthorityId:
    get:
      tags:
      - MovingOrdersData
      summary: MovingOrdersData_GetMovingRestrictionsByAuthorityId
      operationId: MovingOrdersData_GetMovingRestrictionsByAuthorityId
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MFeatureCollection_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_MFeatureCollection_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_MFeatureCollection_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_MFeatureCollection_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/export/graph:
    get:
      tags:
      - MovingOrdersExport
      summary: MovingOrdersExport_ExportGraph
      operationId: MovingOrdersExport_ExportGraph
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MFeatureCollection_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_MFeatureCollection_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_MFeatureCollection_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_MFeatureCollection_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/export/pdf:
    get:
      tags:
      - MovingOrdersExport
      summary: MovingOrdersExport_ExportPdf
      operationId: MovingOrdersExport_ExportPdf
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/export/template:
    post:
      tags:
      - MovingOrdersExport
      summary: MovingOrdersExport_ExportTemplate
      operationId: MovingOrdersExport_ExportTemplate
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequestRequest-xml-1'
          text/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequestRequest-xml-1'
          application/xml:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequestRequest-xml-1'
          text/xml:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequestRequest-xml-1'
          application/x-www-form-urlencoded:
            schema:
              properties:
                orderId:
                  type: string
                publishDate:
                  type: string
                activationDate:
                  type: string
                summaryText:
                  type: string
                reasonText:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_String_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_String_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_String_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/manage/changeState:
    post:
      tags:
      - MovingOrdersManage
      summary: MovingOrdersManage_ChangeState
      operationId: MovingOrdersManage_ChangeState
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovingStateChangeInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/MovingStateChangeInfo'
          application/xml:
            schema:
              $ref: '#/components/schemas/MovingStateChangeInfo'
          text/xml:
            schema:
              $ref: '#/components/schemas/MovingStateChangeInfo'
          application/x-www-form-urlencoded:
            schema:
              properties:
                newState:
                  enum:
                  - "0"
                  - "1"
                  - "2"
                  - "3"
                  - "4"
                  - "5"
                  - "6"
                  type: integer
                tiles:
                  type: array
                customMotivationPageHtml:
                  type: string
                reason:
                  type: string
                summary:
                  type: string
                activationDate:
                  type: string
                consultationEndDate:
                  type: string
                proposalDate:
                  type: string
                authorityId:
                  type: string
                orderId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/manage/create:
    post:
      tags:
      - MovingOrdersManage
      summary: MovingOrdersManage_CreateOrder
      operationId: MovingOrdersManage_CreateOrder
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrderRequest-xml-1'
          text/json:
            schema:
              $ref: '#/components/schemas/NewOrderRequest-xml-1'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewOrderRequest-xml-1'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewOrderRequest-xml-1'
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                orderType:
                  enum:
                  - "0"
                  - "1"
                  - "2"
                  - "3"
                  - "4"
                  type: integer
                reason:
                  type: string
                summary:
                  type: string
                authorityId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/manage/delete:
    post:
      tags:
      - MovingOrdersManage
      summary: MovingOrdersManage_DeleteOrder
      operationId: MovingOrdersManage_DeleteOrder
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequestRequest-xml-1'
          text/json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequestRequest-xml-1'
          application/xml:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequestRequest-xml-1'
          text/xml:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequestRequest-xml-1'
          application/x-www-form-urlencoded:
            schema:
              properties:
                authorityId:
                  type: string
                orderId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/manage/update:
    post:
      tags:
      - MovingOrdersManage
      summary: MovingOrdersManage_UpdateOrder
      operationId: MovingOrdersManage_UpdateOrder
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovingOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/MovingOrder'
          application/xml:
            schema:
              $ref: '#/components/schemas/MovingOrder'
          text/xml:
            schema:
              $ref: '#/components/schemas/MovingOrder'
          application/x-www-form-urlencoded:
            schema:
              properties:
                orderType:
                  enum:
                  - "0"
                  - "1"
                  type: integer
                orderId:
                  type: string
                name:
                  type: string
                authorityId:
                  type: string
                state:
                  enum:
                  - "0"
                  - "1"
                  - "2"
                  - "3"
                  - "4"
                  - "5"
                  - "6"
                  type: integer
                activationDate:
                  type: string
                consultationEndDate:
                  type: string
                summary:
                  type: string
                reason:
                  type: string
                history:
                  type: array
                changeSets:
                  type: array
                validationState:
                  enum:
                  - "0"
                  - "1"
                  - "2"
                  type: integer
                validationReason:
                  type: string
                lastModified:
                  type: string
                tiles:
                  type: array
                FeedbackState:
                  enum:
                  - "0"
                  - "1"
                  - "2"
                  type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/query/getByAuthorityIdAndState:
    get:
      tags:
      - MovingOrdersQuery
      summary: MovingOrdersQuery_GetOrdersByAuthorityAndState
      operationId: MovingOrdersQuery_GetOrdersByAuthorityAndState
      parameters:
      - name: authorityId
        in: query
        description: Format - uuid.
        schema:
          type: string
      - name: state
        in: query
        description: Format - int32.
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          type: integer
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrderArray_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrderArray_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrderArray_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrderArray_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/query/getById:
    get:
      tags:
      - MovingOrdersQuery
      summary: MovingOrdersQuery_GetOrderById
      operationId: MovingOrdersQuery_GetOrderById
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /movingOrders/query/getSparseOrderById:
    get:
      tags:
      - MovingOrdersQuery
      summary: MovingOrdersQuery_GetSparseOrderById
      operationId: MovingOrdersQuery_GetSparseOrderById
      parameters:
      - name: orderId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_MovingOrder_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/data/bulkUpdate:
    post:
      tags:
      - OrdersData
      summary: OrdersData_BulkUpdateChangeSet
      operationId: OrdersData_BulkUpdateChangeSet
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateRequest'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_ChangeSet_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_ChangeSet_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_ChangeSet_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_ChangeSet_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/data/createAdditionFromFeature:
    post:
      tags:
      - OrdersData
      summary: OrdersData_PostAdditionFromFeature
      operationId: OrdersData_PostAdditionFromFeature
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromFeature'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromFeature'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromFeature'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromFeature'
          application/x-www-form-urlencoded:
            schema:
              properties:
                authorityId:
                  type: string
                changeSetId:
                  type: string
                feature:
                  type: object
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Addition_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_Addition_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_Addition_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_Addition_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/data/createAdditionFromGeometry:
    post:
      tags:
      - OrdersData
      summary: OrdersData_PostAddition
      operationId: OrdersData_PostAddition
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromGeometry'
          text/json:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromGeometry'
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromGeometry'
          text/xml:
            schema:
              $ref: '#/components/schemas/CreateAdditionFromGeometry'
          application/x-www-form-urlencoded:
            schema:
              properties:
                authorityId:
                  type: string
                changeSetId:
                  type: string
                geometry:
                  type: object
                restrictionTypeIds:
                  type: array
                bays:
                  type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Addition_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_Addition_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_Addition_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_Addition_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/export/graph:
    get:
      tags:
      - OrdersExport
      summary: OrdersExport_ExportOrderGraph
      operationId: OrdersExport_ExportOrderGraph
      parameters:
      - name: orderId
        in: query
        required: true
        schema:
          type: string
      - name: includeAllChangeSets
        in: query
        schema:
          type: boolean
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_OrderGraphSnapshot_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_OrderGraphSnapshot_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_OrderGraphSnapshot_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_OrderGraphSnapshot_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/export/pdf:
    get:
      tags:
      - OrdersExport
      summary: OrdersExport_DownloadOrderPdf
      operationId: OrdersExport_DownloadOrderPdf
      parameters:
      - name: orderId
        in: query
        required: true
        schema:
          type: string
      - name: documentType
        in: query
        description: Format - int32.
        required: true
        schema:
          enum:
          - 0
          - 1
          type: integer
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/export/template:
    post:
      tags:
      - OrdersExport
      summary: OrdersExport_GetExportTemplate
      operationId: OrdersExport_GetExportTemplate
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequestRequest-xml-1'
          text/json:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequestRequest-xml-1'
          application/xml:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequestRequest-xml-1'
          text/xml:
            schema:
              $ref: '#/components/schemas/ExportTemplateRequestRequest-xml-1'
          application/x-www-form-urlencoded:
            schema:
              properties:
                orderId:
                  type: string
                publishDate:
                  type: string
                activationDate:
                  type: string
                summaryText:
                  type: string
                reasonText:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_String_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_String_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_String_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_String_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/export/text:
    get:
      tags:
      - OrdersExport
      summary: OrdersExport_ExportOrderText
      operationId: OrdersExport_ExportOrderText
      parameters:
      - name: orderId
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_FeatureCollection_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_FeatureCollection_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_FeatureCollection_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_FeatureCollection_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/manage/changeState:
    post:
      tags:
      - OrdersManage
      summary: OrdersManage_ChangeOrderState
      operationId: OrdersManage_ChangeOrderState
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StateChangeInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/StateChangeInfo'
          application/xml:
            schema:
              $ref: '#/components/schemas/StateChangeInfo'
          text/xml:
            schema:
              $ref: '#/components/schemas/StateChangeInfo'
          application/x-www-form-urlencoded:
            schema:
              properties:
                newState:
                  enum:
                  - "0"
                  - "1"
                  - "2"
                  - "3"
                  - "4"
                  - "5"
                  - "6"
                  - "7"
                  type: integer
                tiles:
                  type: array
                customMotivationPageHtml:
                  type: string
                reason:
                  type: string
                summary:
                  type: string
                activationDate:
                  type: string
                consultationEndDate:
                  type: string
                proposalDate:
                  type: string
                authorityId:
                  type: string
                orderId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_Order_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/manage/create:
    post:
      tags:
      - OrdersManage
      summary: OrdersManage_CreateNewOrder
      operationId: OrdersManage_CreateNewOrder
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrderRequest-xml-1'
          text/json:
            schema:
              $ref: '#/components/schemas/NewOrderRequest-xml-1'
          application/xml:
            schema:
              $ref: '#/components/schemas/NewOrderRequest-xml-1'
          text/xml:
            schema:
              $ref: '#/components/schemas/NewOrderRequest-xml-1'
          application/x-www-form-urlencoded:
            schema:
              properties:
                name:
                  type: string
                orderType:
                  enum:
                  - "0"
                  - "1"
                  - "2"
                  - "3"
                  - "4"
                  type: integer
                reason:
                  type: string
                summary:
                  type: string
                authorityId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_Order_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/manage/delete:
    post:
      tags:
      - OrdersManage
      summary: OrdersManage_DeleteOrderById
      operationId: OrdersManage_DeleteOrderById
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequestRequest-xml-1'
          text/json:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequestRequest-xml-1'
          application/xml:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequestRequest-xml-1'
          text/xml:
            schema:
              $ref: '#/components/schemas/DeleteOrderRequestRequest-xml-1'
          application/x-www-form-urlencoded:
            schema:
              properties:
                authorityId:
                  type: string
                orderId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/manage/update:
    post:
      tags:
      - OrdersManage
      summary: OrdersManage_PatchOrder
      operationId: OrdersManage_PatchOrder
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderParameters'
          application/xml:
            schema:
              $ref: '#/components/schemas/UpdateOrderParameters'
          text/xml:
            schema:
              $ref: '#/components/schemas/UpdateOrderParameters'
          application/x-www-form-urlencoded:
            schema:
              properties:
                authorityId:
                  type: string
                orderId:
                  type: string
                name:
                  type: string
                summary:
                  type: string
                reason:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_Order_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/manage/validate:
    get:
      tags:
      - OrdersManage
      summary: OrdersManage_ValidateOrder
      operationId: OrdersManage_ValidateOrder
      parameters:
      - name: authorityId
        in: query
        required: true
        schema:
          type: string
      - name: orderId
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/query/getByAuthorityStateAndType:
    get:
      tags:
      - OrdersQuery
      summary: OrdersQuery_GetAllOrdersByAuthorityAndStateAndOrderType
      operationId: OrdersQuery_GetAllOrdersByAuthorityAndStateAndOrderType
      parameters:
      - name: authorityId
        in: query
        schema:
          type: string
      - name: state
        in: query
        description: Format - int32.
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          type: integer
      - name: orderType
        in: query
        description: Format - int32.
        schema:
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          type: integer
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_OrderArray_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_OrderArray_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_OrderArray_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_OrderArray_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/query/getById:
    get:
      tags:
      - OrdersQuery
      summary: OrdersQuery_GetOrderById
      operationId: OrdersQuery_GetOrderById
      parameters:
      - name: orderId
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_FullOrder_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_FullOrder_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_FullOrder_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_FullOrder_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/query/getChangeSet:
    get:
      tags:
      - OrdersQuery
      summary: OrdersQuery_GetChangeSet
      operationId: OrdersQuery_GetChangeSet
      parameters:
      - name: changeSetId
        in: query
        description: Format - uuid.
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_FullChangeSet_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_FullChangeSet_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_FullChangeSet_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_FullChangeSet_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/query/getLatestMade:
    get:
      tags:
      - OrdersQuery
      summary: OrdersQuery_GetLatestMadeOrderByOspId
      operationId: OrdersQuery_GetLatestMadeOrderByOspId
      parameters:
      - name: ospId
        in: query
        required: true
        schema:
          type: string
      - name: maxDate
        in: query
        description: Format - date-time (as date-time in RFC3339).
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_Order_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /orders/query/getSparseOrderById:
    get:
      tags:
      - OrdersQuery
      summary: OrdersQuery_GetSparseOrderById
      operationId: OrdersQuery_GetSparseOrderById
      parameters:
      - name: orderId
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_Order_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_Order_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /suspensions/create:
    post:
      tags:
      - Suspensions
      summary: Suspensions_CreateSuspension
      operationId: Suspensions_CreateSuspension
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspensionRequest-xml-1'
          text/json:
            schema:
              $ref: '#/components/schemas/SuspensionRequest-xml-1'
          application/xml:
            schema:
              $ref: '#/components/schemas/SuspensionRequest-xml-1'
          text/xml:
            schema:
              $ref: '#/components/schemas/SuspensionRequest-xml-1'
          application/x-www-form-urlencoded:
            schema:
              properties:
                suspensionId:
                  type: string
                authorityId:
                  type: string
                ExternalId:
                  type: string
                ExternalSource:
                  type: string
                name:
                  type: string
                reason:
                  type: string
                times:
                  type: array
                ospIds:
                  type: array
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /suspensions/delete:
    post:
      tags:
      - Suspensions
      summary: Suspensions_DeleteSuspension
      operationId: Suspensions_DeleteSuspension
      parameters:
      - name: suspensionId
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
            text/json:
              schema:
                $ref: '#/components/schemas/Result'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /suspensions/getByAuthorityId:
    get:
      tags:
      - Suspensions
      summary: Suspensions_GetAllSuspensionsByAuthority
      operationId: Suspensions_GetAllSuspensionsByAuthority
      parameters:
      - name: authorityId
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_SuspensionArray_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_SuspensionArray_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_SuspensionArray_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_SuspensionArray_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /suspensions/getById:
    get:
      tags:
      - Suspensions
      summary: Suspensions_GetSuspensionById
      operationId: Suspensions_GetSuspensionById
      parameters:
      - name: suspensionId
        in: query
        required: true
        schema:
          type: string
      - name: API-KEY
        in: header
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
  /suspensions/update:
    post:
      tags:
      - Suspensions
      summary: Suspensions_UpdateSuspension
      operationId: Suspensions_UpdateSuspension
      parameters:
      - name: API-KEY
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspensionRequest-xml-1'
          text/json:
            schema:
              $ref: '#/components/schemas/SuspensionRequest-xml-1'
          application/xml:
            schema:
              $ref: '#/components/schemas/SuspensionRequest-xml-1'
          text/xml:
            schema:
              $ref: '#/components/schemas/SuspensionRequest-xml-1'
          application/x-www-form-urlencoded:
            schema:
              properties:
                suspensionId:
                  type: string
                authorityId:
                  type: string
                ExternalId:
                  type: string
                ExternalSource:
                  type: string
                name:
                  type: string
                reason:
                  type: string
                times:
                  type: array
                ospIds:
                  type: array
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
            text/json:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
            application/xml:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
            text/xml:
              schema:
                $ref: '#/components/schemas/Result_Suspension_'
        "400":
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/ErrorResult'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    AuthoritySnapshotInfo:
      type: object
      properties:
        authorityUrl:
          type: string
        zonesUrl:
          type: string
        ospsUrl:
          type: string
        date:
          type: string
          format: date-time
        dataUpdateId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
    ErrorResult:
      type: object
      properties:
        success:
          type: boolean
          readOnly: true
        error:
          type: string
    AuthorityDetail:
      type: object
      properties:
        centroid:
          $ref: '#/components/schemas/LatLng'
        boundingBox:
          $ref: '#/components/schemas/BoundingBox'
        privacyPolicyUrl:
          type: string
        osLicenceText:
          type: string
        osKey:
          type: string
        osVersion:
          enum:
          - 1
          - 2
          type: integer
          format: int32
        authorityId:
          type: string
        authoritySlugs:
          type: array
          items:
            type: string
        name:
          type: string
    LatLng:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
    BoundingBox:
      type: object
      properties:
        topLeft:
          $ref: '#/components/schemas/LatLng'
        bottomRight:
          $ref: '#/components/schemas/LatLng'
    AuthorityBaseData:
      type: object
      properties:
        authorityId:
          type: string
          format: uuid
          example: 00000000-0000-0000-0000-000000000000
        name:
          type: string
        regionId:
          type: string
        countryId:
          type: string
        authoritySlugs:
          type: array
          items:
            type: string
        isPubliclyViewable:
          type: boolean
        osKey:
          type: string
        osVersion:
          enum:
          - 1
          - 2
          type: integer
          format: int32
    AuthorityInfo:
      type: object
      properties:
        made:
          type: integer
          format: int32
        published:
          type: integer
          format: int32
        proposal:
          type: integer
          format: int32
        editingProposal:
          type: integer
          format: int32
        editingDraft:
          type: integer
          format: int32
        draft:
          type: integer
          format: int32
        authorityId:
          type: string
        authoritySlugs:
          type: array
          items:
            type: string
        name:
          type: string
    CarParkLight:
      type: object
      properties:
        name:
          type: string
        eTag:
          type: string
        carParkId:
          type: string
        dataOriginId:
          type: string
    CarParkCmsBlob:
      type: object
      properties:
        carParkId:
          type: string
        dataOriginId:
          type: string
        name:
          type: string
        subTitle:
          type: string
        description:
          type: string
        otherInformation:
          type: string
        telephone:
          type: string
        website:
          type: string
        paymentTelephone:
          type: string
        paymentUrl:
          type: string
        type:
          type: integer
          format: int32
        locationDetails:
          $ref: '#/components/schemas/LocationDetailsCms'
        locationProvider:
          type: integer
          format: int32
        openHours:
          type: array
          items:
            $ref: '#/components/schemas/RuleTimeCms'
        timesOfOperation:
          type: array
          items:
            $ref: '#/components/schemas/CarParkTimesOfOperationCms'
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/ReviewCms'
        notes:
          type: array
          items:
            $ref: '#/components/schemas/NoteCms'
        bays:
          type: integer
          format: int32
        disabledSpaces:
          type: integer
          format: int32
        chargingPoints:
          type: integer
          format: int32
        motorcycleBays:
          type: integer
          format: int32
        isFree:
          type: boolean
        isFreeMotorcycle:
          type: boolean
        hasLifts:
          type: boolean
        isManned:
          type: boolean
        cardsAccepted:
          type: boolean
        canPayByMobile:
          type: boolean
        hasToilets:
          type: boolean
        heightRestriction:
          type: string
        seasonTicket:
          type: string
        timeType:
          type: integer
          format: int32
        sourceTag:
          type: string
        partition:
          type: string
        layout:
          type: array
          items:
            $ref: '#/components/schemas/SmartCarparkFloorCms'
        ownerId:
          type: string
        authorityId:
          type: string
        locationNumber:
          type: string
        counterType:
          enum:
          - 0
          - 1
          - 2
          type: integer
          format: int32
        surfaceType:
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          type: integer
          format: int32
        timezoneSystemId:
          type: string
        hasBlePayment:
          type: boolean
        hasCarpool:
          type: boolean
        hasBleTag:
          type: boolean
        maxStay:
          type: integer
          format: int32
        gracePeriod:
          type: integer
          format: int32
        tags:
          type: array
          items:
            type: string
        ParentId:
          type: string
          readOnly: true
        registrationEnabled:
          type: boolean
    LocationDetailsCms:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        shape:
          $ref: '#/components/schemas/Geometry'
        address:
          $ref: '#/components/schemas/AddressCms'
        line:
          $ref: '#/components/schemas/Geometry'
    RuleTimeCms:
      type: object
      properties:
        months:
          type: array
          items:
            type: integer
            format: int32
        days:
          type: array
          items:
            type: integer
            format: int32
          description: Applicable Days
        weekNumbers:
          type: array
          items:
            type: integer
            format: int32
          description: Week number to apply Days
        hours:
          type: array
          items:
            $ref: '#/components/schemas/HoursCms'
        firstDate:
          $ref: '#/components/schemas/MonthAndDayCms'
        lastDate:
          $ref: '#/components/schemas/MonthAndDayCms'
    CarParkTimesOfOperationCms:
      type: object
      properties:
        type:
[...]
