{
  "openapi": "3.0.1",
  "info": {
    "title": "Security",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.appyway.com/v1/security"
    }
  ],
  "paths": {
    "/apiKey": {
      "get": {
        "tags": [
          "ApiKey"
        ],
        "summary": "All API Keys",
        "description": "All API Keys",
        "operationId": "get-apikey",
        "responses": {
          "200": {
            "description": "A list of API Keys",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyGet200TextPlainResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyGet200ApplicationJsonResponse"
                },
                "example": [
                  {
                    "organisation": "string",
                    "lastLogin": "string",
                    "managedGroups": [
                      "string"
                    ],
                    "name": "string",
                    "cacheId": "string",
                    "groups": [
                      "string"
                    ],
                    "blocked": true,
                    "id": "string",
                    "permissions": [
                      {
                        "permissionId": "string",
                        "resourceTypeId": "string",
                        "resourceId": "string"
                      }
                    ],
                    "roles": [
                      {
                        "roleId": "string",
                        "resourceAssignments": [
                          {
                            "resourceTypeId": "string",
                            "resourceIds": [
                              "string"
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyGet200TextJsonResponse"
                },
                "example": [
                  {
                    "organisation": "string",
                    "lastLogin": "string",
                    "managedGroups": [
                      "string"
                    ],
                    "name": "string",
                    "cacheId": "string",
                    "groups": [
                      "string"
                    ],
                    "blocked": true,
                    "id": "string",
                    "permissions": [
                      {
                        "permissionId": "string",
                        "resourceTypeId": "string",
                        "resourceId": "string"
                      }
                    ],
                    "roles": [
                      {
                        "roleId": "string",
                        "resourceAssignments": [
                          {
                            "resourceTypeId": "string",
                            "resourceIds": [
                              "string"
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "ApiKey"
        ],
        "summary": "Create API Key",
        "description": "Create API Key",
        "operationId": "post-apikey",
        "requestBody": {
          "description": "The API Key information to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              },
              "example": {
                "organisation": "string",
                "lastLogin": "string",
                "managedGroups": [
                  "string"
                ],
                "name": "string",
                "cacheId": "string",
                "groups": [
                  "string"
                ],
                "blocked": true,
                "id": "string",
                "permissions": [
                  {
                    "permissionId": "string",
                    "resourceTypeId": "string",
                    "resourceId": "string"
                  }
                ],
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              },
              "example": {
                "organisation": "string",
                "lastLogin": "string",
                "managedGroups": [
                  "string"
                ],
                "name": "string",
                "cacheId": "string",
                "groups": [
                  "string"
                ],
                "blocked": true,
                "id": "string",
                "permissions": [
                  {
                    "permissionId": "string",
                    "resourceTypeId": "string",
                    "resourceId": "string"
                  }
                ],
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              },
              "example": {
                "organisation": "string",
                "lastLogin": "string",
                "managedGroups": [
                  "string"
                ],
                "name": "string",
                "cacheId": "string",
                "groups": [
                  "string"
                ],
                "blocked": true,
                "id": "string",
                "permissions": [
                  {
                    "permissionId": "string",
                    "resourceTypeId": "string",
                    "resourceId": "string"
                  }
                ],
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the API Key",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApiKey"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApiKey"
                },
                "example": {
                  "apiKey": {
                    "organisation": "string",
                    "lastLogin": "string",
                    "managedGroups": [
                      "string"
                    ],
                    "name": "string",
                    "cacheId": "string",
                    "groups": [
                      "string"
                    ],
                    "blocked": true,
                    "id": "string",
                    "permissions": [
                      {
                        "permissionId": "string",
                        "resourceTypeId": "string",
                        "resourceId": "string"
                      }
                    ],
                    "roles": [
                      {
                        "roleId": "string",
                        "resourceAssignments": [
                          {
                            "resourceTypeId": "string",
                            "resourceIds": [
                              "string"
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  "key": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApiKey"
                },
                "example": {
                  "apiKey": {
                    "organisation": "string",
                    "lastLogin": "string",
                    "managedGroups": [
                      "string"
                    ],
                    "name": "string",
                    "cacheId": "string",
                    "groups": [
                      "string"
                    ],
                    "blocked": true,
                    "id": "string",
                    "permissions": [
                      {
                        "permissionId": "string",
                        "resourceTypeId": "string",
                        "resourceId": "string"
                      }
                    ],
                    "roles": [
                      {
                        "roleId": "string",
                        "resourceAssignments": [
                          {
                            "resourceTypeId": "string",
                            "resourceIds": [
                              "string"
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  "key": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "ApiKey"
        ],
        "summary": "Update API Key",
        "description": "Update API Key",
        "operationId": "put-apikey",
        "requestBody": {
          "description": "The API Key to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              },
              "example": {
                "organisation": "string",
                "lastLogin": "string",
                "managedGroups": [
                  "string"
                ],
                "name": "string",
                "cacheId": "string",
                "groups": [
                  "string"
                ],
                "blocked": true,
                "id": "string",
                "permissions": [
                  {
                    "permissionId": "string",
                    "resourceTypeId": "string",
                    "resourceId": "string"
                  }
                ],
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              },
              "example": {
                "organisation": "string",
                "lastLogin": "string",
                "managedGroups": [
                  "string"
                ],
                "name": "string",
                "cacheId": "string",
                "groups": [
                  "string"
                ],
                "blocked": true,
                "id": "string",
                "permissions": [
                  {
                    "permissionId": "string",
                    "resourceTypeId": "string",
                    "resourceId": "string"
                  }
                ],
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              },
              "example": {
                "organisation": "string",
                "lastLogin": "string",
                "managedGroups": [
                  "string"
                ],
                "name": "string",
                "cacheId": "string",
                "groups": [
                  "string"
                ],
                "blocked": true,
                "id": "string",
                "permissions": [
                  {
                    "permissionId": "string",
                    "resourceTypeId": "string",
                    "resourceId": "string"
                  }
                ],
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update succeeded",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApiKey"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApiKey"
                },
                "example": {
                  "apiKey": {
                    "organisation": "string",
                    "lastLogin": "string",
                    "managedGroups": [
                      "string"
                    ],
                    "name": "string",
                    "cacheId": "string",
                    "groups": [
                      "string"
                    ],
                    "blocked": true,
                    "id": "string",
                    "permissions": [
                      {
                        "permissionId": "string",
                        "resourceTypeId": "string",
                        "resourceId": "string"
                      }
                    ],
                    "roles": [
                      {
                        "roleId": "string",
                        "resourceAssignments": [
                          {
                            "resourceTypeId": "string",
                            "resourceIds": [
                              "string"
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  "key": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedApiKey"
                },
                "example": {
                  "apiKey": {
                    "organisation": "string",
                    "lastLogin": "string",
                    "managedGroups": [
                      "string"
                    ],
                    "name": "string",
                    "cacheId": "string",
                    "groups": [
                      "string"
                    ],
                    "blocked": true,
                    "id": "string",
                    "permissions": [
                      {
                        "permissionId": "string",
                        "resourceTypeId": "string",
                        "resourceId": "string"
                      }
                    ],
                    "roles": [
                      {
                        "roleId": "string",
                        "resourceAssignments": [
                          {
                            "resourceTypeId": "string",
                            "resourceIds": [
                              "string"
                            ]
                          }
                        ]
                      }
                    ]
                  },
                  "key": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Could not find API Key",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "ApiKey"
        ],
        "summary": "Delete API Key",
        "description": "Delete API Key",
        "operationId": "delete-apikey",
        "requestBody": {
          "description": "The hash of the API Key to delete",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiIdentifier"
              },
              "example": {
                "cacheId": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiIdentifier"
              },
              "example": {
                "cacheId": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiIdentifier"
              },
              "example": {
                "cacheId": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API Key is deleted"
          },
          "400": {
            "description": "API Key is empty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "API Key not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/apiKey/block": {
      "post": {
        "tags": [
          "ApiKey"
        ],
        "summary": "Blocks API Key",
        "description": "Blocks API Key",
        "operationId": "post-apikey-block",
        "requestBody": {
          "description": "The hash of the API to block",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiIdentifier"
              },
              "example": {
                "cacheId": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiIdentifier"
              },
              "example": {
                "cacheId": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiIdentifier"
              },
              "example": {
                "cacheId": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API Key is blocked"
          },
          "400": {
            "description": "API Key is empty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "API Key not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/apiKey/unblock": {
      "post": {
        "tags": [
          "ApiKey"
        ],
        "summary": "Unblock API Key",
        "description": "Unblock API Key",
        "operationId": "post-apikey-unblock",
        "requestBody": {
          "description": "The hash of the API Key to unblock",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiIdentifier"
              },
              "example": {
                "cacheId": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiIdentifier"
              },
              "example": {
                "cacheId": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApiIdentifier"
              },
              "example": {
                "cacheId": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API Key is unblocked"
          },
          "400": {
            "description": "API Key is empty",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "API Key not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/application": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "All Applications",
        "description": "All Applications",
        "operationId": "get-application",
        "responses": {
          "200": {
            "description": "A list of Applications",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationGet200TextPlainResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationGet200ApplicationJsonResponse"
                },
                "example": [
                  {
                    "id": "string",
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationGet200TextJsonResponse"
                },
                "example": [
                  {
                    "id": "string",
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create application",
        "description": "Create application",
        "operationId": "post-application",
        "requestBody": {
          "description": "The application to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created application",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                },
                "example": {
                  "id": "string",
                  "name": "string",
                  "description": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                },
                "example": {
                  "id": "string",
                  "name": "string",
                  "description": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Update application",
        "description": "Update application",
        "operationId": "put-application",
        "requestBody": {
          "description": "The application to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Application"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                },
                "example": {
                  "id": "string",
                  "name": "string",
                  "description": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                },
                "example": {
                  "id": "string",
                  "name": "string",
                  "description": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/application/{id}": {
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Delete application",
        "description": "Delete application",
        "operationId": "delete-application-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the application to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Application is deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/group": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "All groups",
        "description": "All groups",
        "operationId": "get-group",
        "responses": {
          "200": {
            "description": "A list of groups",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GroupGet200TextPlainResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupGet200ApplicationJsonResponse"
                },
                "example": [
                  {
                    "id": "string",
                    "name": "string",
                    "description": "string",
                    "organisationId": "string",
                    "roles": [
                      {
                        "roleId": "string",
                        "resourceAssignments": [
                          {
                            "resourceTypeId": "string",
                            "resourceIds": [
                              "string"
                            ]
                          }
                        ]
                      }
                    ],
                    "childGroups": [
                      "string"
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupGet200TextJsonResponse"
                },
                "example": [
                  {
                    "id": "string",
                    "name": "string",
                    "description": "string",
                    "organisationId": "string",
                    "roles": [
                      {
                        "roleId": "string",
                        "resourceAssignments": [
                          {
                            "resourceTypeId": "string",
                            "resourceIds": [
                              "string"
                            ]
                          }
                        ]
                      }
                    ],
                    "childGroups": [
                      "string"
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create group",
        "description": "Create group",
        "operationId": "post-group",
        "requestBody": {
          "description": "The group to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string",
                "organisationId": "string",
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ],
                "childGroups": [
                  "string"
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string",
                "organisationId": "string",
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ],
                "childGroups": [
                  "string"
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string",
                "organisationId": "string",
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ],
                "childGroups": [
                  "string"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created group",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                },
                "example": {
                  "id": "string",
                  "name": "string",
                  "description": "string",
                  "organisationId": "string",
                  "roles": [
                    {
                      "roleId": "string",
                      "resourceAssignments": [
                        {
                          "resourceTypeId": "string",
                          "resourceIds": [
                            "string"
                          ]
                        }
                      ]
                    }
                  ],
                  "childGroups": [
                    "string"
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                },
                "example": {
                  "id": "string",
                  "name": "string",
                  "description": "string",
                  "organisationId": "string",
                  "roles": [
                    {
                      "roleId": "string",
                      "resourceAssignments": [
                        {
                          "resourceTypeId": "string",
                          "resourceIds": [
                            "string"
                          ]
                        }
                      ]
                    }
                  ],
                  "childGroups": [
                    "string"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Update group",
        "description": "Update group",
        "operationId": "put-group",
        "requestBody": {
          "description": "The group to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string",
                "organisationId": "string",
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ],
                "childGroups": [
                  "string"
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string",
                "organisationId": "string",
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ],
                "childGroups": [
                  "string"
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              },
              "example": {
                "id": "string",
                "name": "string",
                "description": "string",
                "organisationId": "string",
                "roles": [
                  {
                    "roleId": "string",
                    "resourceAssignments": [
                      {
                        "resourceTypeId": "string",
                        "resourceIds": [
                          "string"
                        ]
                      }
                    ]
                  }
                ],
                "childGroups": [
                  "string"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                },
                "example": {
                  "id": "string",
                  "name": "string",
                  "description": "string",
                  "organisationId": "string",
                  "roles": [
                    {
                      "roleId": "string",
                      "resourceAssignments": [
                        {
                          "resourceTypeId": "string",
                          "resourceIds": [
                            "string"
                          ]
                        }
                      ]
                    }
                  ],
                  "childGroups": [
                    "string"
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                },
                "example": {
                  "id": "string",
                  "name": "string",
                  "description": "string",
                  "organisationId": "string",
                  "roles": [
                    {
                      "roleId": "string",
                      "resourceAssignments": [
                        {
                          "resourceTypeId": "string",
                          "resourceIds": [
                            "string"
                          ]
                        }
                      ]
                    }
                  ],
                  "childGroups": [
                    "string"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/group/{id}": {
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete group",
        "description": "Delete group",
        "operationId": "delete-group-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the group to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group is deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/organisation": {
      "post": {
        "tags": [
          "Organisation"
        ],
        "summary": "Create new organisation",
        "description": "Create new organisation",
        "operationId": "post-organisation",
        "requestBody": {
          "description": "The organisation to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organisation"
              },
              "example": {
                "code": "string",
                "name": "string",
                "internalNotes": "string",
                "description": "string",
                "id": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Organisation"
              },
              "example": {
                "code": "string",
                "name": "string",
                "internalNotes": "string",
                "description": "string",
                "id": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Organisation"
              },
              "example": {
                "code": "string",
                "name": "string",
                "internalNotes": "string",
                "description": "string",
                "id": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the organisation",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Organisation"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisation"
                },
                "example": {
                  "code": "string",
                  "name": "string",
                  "internalNotes": "string",
                  "description": "string",
                  "id": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisation"
                },
                "example": {
                  "code": "string",
                  "name": "string",
                  "internalNotes": "string",
                  "description": "string",
                  "id": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Organisation"
        ],
        "summary": "Update an organisation",
        "description": "Update an organisation",
        "operationId": "put-organisation",
        "requestBody": {
          "description": "The organisation to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Organisation"
              },
              "example": {
                "code": "string",
                "name": "string",
                "internalNotes": "string",
                "description": "string",
                "id": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Organisation"
              },
              "example": {
                "code": "string",
                "name": "string",
                "internalNotes": "string",
                "description": "string",
                "id": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Organisation"
              },
              "example": {
                "code": "string",
                "name": "string",
                "internalNotes": "string",
                "description": "string",
                "id": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update is correct"
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "tags": [
          "Organisation"
        ],
        "summary": "All Organisations",
        "description": "All Organisations",
        "operationId": "get-organisation",
        "responses": {
          "200": {
            "description": "A list of Organisations",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/OrganisationGet200TextPlainResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganisationGet200ApplicationJsonResponse"
                },
                "example": [
                  {
                    "code": "string",
                    "name": "string",
                    "internalNotes": "string",
                    "description": "string",
                    "id": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganisationGet200TextJsonResponse"
                },
                "example": [
                  {
                    "code": "string",
                    "name": "string",
                    "internalNotes": "string",
                    "description": "string",
                    "id": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/organisation/{id}": {
      "delete": {
        "tags": [
          "Organisation"
        ],
        "summary": "Removes an organisation",
        "description": "Removes an organisation",
        "operationId": "delete-organisation-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The organisation to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "organisation is deleted"
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/permission": {
      "get": {
        "tags": [
          "Permissions"
        ],
        "summary": "All Permissions",
        "description": "All Permissions",
        "operationId": "get-permission",
        "responses": {
          "200": {
            "description": "A list of Permissions",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionGet200TextPlainResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionGet200ApplicationJsonResponse"
                },
                "example": [
                  {
                    "name": "string",
                    "description": "string",
                    "applicationId": "string",
                    "resourceTypeId": "string",
                    "id": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionGet200TextJsonResponse"
                },
                "example": [
                  {
                    "name": "string",
                    "description": "string",
                    "applicationId": "string",
                    "resourceTypeId": "string",
                    "id": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Permissions"
        ],
        "summary": "Create permission",
        "description": "Create permission",
        "operationId": "post-permission",
        "requestBody": {
          "description": "The permission to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              },
              "example": {
                "name": "string",
                "description": "string",
                "applicationId": "string",
                "resourceTypeId": "string",
                "id": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              },
              "example": {
                "name": "string",
                "description": "string",
                "applicationId": "string",
                "resourceTypeId": "string",
                "id": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              },
              "example": {
                "name": "string",
                "description": "string",
                "applicationId": "string",
                "resourceTypeId": "string",
                "id": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created permission",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                },
                "example": {
                  "name": "string",
                  "description": "string",
                  "applicationId": "string",
                  "resourceTypeId": "string",
                  "id": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                },
                "example": {
                  "name": "string",
                  "description": "string",
                  "applicationId": "string",
                  "resourceTypeId": "string",
                  "id": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Permissions"
        ],
        "summary": "Update permission",
        "description": "Update permission",
        "operationId": "put-permission",
        "requestBody": {
          "description": "The permission to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              },
              "example": {
                "name": "string",
                "description": "string",
                "applicationId": "string",
                "resourceTypeId": "string",
                "id": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              },
              "example": {
                "name": "string",
                "description": "string",
                "applicationId": "string",
                "resourceTypeId": "string",
                "id": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Permission"
              },
              "example": {
                "name": "string",
                "description": "string",
                "applicationId": "string",
                "resourceTypeId": "string",
                "id": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                },
                "example": {
                  "name": "string",
                  "description": "string",
                  "applicationId": "string",
                  "resourceTypeId": "string",
                  "id": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                },
                "example": {
                  "name": "string",
                  "description": "string",
                  "applicationId": "string",
                  "resourceTypeId": "string",
                  "id": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/permission/{id}": {
      "delete": {
        "tags": [
          "Permissions"
        ],
        "summary": "Delete permission",
        "description": "Delete permission",
        "operationId": "delete-permission-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the permission to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permission is deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/permission/token": {
      "get": {
        "tags": [
          "Permissions"
        ],
        "summary": "Takes a token without permissions and embeds the permissions in the returned token",
        "description": "Takes a token without permissions and embeds the permissions in the returned token",
        "operationId": "get-permission-token",
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/resourceType": {
      "get": {
        "tags": [
          "ResourceType"
        ],
        "summary": "All resource types",
        "description": "All resource types",
        "operationId": "get-resourcetype",
        "responses": {
          "200": {
            "description": "A list of resource types",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceTypeGet200TextPlainResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceTypeGet200ApplicationJsonResponse"
                },
                "example": [
                  {
                    "name": "string",
                    "resources": [
                      {
                        "value": "string",
                        "name": "string",
                        "resourceTypeId": "string",
                        "id": "string"
                      }
                    ],
                    "id": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceTypeGet200TextJsonResponse"
                },
                "example": [
                  {
                    "name": "string",
                    "resources": [
                      {
                        "value": "string",
                        "name": "string",
                        "resourceTypeId": "string",
                        "id": "string"
                      }
                    ],
                    "id": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "ResourceType"
        ],
        "summary": "Create resource type",
        "description": "Create resource type",
        "operationId": "post-resourcetype",
        "requestBody": {
          "description": "The resource type to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceType"
              },
              "example": {
                "name": "string",
                "resources": [
                  {
                    "value": "string",
                    "name": "string",
                    "resourceTypeId": "string",
                    "id": "string"
                  }
                ],
                "id": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceType"
              },
              "example": {
                "name": "string",
                "resources": [
                  {
                    "value": "string",
                    "name": "string",
                    "resourceTypeId": "string",
                    "id": "string"
                  }
                ],
                "id": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceType"
              },
              "example": {
                "name": "string",
                "resources": [
                  {
                    "value": "string",
                    "name": "string",
                    "resourceTypeId": "string",
                    "id": "string"
                  }
                ],
                "id": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created resource type",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceType"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceType"
                },
                "example": {
                  "name": "string",
                  "resources": [
                    {
                      "value": "string",
                      "name": "string",
                      "resourceTypeId": "string",
                      "id": "string"
                    }
                  ],
                  "id": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceType"
                },
                "example": {
                  "name": "string",
                  "resources": [
                    {
                      "value": "string",
                      "name": "string",
                      "resourceTypeId": "string",
                      "id": "string"
                    }
                  ],
                  "id": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "ResourceType"
        ],
        "summary": "Update resource type",
        "description": "Update resource type",
        "operationId": "put-resourcetype",
        "requestBody": {
          "description": "The resource type to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceType"
              },
              "example": {
                "name": "string",
                "resources": [
                  {
                    "value": "string",
                    "name": "string",
                    "resourceTypeId": "string",
                    "id": "string"
                  }
                ],
                "id": "string"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceType"
              },
              "example": {
                "name": "string",
                "resources": [
                  {
                    "value": "string",
                    "name": "string",
                    "resourceTypeId": "string",
                    "id": "string"
                  }
                ],
                "id": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceType"
              },
              "example": {
                "name": "string",
                "resources": [
                  {
                    "value": "string",
                    "name": "string",
                    "resourceTypeId": "string",
                    "id": "string"
                  }
                ],
                "id": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceType"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceType"
                },
                "example": {
                  "name": "string",
                  "resources": [
                    {
                      "value": "string",
                      "name": "string",
                      "resourceTypeId": "string",
                      "id": "string"
                    }
                  ],
                  "id": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceType"
                },
                "example": {
                  "name": "string",
                  "resources": [
                    {
                      "value": "string",
                      "name": "string",
                      "resourceTypeId": "string",
                      "id": "string"
                    }
                  ],
                  "id": "string"
                }
              }
            }
          },
          "400": {
            "description": "If the request has any errors",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/resourceType/{id}": {
      "delete": {
        "tags": [
          "ResourceType"
        ],
        "summary": "Delete resourcetype",
        "description": "Delete resourcetype",
        "operationId": "delete-resourcetype-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the resource type to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource type is deleted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
[...]
