openapi: 3.0.1
info:
  title: Availability Prediction API
  version: "1.0"
servers:
- url: https://api.appyway.com/v1/availability-prediction
paths:
  /ping:
    get:
      tags:
      - Status
      summary: Ping
      description: Returns Status (pong) of the Availability Occupancy API service
      operationId: get-ping
      responses:
        "200":
          description: Success
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /queries/fetchAvailabilityPredictionByEntityIds:
    post:
      tags:
      - Availability
      summary: Fetch availability prediction by entity Ids
      description: Returns the predictions for the list of given entity Ids and date.
      operationId: post-queries-fetchavailabilitypredictionbyentityids
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchAvailabilityPredictionByEntityIdsQuery'
            example:
              dateTime: string
              ids:
              - string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchAvailabilityPredictionByEntityIdsQuery'
            example:
              dateTime: string
              ids:
              - string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchAvailabilityPredictionByEntityIdsQuery'
            example:
              dateTime: string
              ids:
              - string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyPredictionIReadOnlyCollectionOkResponse'
              example:
                success: true
                result:
                - entityId: string
                  occupancyRatio: 0
                  confidence: 0
                  sourceTypes: 0
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: false
                message: string
                errors:
                - property: string
                  code: string
                  message: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /queries/fetchDailyAvailabilityPredictionsByEntityId:
    post:
      tags:
      - Availability
      summary: Fetch daily availability predictions by entity id
      description: Returns the local hourly predictions for the given date and entity id.
      operationId: post-queries-fetchdailyavailabilitypredictionsbyentityid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchDailyAvailabilityPredictionsByEntityIdQuery'
            example:
              dateTime: string
              id: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchDailyAvailabilityPredictionsByEntityIdQuery'
            example:
              dateTime: string
              id: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchDailyAvailabilityPredictionsByEntityIdQuery'
            example:
              dateTime: string
              id: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchDailyAvailabilityPredictionsByEntityIdQueryResultOkResponse'
              example:
                success: true
                result:
                  globalConfidence: 0
                  sourceTypes: 0
                  hourlyPredictions: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: false
                message: string
                errors:
                - property: string
                  code: string
                  message: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /queries/fetchDailyOccupancyHistoryForPredictionByEntityId:
    post:
      tags:
      - Availability
      summary: Fetch daily availability history used for prediction by entity id
      description: Returns the daily availability history used to predict a given date and entity id.
      operationId: post-queries-fetchdailyoccupancyhistoryforpredictionbyentityid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchDailyOccupancyHistoryForPredictionByEntityIdQuery'
            example:
              dateTime: string
              id: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchDailyOccupancyHistoryForPredictionByEntityIdQuery'
            example:
              dateTime: string
              id: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchDailyOccupancyHistoryForPredictionByEntityIdQuery'
            example:
              dateTime: string
              id: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchDailyOccupancyHistoryForPredictionByEntityIdQueryResultItemOkResponse'
              example:
                success: true
                result:
                  date: string
                  entityId: string
                  groupId: string
                  localDayOfWeek: 0
                  occupancyBySourceType:
                  - dataSourceType: 0
                    hourlyOccupancy:
                    - 0
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: false
                message: string
                errors:
                - property: string
                  code: string
                  message: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /queries/fetchWeeklyAvailabilityPredictionsByEntityId:
    post:
      tags:
      - Availability
      summary: Fetch weekly availability predictions by entity id
      description: Returns the local hourly predictions for the given date and entity id.
      operationId: post-queries-fetchweeklyavailabilitypredictionsbyentityid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchWeeklyAvailabilityPredictionsByEntityIdQuery'
            example:
              dateTime: string
              id: string
          text/json:
            schema:
              $ref: '#/components/schemas/FetchWeeklyAvailabilityPredictionsByEntityIdQuery'
            example:
              dateTime: string
              id: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchWeeklyAvailabilityPredictionsByEntityIdQuery'
            example:
              dateTime: string
              id: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyPredictionsOkResponse'
              example:
                success: true
                result:
                  entityId: string
                  sourceTypes: 0
                  perDayOfWeek: {}
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
              example:
                success: false
                message: string
                errors:
                - property: string
                  code: string
                  message: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    BadRequestResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the request was successful
          readOnly: true
          example: false
        message:
          type: string
          description: Human-readable message for this response
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Collection of validation errors caused by the request
          nullable: true
      additionalProperties: false
      description: A response indicating the request was invalid
    DailyOccupancyForSourceType:
      type: object
      properties:
        dataSourceType:
          $ref: '#/components/schemas/DataSourceType'
        hourlyOccupancy:
          type: array
          items:
            type: number
            format: float
          nullable: true
      additionalProperties: false
    DailyPredictions:
      type: object
      properties:
        entityId:
          type: string
          nullable: true
        sourceTypes:
          $ref: '#/components/schemas/DataSourceType'
        confidence:
          type: number
          format: float
          nullable: true
        perHour:
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          nullable: true
      additionalProperties: false
    DataSourceType:
      enum:
      - 0
      - 1
      - 2
      - 4
      type: integer
      format: int32
    Error:
      type: object
      properties:
        property:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    FetchAvailabilityPredictionByEntityIdsQuery:
      required:
      - dateTime
      - ids
      type: object
      properties:
        ids:
          minLength: 1
          type: array
          items:
            type: string
        dateTime:
          minLength: 1
          type: string
          format: date-time
      additionalProperties: false
    FetchDailyAvailabilityPredictionsByEntityIdQuery:
      required:
      - dateTime
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
        dateTime:
          minLength: 1
          type: string
          format: date-time
      additionalProperties: false
    FetchDailyAvailabilityPredictionsByEntityIdQueryResult:
      type: object
      properties:
        globalConfidence:
          type: number
          format: float
          nullable: true
        sourceTypes:
          $ref: '#/components/schemas/DataSourceType'
        hourlyPredictions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/HourlyPrediction'
          nullable: true
      additionalProperties: false
    FetchDailyAvailabilityPredictionsByEntityIdQueryResultOkResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the response was successful
          readOnly: true
        result:
          $ref: '#/components/schemas/FetchDailyAvailabilityPredictionsByEntityIdQueryResult'
      additionalProperties: false
      description: A successful response
    FetchDailyOccupancyHistoryForPredictionByEntityIdQuery:
      required:
      - dateTime
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
        dateTime:
          minLength: 1
          type: string
          format: date-time
      additionalProperties: false
    FetchDailyOccupancyHistoryForPredictionByEntityIdQueryResultItem:
      type: object
      properties:
        date:
          type: string
          format: date-time
        entityId:
          type: string
          nullable: true
        groupId:
          type: string
          nullable: true
        localDayOfWeek:
          type: integer
          format: int32
        occupancyBySourceType:
          type: array
          items:
            $ref: '#/components/schemas/DailyOccupancyForSourceType'
          nullable: true
      additionalProperties: false
    FetchDailyOccupancyHistoryForPredictionByEntityIdQueryResultItemOkResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the response was successful
          readOnly: true
        result:
          $ref: '#/components/schemas/FetchDailyOccupancyHistoryForPredictionByEntityIdQueryResultItem'
      additionalProperties: false
      description: A successful response
    FetchWeeklyAvailabilityPredictionsByEntityIdQuery:
      required:
      - dateTime
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
        dateTime:
          minLength: 1
          type: string
          format: date-time
      additionalProperties: false
    HourlyPrediction:
      type: object
      properties:
        entityId:
          type: string
          nullable: true
        occupancyRatio:
          type: number
          format: float
          nullable: true
        confidence:
          type: number
          format: float
          nullable: true
        sourceTypes:
          $ref: '#/components/schemas/DataSourceType'
      additionalProperties: false
    HourlyPredictionIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the response was successful
          readOnly: true
        result:
          type: array
          items:
            $ref: '#/components/schemas/HourlyPrediction'
          description: Payload of the response
          nullable: true
      additionalProperties: false
      description: A successful response
    Prediction:
      type: object
      properties:
        sourceTypes:
          $ref: '#/components/schemas/DataSourceType'
        occupancyRatio:
          type: number
          format: float
        confidence:
          type: number
          format: float
      additionalProperties: false
    WeeklyPredictions:
      type: object
      properties:
        entityId:
          type: string
          nullable: true
        sourceTypes:
          $ref: '#/components/schemas/DataSourceType'
        perDayOfWeek:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/DailyPredictions'
          nullable: true
      additionalProperties: false
    WeeklyPredictionsOkResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the response was successful
          readOnly: true
        result:
          $ref: '#/components/schemas/WeeklyPredictions'
      additionalProperties: false
      description: A successful response
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
  responses:
    TooManyRequests:
      description: Too many requests
    Unauthorized:
      description: Unauthorized
    Forbidden:
      description: Forbidden
security:
- apiKey: []
- oAuth2: []

