openapi: 3.0.1
info:
  title: Availability Prediction API
  version: "1.0"
servers:
- url: https://api.appyway.com/v1/availability-prediction
paths:
  /ping:
    get:
      tags:
      - Status
      summary: Ping
      description: Returns Status (pong) of the Availability Occupancy API service
      operationId: get-ping
      responses:
        "200":
          description: Success
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /queries/fetchAvailabilityPredictionByEntityIds:
    post:
      tags:
      - Availability
      summary: Fetch availability prediction by entity Ids
      description: Returns the predictions for the list of given entity Ids and date.
      operationId: post-queries-fetchavailabilitypredictionbyentityids
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchAvailabilityPredictionByEntityIdsQuery'
          text/json:
            schema:
              $ref: '#/components/schemas/FetchAvailabilityPredictionByEntityIdsQuery'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchAvailabilityPredictionByEntityIdsQuery'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HourlyPredictionIReadOnlyCollectionOkResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /queries/fetchDailyAvailabilityPredictionsByEntityId:
    post:
      tags:
      - Availability
      summary: Fetch daily availability predictions by entity id
      description: Returns the local hourly predictions for the given date and entity id.
      operationId: post-queries-fetchdailyavailabilitypredictionsbyentityid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchDailyAvailabilityPredictionsByEntityIdQuery'
          text/json:
            schema:
              $ref: '#/components/schemas/FetchDailyAvailabilityPredictionsByEntityIdQuery'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchDailyAvailabilityPredictionsByEntityIdQuery'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchDailyAvailabilityPredictionsByEntityIdQueryResultOkResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /queries/fetchWeeklyAvailabilityPredictionsByEntityId:
    post:
      tags:
      - Availability
      summary: Fetch weekly availability predictions by entity id
      description: Returns the local hourly predictions for the given date and entity id.
      operationId: post-queries-fetchweeklyavailabilitypredictionsbyentityid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchWeeklyAvailabilityPredictionsByEntityIdQuery'
          text/json:
            schema:
              $ref: '#/components/schemas/FetchWeeklyAvailabilityPredictionsByEntityIdQuery'
          application/*+json:
            schema:
              $ref: '#/components/schemas/FetchWeeklyAvailabilityPredictionsByEntityIdQuery'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyPredictionsOkResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    FetchAvailabilityPredictionByEntityIdsQuery:
      required:
      - dateTime
      - ids
      type: object
      properties:
        ids:
          minLength: 1
          type: array
          items:
            type: string
          nullable: true
        dateTime:
          minLength: 1
          type: string
          format: date-time
      additionalProperties: false
    DataSourceType:
      enum:
      - 0
      - 1
      - 2
      - 4
      type: integer
      format: int32
    HourlyPrediction:
      type: object
      properties:
        entityId:
          type: string
          nullable: true
        occupancyRatio:
          type: number
          format: float
          nullable: true
        confidence:
          type: number
          format: float
          nullable: true
        sourceTypes:
          $ref: '#/components/schemas/DataSourceType'
      additionalProperties: false
    HourlyPredictionIReadOnlyCollectionOkResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the response was successful
          readOnly: true
        result:
          type: array
          items:
            $ref: '#/components/schemas/HourlyPrediction'
          description: Payload of the response
          nullable: true
      additionalProperties: false
      description: A successful response
    Error:
      type: object
      properties:
        property:
          type: string
          nullable: true
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
      additionalProperties: false
    BadRequestResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the request was successful
          readOnly: true
          example: false
        message:
          type: string
          description: Human-readable message for this response
          nullable: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          description: Collection of validation errors caused by the request
          nullable: true
      additionalProperties: false
      description: A response indicating the request was invalid
    FetchDailyAvailabilityPredictionsByEntityIdQuery:
      required:
      - dateTime
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          nullable: true
        dateTime:
          minLength: 1
          type: string
          format: date-time
      additionalProperties: false
    FetchDailyAvailabilityPredictionsByEntityIdQueryResult:
      type: object
      properties:
        globalConfidence:
          type: number
          format: float
          nullable: true
        sourceTypes:
          $ref: '#/components/schemas/DataSourceType'
        hourlyPredictions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/HourlyPrediction'
          nullable: true
      additionalProperties: false
    FetchDailyAvailabilityPredictionsByEntityIdQueryResultOkResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the response was successful
          readOnly: true
        result:
          $ref: '#/components/schemas/FetchDailyAvailabilityPredictionsByEntityIdQueryResult'
      additionalProperties: false
      description: A successful response
    FetchWeeklyAvailabilityPredictionsByEntityIdQuery:
      required:
      - dateTime
      - id
      type: object
      properties:
        id:
          minLength: 1
          type: string
          nullable: true
        dateTime:
          minLength: 1
          type: string
          format: date-time
      additionalProperties: false
    Prediction:
      type: object
      properties:
        sourceTypes:
          $ref: '#/components/schemas/DataSourceType'
        occupancyRatio:
          type: number
          format: float
        confidence:
          type: number
          format: float
      additionalProperties: false
    DailyPredictions:
      type: object
      properties:
        entityId:
          type: string
          nullable: true
        sourceTypes:
          $ref: '#/components/schemas/DataSourceType'
        confidence:
          type: number
          format: float
          nullable: true
        perHour:
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          nullable: true
      additionalProperties: false
    WeeklyPredictions:
      type: object
      properties:
        entityId:
          type: string
          nullable: true
        sourceTypes:
          $ref: '#/components/schemas/DataSourceType'
        perDayOfWeek:
          type: object
          properties:
            Sunday:
              $ref: '#/components/schemas/DailyPredictions'
            Monday:
              $ref: '#/components/schemas/DailyPredictions'
            Tuesday:
              $ref: '#/components/schemas/DailyPredictions'
            Wednesday:
              $ref: '#/components/schemas/DailyPredictions'
            Thursday:
              $ref: '#/components/schemas/DailyPredictions'
            Friday:
              $ref: '#/components/schemas/DailyPredictions'
            Saturday:
              $ref: '#/components/schemas/DailyPredictions'
          nullable: true
      additionalProperties: false
    WeeklyPredictionsOkResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the response was successful
          readOnly: true
        result:
          $ref: '#/components/schemas/WeeklyPredictions'
      additionalProperties: false
      description: A successful response
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
  responses:
    TooManyRequests:
      description: Too many requests
    Unauthorized:
      description: Unauthorized
    Forbidden:
      description: Forbidden
security:
- apiKey: []
- oAuth2: []

