{
  "openapi": "3.0.1",
  "info": {
    "title": "Availability Prediction API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.appyway.com/v1/availability-prediction"
    }
  ],
  "paths": {
    "/monitor": {
      "get": {
        "tags": [
          "Monitor"
        ],
        "summary": "Monitor",
        "description": "Returns information on the health of the Availability Prediction API service",
        "operationId": "get-monitor",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/queries/getAvailabilityPredictionByIds": {
      "post": {
        "tags": [
          "Queries"
        ],
        "summary": "/queries/getAvailabilityPredictionByIds - POST",
        "operationId": "post-queries-getavailabilitypredictionbyids",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAvailabilityPredictionByIdsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAvailabilityPredictionByIdsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAvailabilityPredictionByIdsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParkingPredictionIReadOnlyCollectionOkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/queries/getDailyAvailabilityPredictionsById": {
      "post": {
        "tags": [
          "Queries"
        ],
        "summary": "/queries/getDailyAvailabilityPredictionsById - POST",
        "operationId": "post-queries-getdailyavailabilitypredictionsbyid",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDailyAvailabilityPredictionsByIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDailyAvailabilityPredictionsByIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetDailyAvailabilityPredictionsByIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParkingPredictionIReadOnlyCollectionOkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GetAvailabilityPredictionByIdsQuery": {
        "required": [
          "dateTime",
          "ids"
        ],
        "type": "object",
        "properties": {
          "ids": {
            "minLength": 1,
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "dateTime": {
            "minLength": 1,
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "ParkingPrediction": {
        "type": "object",
        "properties": {
          "parkingAssetId": {
            "type": "string",
            "nullable": true
          },
          "occupancyRatio": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "confidence": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "property": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ParkingPredictionIReadOnlyCollectionOkResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParkingPrediction"
            },
            "nullable": true
          },
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "nullable": true
          },
          "stackTrace": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BadRequestResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "nullable": true
          },
          "stackTrace": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetDailyAvailabilityPredictionsByIdQuery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "dateTime": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKey": {
        "name": "API-KEY",
        "in": "header",
        "type": "apiKey"
      },
      "oAuth2": {
        "flows": {
          "authorizationCode": {
            "scopes": {},
            "authorizationUrl": "https://auth.appyway.com/authorize",
            "tokenUrl": "https://auth.appyway.com/oauth/token"
          }
        },
        "type": "oauth2"
      }
    },
    "responses": {
      "TooManyRequests": {
        "description": "Too many requests"
      },
      "Unauthorized": {
        "description": "Unauthorized"
      },
      "Forbidden": {
        "description": "Forbidden"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "oAuth2": []
    }
  ]
}
