{
  "openapi": "3.0.1",
  "info": {
    "title": "Availability RealTime API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.appyway.com/v1/availability-realtime"
    }
  ],
  "paths": {
    "/monitor": {
      "get": {
        "tags": [
          "Monitor"
        ],
        "summary": "Monitor",
        "description": "Returns information on the health of the Availability Prediction API service",
        "operationId": "get-monitor",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/queries/fetchAvailabilityByEntityIds": {
      "post": {
        "tags": [
          "Availability"
        ],
        "summary": "Fetch realtime availability by entity Ids",
        "description": "Returns the availability for the list of given entity Ids.",
        "operationId": "post-queries-fetchavailabilitybyentityids",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchAvailabilityByEntityIdsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchAvailabilityByEntityIdsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FetchAvailabilityByEntityIdsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParkingAvailabilityIReadOnlyCollectionOkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/queries/fetchAvailabilityByGroupAndEntityIds": {
      "post": {
        "tags": [
          "Availability"
        ],
        "summary": "Fetch realtime availability aggregated groups by keys formed by the group id and entity id",
        "description": "Returns the availability for the list of given keys formed by group id and entity id.\r\nIf the group is not provided, it will return the availability for the entity.",
        "operationId": "post-queries-fetchavailabilitybygroupandentityids",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchAvailabilityByGroupAndEntityIdsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchAvailabilityByGroupAndEntityIdsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FetchAvailabilityByGroupAndEntityIdsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParkingAvailabilityIReadOnlyCollectionOkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FetchAvailabilityByEntityIdsQuery": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EntityType": {
        "enum": [
          1,
          2,
          3,
          4,
          5,
          6
        ],
        "type": "integer",
        "format": "int32"
      },
      "DataSourceType": {
        "enum": [
          0,
          1,
          2,
          3
        ],
        "type": "integer",
        "format": "int32"
      },
      "ParkingAvailability": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "nullable": true
          },
          "entityType": {
            "$ref": "#/components/schemas/EntityType"
          },
          "dataSourceType": {
            "$ref": "#/components/schemas/DataSourceType"
          },
          "groupId": {
            "type": "string",
            "nullable": true
          },
          "totalSpaces": {
            "type": "integer",
            "format": "int32"
          },
          "availableSpaces": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ParkingAvailabilityIReadOnlyCollectionOkResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the response was successful",
            "readOnly": true
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ParkingAvailability"
            },
            "description": "Payload of the response",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A successful response"
      },
      "Error": {
        "type": "object",
        "properties": {
          "property": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BadRequestResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful",
            "readOnly": true,
            "example": false
          },
          "message": {
            "type": "string",
            "description": "Human-readable message for this response",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Collection of validation errors caused by the request",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A response indicating the request was invalid"
      },
      "AvailabilityGroupKey": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "nullable": true
          },
          "groupId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FetchAvailabilityByGroupAndEntityIdsQuery": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailabilityGroupKey"
            },
            "nullable": true
          },
          "(Collection)": null
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKey": {
        "name": "API-KEY",
        "in": "header",
        "type": "apiKey"
      },
      "oAuth2": {
        "flows": {
          "authorizationCode": {
            "scopes": {},
            "authorizationUrl": "https://auth.appyway.com/authorize",
            "tokenUrl": "https://auth.appyway.com/oauth/token"
          }
        },
        "type": "oauth2"
      }
    },
    "responses": {
      "TooManyRequests": {
        "description": "Too many requests"
      },
      "Unauthorized": {
        "description": "Unauthorized"
      },
      "Forbidden": {
        "description": "Forbidden"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "oAuth2": []
    }
  ]
}
