{
  "info": {
    "title": "Map Entity",
    "description": "TODO",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.appyway.com/mapentity/v0.1"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "oAuth2": []
    }
  ],
  "openapi": "3.0.1",
  "components": {
    "securitySchemes": {
      "apiKey": {
        "name": "API-KEY",
        "in": "header",
        "type": "apiKey"
      },
      "oAuth2": {
        "flows": {
          "authorizationCode": {
            "scopes": {},
            "authorizationUrl": "https://auth.appyway.com/authorize",
            "tokenUrl": "https://auth.appyway.com/oauth/token"
          }
        },
        "type": "oauth2"
      }
    },
    "schemas": {
      "Authority": {
        "additionalProperties": false,
        "properties": {
          "geometry": {
            "$ref": "#/components/schemas/GeometryCollection"
          },
          "notes": {
            "description": "Any special notes associated with this authority",
            "items": {
              "$ref": "#/components/schemas/Note"
            },
            "type": "array",
            "nullable": true
          },
          "paymentProviders": {
            "items": {
              "$ref": "#/components/schemas/PaymentProvider"
            },
            "type": "array",
            "nullable": true
          },
          "eTag": {
            "description": "ETag for the entity. The ETag is specific to each version of this entity and changes whenever the entity data changes. Clients can\r\nsend the eTags of cached entities to the server when requesting data and the server can return only entities for which the current ETag does\r\nnot match the requested tag - i.e. just those entities that have changed.",
            "type": "string",
            "nullable": true
          },
          "name": {
            "description": "User-readable name for this entity",
            "type": "string",
            "nullable": true
          },
          "entityType": {
            "$ref": "#/components/schemas/MapEntityType"
          },
          "entityId": {
            "description": "Unique identifer for this entity",
            "type": "string",
            "nullable": true
          }
        },
        "description": "Defines the area controlled by a particular local authority. Authorities may contain zones and may also contain parking entities directly.",
        "type": "object"
      },
      "ZoneType": {
        "format": "int32",
        "enum": [
          1,
          2,
          3,
          4,
          5,
          7,
          8,
          9,
          10
        ],
        "description": "Different types of Zone",
        "type": "integer"
      },
      "NotFoundResponse": {
        "additionalProperties": false,
        "properties": {
          "message": {
            "description": "Human-readable message for this response",
            "type": "string",
            "nullable": true
          },
          "success": {
            "readOnly": true,
            "description": "Whether the request was successful",
            "example": false,
            "type": "boolean"
          }
        },
        "description": "A response indicating the requested resource was not found",
        "type": "object"
      },
      "Polygon": {
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "crs": {
            "$ref": "#/components/schemas/Crs"
          },
          "coordinates": {
            "items": {
              "items": {
                "items": {
                  "format": "double",
                  "type": "number"
                },
                "type": "array"
              },
              "type": "array"
            },
            "type": "array",
            "nullable": true
          }
        },
        "type": "object"
      },
      "ZoneSearchResult": {
        "additionalProperties": false,
        "properties": {
          "entityETag": {
            "description": "The Etag of the current latest version of the Zone referred to by this result. This allows\r\nclients to determine if they have the latest version of the zone in their local cache and only\r\nrequest the entity if it is missing.",
            "type": "string",
            "nullable": true
          },
          "entityId": {
            "description": "Entity ID of the zone referred to by this result",
            "type": "string",
            "nullable": true
          },
          "defaults": {
            "description": "List of defaults for this zone",
            "items": {
              "$ref": "#/components/schemas/ZoneDefault"
            },
            "type": "array",
            "nullable": true
          }
        },
        "description": "Represents a single result returned from a search for zones",
        "type": "object"
      },
      "Error": {
        "additionalProperties": false,
        "properties": {
          "message": {
            "description": "Human-readable message for the error",
            "type": "string",
            "nullable": true
          },
          "property": {
            "description": "The property that caused the problem",
            "type": "string",
            "nullable": true
          },
          "code": {
            "description": "Machine-readable code representing the type of error",
            "type": "string",
            "nullable": true
          }
        },
        "description": "Represents a validation error",
        "type": "object"
      },
      "PaymentProvidersResponseOkResponse": {
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/PaymentProvidersResponse"
          },
          "success": {
            "readOnly": true,
            "description": "Whether the response was successful",
            "type": "boolean"
          }
        },
        "description": "A successful response",
        "type": "object"
      },
      "NoParkingReasonType": {
        "format": "int32",
        "enum": [
          1,
          2,
          3,
          4
        ],
        "description": "Reasons that parking is not permitted at a parking entity",
        "type": "integer"
      },
      "Crs": {
        "additionalProperties": false,
        "properties": {
          "properties": {
            "$ref": "#/components/schemas/CrsProperties"
          },
          "type": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "Zone": {
        "additionalProperties": false,
        "properties": {
          "geometry": {
            "$ref": "#/components/schemas/GeometryCollection"
          },
          "entityId": {
            "description": "Unique identifer for this entity",
            "type": "string",
            "nullable": true
          },
          "notes": {
            "description": "Any special note associated with this zone",
            "items": {
              "$ref": "#/components/schemas/Note"
            },
            "type": "array",
            "nullable": true
          },
          "eTag": {
            "description": "ETag for the entity. The ETag is specific to each version of this entity and changes whenever the entity data changes. Clients can\r\nsend the eTags of cached entities to the server when requesting data and the server can return only entities for which the current ETag does\r\nnot match the requested tag - i.e. just those entities that have changed.",
            "type": "string",
            "nullable": true
          },
          "name": {
            "description": "User-readable name for this entity",
            "type": "string",
            "nullable": true
          },
          "entityType": {
            "$ref": "#/components/schemas/MapEntityType"
          },
          "authorityId": {
            "description": "The authority containing this zone",
            "type": "string",
            "nullable": true
          },
          "zoneType": {
            "$ref": "#/components/schemas/ZoneType"
          }
        },
        "description": "A zone is an area defined by the local authority that acts as a container for a set of OnStreet and Carpark entities.\r\nA zone may define common parking rules that are applicable generally across parts of the kerb (e.g. Single Yellow Lines) and may\r\ndefine rules parking entities that can be overridden by individual entities.",
        "type": "object"
      },
      "MapEntitiesResponse": {
        "additionalProperties": false,
        "properties": {
          "zones": {
            "description": "Zones returned from the query",
            "items": {
              "$ref": "#/components/schemas/Zone"
            },
            "type": "array",
            "nullable": true
          },
          "authorities": {
            "description": "Authorities returned from the query",
            "items": {
              "$ref": "#/components/schemas/Authority"
            },
            "type": "array",
            "nullable": true
          },
          "parkingEntities": {
            "description": "Parking entities returned from the query",
            "items": {
              "$ref": "#/components/schemas/ParkingEntity"
            },
            "type": "array",
            "nullable": true
          }
        },
        "description": "Response shape for a request for multiple Map Entities",
        "type": "object"
      },
      "SearchParkingByGeoJsonViewportQuery": {
        "additionalProperties": false,
        "properties": {
          "vehicleOperatorContext": {
            "$ref": "#/components/schemas/VehicleOperatorContext"
          },
          "filters": {
            "$ref": "#/components/schemas/SearchParkingByViewportFilters"
          },
          "startTime": {
            "format": "date-time",
            "description": "Start of the window for which to retrieve state. Required.",
            "type": "string"
          },
          "viewport": {
            "$ref": "#/components/schemas/Polygon"
          },
          "endTime": {
            "format": "date-time",
            "description": "End of the window for which to retrieve state. Required.",
            "type": "string"
          }
        },
        "description": "Request for searching for Parking Entities for a square viewport. The viewport is defined by the latitude and longitude of\r\nthe centre point and the length of one side.",
        "type": "object"
      },
      "Permit": {
        "additionalProperties": false,
        "properties": {
          "permitTypeId": {
            "format": "int32",
            "description": "The type of the permit",
            "type": "integer"
          }
        },
        "description": "A permit that can be held by a vehicle operator",
        "type": "object"
      },
      "ParkingSearchResponseOkResponse": {
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/ParkingSearchResponse"
          },
          "success": {
            "readOnly": true,
            "description": "Whether the response was successful",
            "type": "boolean"
          }
        },
        "description": "A successful response",
        "type": "object"
      },
      "MapEntitiesListQuery": {
        "additionalProperties": false,
        "properties": {
          "ids": {
            "description": "List of Ids of entities to fetch",
            "items": {
              "type": "string"
            },
            "type": "array",
            "nullable": true
          }
        },
        "description": "Request allowing a client to fetch a list of entities",
        "type": "object"
      },
      "ParkingAllowed": {
        "format": "int32",
        "enum": [
          1,
          2,
          3
        ],
        "description": "Enum to indicate the different scenarios whereby parking may be allowed or denied.",
        "type": "integer"
      },
      "ParkingEntityOkResponse": {
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/ParkingEntity"
          },
          "success": {
            "readOnly": true,
            "description": "Whether the response was successful",
            "type": "boolean"
          }
        },
        "description": "A successful response",
        "type": "object"
      },
      "ParkingQuote": {
        "additionalProperties": false,
        "properties": {
          "noReturn": {
            "description": "The 'no return' window, i.e. the time after parking during which the user is not allowed to return to the bay.",
            "example": "3.17:25:30.5000000",
            "type": "string",
            "nullable": true
          },
          "cost": {
            "format": "float",
            "description": "The total cost of parking given the context of the quote.",
            "type": "number"
          },
          "rulesApplyUntil": {
            "format": "date-time",
            "description": "The date and time until the rules on which this quote is based apply.",
            "type": "string"
          },
          "canExtendUntil": {
            "format": "date-time",
            "description": "The maximum time until which the user can park. This value ignores the requested window and is the\r\nlatest time the user is able to remain parked in the space if they were to extend their session\r\nbeyond the requested window.",
            "type": "string",
            "nullable": true
          },
          "permittedContexts": {
            "description": "Vehicle operators for whom this quote is valid",
            "items": {
              "$ref": "#/components/schemas/VehicleOperatorContext"
            },
            "type": "array",
            "nullable": true
          },
          "pricedUntil": {
            "format": "date-time",
            "description": "The maximum time until which the user can park for the price specified in the 'cost' field. The\r\n'cost' field is the cost for the requested time window, but that price may entitle the user to\r\npark longer than requested, in which case this field holds the time that the cost will entitle\r\nthem to park.",
            "type": "string",
            "nullable": true
          },
          "relevance": {
            "format": "int32",
            "description": "Server-calculated relevance for this quote. May be used by the client if required to easily choose\r\nbetween multiple quotes for a parking entity to display a single price for a bay.",
            "type": "integer"
          },
          "surcharge": {
            "$ref": "#/components/schemas/SurchargeDetails"
          },
          "paymentMethodIds": {
            "description": "Payment method(s) for which this quote is valid",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array",
            "nullable": true
          },
          "currency": {
            "description": "Currency of the value in the Cost field",
            "type": "string",
            "nullable": true
          },
          "isFreeParking": {
            "description": "TRUE if parking is free, false if it is paid.",
            "type": "boolean"
          },
          "minCost": {
            "format": "float",
            "description": "Minimum cost for parking. This is the minimum amount the user will pay for parking,\r\nregardless of when they leave the space.",
            "type": "number",
            "nullable": true
          },
          "onStreetParkingType": {
            "format": "int32",
            "description": "The type of the on street parking for the purposes of this quote. On street parking entities may have multiple types that apply\r\nat different times or simultaneously. If multiple types apply AND the vehicle operator context is such that more than one type allows\r\nthe user to park, then multiple quotes will be returned for a single result and each will have a different On Street Parking Type.\r\n            \r\nFor example, a bay may be simultaneously a Standard Bay and a Disabled Bay (if, for example, parking is free for blue disabled badge holders but\r\npaid for everyone else). If the vehicle operator has a blue badge permit, they will get two quotes back. One will have a type of StandardBay and\r\nthe other will have a type of DisabledBay.\r\n            \r\nThis field will not have a value for car parks.",
            "type": "integer",
            "nullable": true
          }
        },
        "description": "A contextualized quote for a parking session, including related data such as No Return and Minimum Cost",
        "type": "object"
      },
      "PaymentProvidersResponse": {
        "additionalProperties": false,
        "properties": {
          "paymentProviders": {
            "description": "Payment providers returned from the query",
            "items": {
              "$ref": "#/components/schemas/PaymentProvider"
            },
            "type": "array",
            "nullable": true
          }
        },
        "description": "Response containing a list of payment providers",
        "type": "object"
      },
      "ZoneDefault": {
        "additionalProperties": false,
        "properties": {
          "isFreeParking": {
            "description": "Whether parking is free or paid",
            "type": "boolean"
          },
          "parkingAllowed": {
            "$ref": "#/components/schemas/ParkingAllowed"
          },
          "permittedContexts": {
            "description": "The vehicle operators for whom this default applies",
            "items": {
              "$ref": "#/components/schemas/VehicleOperatorContext"
            },
            "type": "array",
            "nullable": true
          },
          "markingTypeId": {
            "format": "int32",
            "description": "Type of markings (bays, single yellow lines etc) to which these defaults apply",
            "type": "integer"
          }
        },
        "description": "A default zone-wide setting that applies to all parking entities of the given bay type unless overridden specifically at the Parking Entity level",
        "type": "object"
      },
      "Address": {
        "additionalProperties": false,
        "properties": {
          "street": {
            "description": "Street address",
            "type": "string",
            "nullable": true
          },
          "city": {
            "description": "Town or city",
            "type": "string",
            "nullable": true
          },
          "postcode": {
            "description": "Postal code",
            "type": "string",
            "nullable": true
          },
          "country": {
            "description": "Country",
            "type": "string",
            "nullable": true
          }
        },
        "description": "A standard address for an Onstreet bay or Car park",
        "type": "object"
      },
      "ParkingEntity": {
        "additionalProperties": false,
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/MapEntityType"
          },
          "locationCode": {
            "description": "A unique code for each parking entity assigned by a payment provider and is their identifier for payment purposes",
            "type": "string",
            "nullable": true
          },
          "paymentMethodIds": {
            "description": "Payment methods supported at this onstreet location.",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "totalCapacity": {
            "format": "int32",
            "description": "How many vehicles can be parked at the parking entity. May be approximate (in the case of unmarked bays)",
            "type": "integer",
            "nullable": true
          },
          "eTag": {
            "description": "ETag for the entity. The ETag is specific to each version of this entity and changes whenever the entity data changes. Clients can\r\nsend the eTags of cached entities to the server when requesting data and the server can return only entities for which the current ETag does\r\nnot match the requested tag - i.e. just those entities that have changed.",
            "type": "string",
            "nullable": true
          },
          "name": {
            "description": "User-readable name for this entity",
            "type": "string",
            "nullable": true
          },
          "geometry": {
            "$ref": "#/components/schemas/GeometryCollection"
          },
          "entityId": {
            "description": "Unique identifer for this entity",
            "type": "string",
            "nullable": true
          },
          "authorityId": {
            "description": "ID of the authority in which the parking entity resides",
            "type": "string",
            "nullable": true
          },
          "zoneId": {
            "description": "ID of the zone in which the parking entity resides",
            "type": "string",
            "nullable": true
          }
        },
        "description": "Base class for Map Entities that support parking, either onstreet or car parks",
        "type": "object"
      },
      "GeometryCollection": {
        "additionalProperties": false,
        "properties": {
          "crs": {
            "$ref": "#/components/schemas/Crs"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "geometries": {
            "items": {
              "$ref": "#/components/schemas/Geometry"
            },
            "type": "array",
            "nullable": true
          }
        },
        "type": "object"
      },
      "SearchParkingByViewportFilters": {
        "additionalProperties": false,
        "properties": {
          "excludeCostGreaterThan": {
            "format": "float",
            "description": "If supplied, bays for which the total cost over the requested duration exceeds the supplied value will not be included in the result.\r\n            \r\nIf the ExcludePaidParking filter is set to TRUE, this property will have no effect.",
            "type": "number",
            "nullable": true
          },
          "excludePaidParking": {
            "description": "TRUE to exclude paid parking bays from the result. Optional. Defaults to FALSE if omitted.",
            "type": "boolean",
            "nullable": true
          },
          "excludeFreeParking": {
            "description": "TRUE to exclude free parking bays from the result. Optional. Defaults to FALSE if omitted.",
            "type": "boolean",
            "nullable": true
          },
          "excludeEntityTypes": {
            "description": "If supplied, entities that have the given Map Entity Types types will be excluded from the response. Passing Zone or Authority\r\nentity types will result in a Bad Request response.",
            "items": {
              "$ref": "#/components/schemas/MapEntityType"
            },
            "type": "array",
            "nullable": true
          },
          "excludeTruncatedParking": {
            "description": "TRUE to exclude from the result any bays where parking is not allowed for part of the requested time window for the given vehicle operator. Optional. Defaults to FALSE if omitted.\r\n            \r\nNote that this filter does not imply the exclusion of bays where parking is not allowed for the entirety of the requested time window. To exclude such results, use the ExcludeNoParking filter.\r\nif using ExcludeTruncatedParking.",
            "type": "boolean",
            "nullable": true
          },
          "excludeNoParking": {
            "description": "TRUE to exclude from the result any bays where parking is not allowed for the entirety of the requested time window for the given vehicle operator. Optional. Defaults to FALSE if omitted.",
            "type": "boolean",
            "nullable": true
          }
        },
        "description": "Filters that a caller can apply to limit the results returned when searching for parking by viewport",
        "type": "object"
      },
      "PaymentProvider": {
        "additionalProperties": false,
        "properties": {
          "paymentsTelephone": {
            "description": "Phone number for taking payments (if pay-by-phone is supported)",
            "type": "string",
            "nullable": true
          },
          "name": {
            "description": "Provider name",
            "type": "string",
            "nullable": true
          },
          "cardPaymentsExternalUrl": {
            "description": "URL for taking payments (if online payments are supported)",
            "type": "string",
            "nullable": true
          }
        },
        "description": "An organization that supports parking payments.",
        "type": "object"
      },
      "ParkingEntitySearchResult": {
        "additionalProperties": false,
        "properties": {
          "quotes": {
            "description": "List of quotes for parking at this parking entity. If the context of the search means that there are multiple prices returned,\r\none quote will be generated for each price and the quotes will be decorated with the payment methods, bay types and vehicle operator\r\ncontext for which they are valid. If parking is not allowed, no quotes are returned.",
            "items": {
              "$ref": "#/components/schemas/ParkingQuote"
            },
            "type": "array",
            "nullable": true
          },
          "noParkingReason": {
            "$ref": "#/components/schemas/NoParkingReason"
          },
          "entityETag": {
            "description": "The Etag of the current latest version of the Parking Entity referred to by this result. This allows\r\nclients to determine if they have the latest version of the parking entity in their local cache and only\r\nrequest the entity if it is missing.",
            "type": "string",
            "nullable": true
          },
          "entityType": {
            "$ref": "#/components/schemas/MapEntityType"
          },
          "entityId": {
            "description": "Identifier of the parking entity",
            "type": "string",
            "nullable": true
          },
          "parkingAllowed": {
            "$ref": "#/components/schemas/ParkingAllowed"
          }
        },
        "description": "Represents a single result returned from a search for Parking Entities.",
        "type": "object"
      },
      "SurchargeCriteria": {
        "additionalProperties": false,
        "properties": {
          "maxVehicleManufactureYear": {
            "format": "int32",
            "description": "The latest year of manufacture of the vehicle for which the surcharge applies",
            "type": "integer",
            "nullable": true
          },
          "vehicleOperatorContext": {
            "$ref": "#/components/schemas/VehicleOperatorContext"
          }
        },
        "description": "The criteria for which a surcharge may be applied",
        "type": "object"
      },
      "BadRequestResponse": {
        "additionalProperties": false,
        "properties": {
          "message": {
            "description": "Human-readable message for this response",
            "type": "string",
            "nullable": true
          },
          "errors": {
            "description": "Collection of validation errors caused by the request",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "type": "array",
            "nullable": true
          },
          "success": {
            "readOnly": true,
            "description": "Whether the request was successful",
            "example": false,
            "type": "boolean"
          }
        },
        "description": "A response indicating the request was invalid",
        "type": "object"
      },
      "ParkingSearchResponse": {
        "additionalProperties": false,
        "properties": {
          "parking": {
            "description": "List of Parking Entities returned by the response",
            "items": {
              "$ref": "#/components/schemas/ParkingEntitySearchResult"
            },
            "type": "array",
            "nullable": true
          }
        },
        "description": "Response shape for parking search requests",
        "type": "object"
      },
      "ZoneSearchResponse": {
        "additionalProperties": false,
        "properties": {
          "zones": {
            "description": "List of search results returned in this response",
            "items": {
              "$ref": "#/components/schemas/ZoneSearchResult"
            },
            "type": "array",
            "nullable": true
          }
        },
        "description": "Response shape for zone search requests",
        "type": "object"
      },
      "SurchargeValueType": {
        "format": "int32",
        "enum": [
          1,
          2
        ],
        "description": "Indicates how clients should interpret the value in a SurchargeDetails object - as a flat rate (absolute cost) or percentage of the original charge",
        "type": "integer"
      },
      "VehicleOperatorContext": {
        "additionalProperties": false,
        "properties": {
          "permits": {
            "description": "Any permits held by the operator (e.g. blue badge, car club permit)",
            "items": {
              "$ref": "#/components/schemas/Permit"
            },
            "type": "array",
            "nullable": true
          },
          "fuelTypeId": {
            "format": "int32",
            "description": "Fuel type of the vehicle",
            "type": "integer",
            "nullable": true
          },
          "vehicleTypeId": {
            "format": "int32",
            "description": "Type of vehicle being operated",
            "type": "integer",
            "nullable": true
          },
          "activityTypeId": {
            "format": "int32",
            "description": "Activity the operator is seeking to perform at the kerbside (parking, loading)",
            "type": "integer",
            "nullable": true
          }
        },
        "description": "A set of values that pertain to the driver looking to park (their vehicle, permits, intended activity)\r\nthat affect whether or not they can park and/or the price they pay if they do.",
        "type": "object"
      },
      "Geometry": {
        "additionalProperties": false,
        "properties": {
          "crs": {
            "$ref": "#/components/schemas/Crs"
          },
          "type": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "LatLng": {
        "additionalProperties": false,
        "properties": {
          "lng": {
            "format": "double",
            "description": "Longitude",
            "type": "number"
          },
          "lat": {
            "format": "double",
            "description": "Latitude",
            "type": "number"
          }
        },
        "description": "Models a latitude and longitude",
        "type": "object"
      },
      "SearchParkingByCentreAndViewportSizeQuery": {
        "additionalProperties": false,
        "properties": {
          "filters": {
            "$ref": "#/components/schemas/SearchParkingByViewportFilters"
          },
          "vehicleOperatorContext": {
            "$ref": "#/components/schemas/VehicleOperatorContext"
          },
          "viewportCenter": {
            "$ref": "#/components/schemas/LatLng"
          },
          "endTime": {
            "format": "date-time",
            "description": "End of the window for which to retrieve state. Required.",
            "type": "string"
          },
          "startTime": {
            "format": "date-time",
            "description": "Start of the window for which to retrieve state. Required.",
            "type": "string"
          },
          "viewportSize": {
            "format": "int32",
            "description": "Length of one side of the square viewport in meters. Required.",
            "type": "integer"
          }
        },
        "description": "Request for searching for Parking Entities for a square viewport. The viewport is defined by the latitude and longitude of\r\nthe centre point and the length of one side.",
        "type": "object"
      },
      "ZoneOkResponse": {
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Zone"
          },
          "success": {
            "readOnly": true,
            "description": "Whether the response was successful",
            "type": "boolean"
          }
        },
        "description": "A successful response",
        "type": "object"
      },
      "NoParkingReason": {
        "additionalProperties": false,
        "properties": {
          "reasonType": {
            "$ref": "#/components/schemas/NoParkingReasonType"
          },
          "specialRestrictions": {
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array",
            "nullable": true
          },
          "requiredContexts": {
            "items": {
              "$ref": "#/components/schemas/VehicleOperatorContext"
            },
            "type": "array",
            "nullable": true
          }
        },
        "type": "object"
      },
      "MapEntitiesResponseOkResponse": {
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/MapEntitiesResponse"
          },
          "success": {
            "readOnly": true,
            "description": "Whether the response was successful",
            "type": "boolean"
          }
        },
        "description": "A successful response",
        "type": "object"
      },
      "CrsProperties": {
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "type": "object"
      },
      "SurchargeDetails": {
        "additionalProperties": false,
        "properties": {
          "criteria": {
            "$ref": "#/components/schemas/SurchargeCriteria"
          },
          "valueType": {
            "$ref": "#/components/schemas/SurchargeValueType"
          },
          "value": {
            "format": "float",
            "description": "The amount of the surcharge",
            "type": "number"
          }
        },
        "description": "Details of a surcharge that may be applied to a parking charge, including the amount of the surcharge\r\nand the criteria under which it is applied.",
        "type": "object"
      },
      "SearchZonesByViewportQuery": {
        "additionalProperties": false,
        "properties": {
          "vehicleOperatorContext": {
            "$ref": "#/components/schemas/VehicleOperatorContext"
          },
          "startTime": {
            "format": "date-time",
            "description": "Start of the window for which to retrieve state. Required.",
            "type": "string"
          },
          "viewport": {
            "$ref": "#/components/schemas/Polygon"
          },
          "endTime": {
            "format": "date-time",
            "description": "End of the window for which to retrieve state. Required.",
            "type": "string"
          },
          "markingTypeIds": {
            "description": "Marking types for which to return state. Optional. If omitted, defaults are returned for all the marking types\r\nin the zone for which they are defined.",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "type": "array",
            "nullable": true
          }
        },
        "description": "A request to search for zone default information by viewport",
        "type": "object"
      },
      "ZoneSearchResponseOkResponse": {
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/ZoneSearchResponse"
          },
          "success": {
            "readOnly": true,
            "description": "Whether the response was successful",
            "type": "boolean"
          }
        },
        "description": "A successful response",
        "type": "object"
      },
      "MapEntityType": {
        "format": "int32",
        "enum": [
          1,
          2,
          3,
          4
        ],
        "description": "Enumeration for the different types of Map Entity - objects returned by the API that can be drawn on a map.",
        "type": "integer"
      },
      "AuthorityOkResponse": {
        "additionalProperties": false,
        "properties": {
          "result": {
            "$ref": "#/components/schemas/Authority"
          },
          "success": {
            "readOnly": true,
            "description": "Whether the response was successful",
            "type": "boolean"
          }
        },
        "description": "A successful response",
        "type": "object"
      },
      "Note": {
        "additionalProperties": false,
        "properties": {
          "message": {
            "description": "The text of the note",
            "type": "string",
            "nullable": true
          }
        },
        "description": "Models a note that can be attached to an entity",
        "type": "object"
      }
    }
  },
  "paths": {
    "/": {
      "post": {
        "parameters": [
          {
            "name": "API-KEY",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "List",
        "description": "Retrieve a list of entities by their IDs",
        "tags": [
          "Entity"
        ],
        "operationId": "post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapEntitiesListQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MapEntitiesListQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MapEntitiesListQuery"
              }
            }
          }
        },
        "responses": {
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapEntitiesResponseOkResponse"
                }
              }
            },
            "description": "Success"
          },
          "429": {
            "description": "Too many requests"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/parking/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "API-KEY",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Parking Entity by ID",
        "description": "Retrieves a parking entity by its ID",
        "tags": [
          "Entity"
        ],
        "operationId": "get-parking-id",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParkingEntityOkResponse"
                }
              }
            },
            "description": "Success"
          },
          "429": {
            "description": "Too many requests"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/zone/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "API-KEY",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Zone By ID",
        "description": "Returns a specific zone by its ID",
        "tags": [
          "Entity"
        ],
        "operationId": "get-zone-id",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneOkResponse"
                }
              }
            },
            "description": "Success"
          },
          "429": {
            "description": "Too many requests"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/search/parking/centreAndViewportSize": {
      "post": {
        "parameters": [
          {
            "name": "API-KEY",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Parking by centre and viewport size",
        "description": "This query creates a square viewport with the centre at ViewportCentre and side length of ViewportSize.\r\nIt then returns all Parking Entities within that viewport.",
        "tags": [
          "Search"
        ],
        "operationId": "post-search-parking-centreandviewportsize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParkingByCentreAndViewportSizeQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParkingByCentreAndViewportSizeQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParkingByCentreAndViewportSizeQuery"
              }
            }
          }
        },
        "responses": {
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParkingSearchResponseOkResponse"
                }
              }
            },
            "description": "Success"
          },
          "429": {
            "description": "Too many requests"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/authority/{id}": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "API-KEY",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Authority by ID",
        "description": "Returns a specific authority by its ID",
        "tags": [
          "Entity"
        ],
        "operationId": "get-authority-id",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorityOkResponse"
                }
              }
            },
            "description": "Success"
          },
          "429": {
            "description": "Too many requests"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/parking/{id}/paymentProvider": {
      "get": {
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "API-KEY",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Payment Providers by entity ID",
        "description": "Returns payment providers for the given parking entity ID",
        "tags": [
          "Entity"
        ],
        "operationId": "get-parking-id-paymentprovider",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentProvidersResponseOkResponse"
                }
              }
            },
            "description": "Success"
          },
          "429": {
            "description": "Too many requests"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/search/zone/viewport": {
      "post": {
        "parameters": [
          {
            "name": "API-KEY",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Zones by viewport",
        "description": "Returns defaults for zones that are at least partially within the specified viewport. Also returns the ID of the zone and authority in which the centroid of the viewport resides.",
        "tags": [
          "Search"
        ],
        "operationId": "post-search-zone-viewport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchZonesByViewportQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchZonesByViewportQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchZonesByViewportQuery"
              }
            }
          }
        },
        "responses": {
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneSearchResponseOkResponse"
                }
              }
            },
            "description": "Success"
          },
          "429": {
            "description": "Too many requests"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/search/parking/viewport": {
      "post": {
        "parameters": [
          {
            "name": "API-KEY",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Parking by viewport",
        "description": "This query creates a custom viewport from the supplied GeoJson polygon and returns all results within the bounds of that polygon.",
        "tags": [
          "Search"
        ],
        "operationId": "post-search-parking-viewport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParkingByGeoJsonViewportQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParkingByGeoJsonViewportQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SearchParkingByGeoJsonViewportQuery"
              }
            }
          }
        },
        "responses": {
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParkingSearchResponseOkResponse"
                }
              }
            },
            "description": "Success"
          },
          "429": {
            "description": "Too many requests"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/monitor": {
      "get": {
        "parameters": [
          {
            "name": "API-KEY",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "/monitor - GET",
        "responses": {
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "200": {
            "description": "Success"
          }
        },
        "tags": [
          "Monitor"
        ],
        "operationId": "get-monitor"
      }
    }
  }
}
