{
  "openapi": "3.0.1",
  "info": {
    "title": "Reference",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.appyway.com/v1/reference"
    }
  ],
  "paths": {
    "/activityType/list": {
      "get": {
        "tags": [
          "ActivityType"
        ],
        "summary": "List",
        "description": "Gets all activity types",
        "operationId": "get-activitytype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/all/list": {
      "get": {
        "tags": [
          "All"
        ],
        "summary": "List",
        "description": "Gets all reference data",
        "operationId": "get-all-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/All"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/All"
                },
                "example": {
                  "activityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "authorityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "canHaveRestrictions": true,
                      "canHaveShape": true
                    }
                  ],
                  "baseMaps": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "availableInCountries": [
                        "string"
                      ]
                    }
                  ],
                  "countries": [
                    {
                      "id": "string",
                      "guid": "string",
                      "name": "string",
                      "specialDays": [
                        {
                          "id": "string",
                          "name": "string",
                          "isHoliday": true,
                          "dates": [
                            "2020-01-20T00:00:00"
                          ]
                        }
                      ],
                      "bounds": [
                        [
                          0
                        ]
                      ],
                      "defaultBaseMapId": 0,
                      "entitlementTypes": [
                        0
                      ],
                      "restrictionTypes": [
                        0
                      ]
                    }
                  ],
                  "entitlementTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "code": "string",
                      "restrictionTypeIds": [
                        0
                      ],
                      "applicableExemptionTypeIds": [
                        0
                      ],
                      "hasTariff": true,
                      "restrictionTypeLegalNames": [
                        {
                          "restrictionTypeId": 0,
                          "legalName": "string"
                        }
                      ]
                    }
                  ],
                  "exceptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "movingExceptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "applicableRestrictionTypes": [
                        {
                          "movingRestrictionTypeId": 0,
                          "movingRestrictionTypeOptionIds": [
                            {}
                          ]
                        }
                      ]
                    }
                  ],
                  "exemptionTimeTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "exemptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "facilityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "fuelTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "noteVisibilityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "onStreetParkingTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "paymentMethods": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "permitTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "regions": [
                    {
                      "id": "string",
                      "guid": "string",
                      "countryId": "string",
                      "name": "string",
                      "venues": [
                        {
                          "id": "string",
                          "name": "string",
                          "eventsMustSupplyHours": true,
                          "events": [
                            {
                              "name": "string",
                              "date": "2020-01-20T00:00:00",
                              "start": "2021-12-16T00:00:00",
                              "end": "2021-12-16T00:00:00"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "restrictionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "code": "string",
                      "canHaveTariff": true,
                      "defaultWidth": 0,
                      "isTroItem": true,
                      "legalName": "string"
                    }
                  ],
                  "movingRestrictionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "property": "string",
                      "unit": "string",
                      "options": [
                        {
                          "movingRestrictionTypeId": 0,
                          "id": 0,
                          "name": "string",
                          "value": 0
                        }
                      ]
                    }
                  ],
                  "specialRestrictions": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "vehicleTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "zoneTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "canHaveRestrictions": true,
                      "canHaveShape": true
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/All"
                },
                "example": {
                  "activityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "authorityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "canHaveRestrictions": true,
                      "canHaveShape": true
                    }
                  ],
                  "baseMaps": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "availableInCountries": [
                        "string"
                      ]
                    }
                  ],
                  "countries": [
                    {
                      "id": "string",
                      "guid": "string",
                      "name": "string",
                      "specialDays": [
                        {
                          "id": "string",
                          "name": "string",
                          "isHoliday": true,
                          "dates": [
                            "2020-01-20T00:00:00"
                          ]
                        }
                      ],
                      "bounds": [
                        [
                          0
                        ]
                      ],
                      "defaultBaseMapId": 0,
                      "entitlementTypes": [
                        0
                      ],
                      "restrictionTypes": [
                        0
                      ]
                    }
                  ],
                  "entitlementTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "code": "string",
                      "restrictionTypeIds": [
                        0
                      ],
                      "applicableExemptionTypeIds": [
                        0
                      ],
                      "hasTariff": true,
                      "restrictionTypeLegalNames": [
                        {
                          "restrictionTypeId": 0,
                          "legalName": "string"
                        }
                      ]
                    }
                  ],
                  "exceptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "movingExceptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "applicableRestrictionTypes": [
                        {
                          "movingRestrictionTypeId": 0,
                          "movingRestrictionTypeOptionIds": [
                            {}
                          ]
                        }
                      ]
                    }
                  ],
                  "exemptionTimeTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "exemptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "facilityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "fuelTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "noteVisibilityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "onStreetParkingTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "paymentMethods": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "permitTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "regions": [
                    {
                      "id": "string",
                      "guid": "string",
                      "countryId": "string",
                      "name": "string",
                      "venues": [
                        {
                          "id": "string",
                          "name": "string",
                          "eventsMustSupplyHours": true,
                          "events": [
                            {
                              "name": "string",
                              "date": "2020-01-20T00:00:00",
                              "start": "2021-12-16T00:00:00",
                              "end": "2021-12-16T00:00:00"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "restrictionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "code": "string",
                      "canHaveTariff": true,
                      "defaultWidth": 0,
                      "isTroItem": true,
                      "legalName": "string"
                    }
                  ],
                  "movingRestrictionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "property": "string",
                      "unit": "string",
                      "options": [
                        {
                          "movingRestrictionTypeId": 0,
                          "id": 0,
                          "name": "string",
                          "value": 0
                        }
                      ]
                    }
                  ],
                  "specialRestrictions": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "vehicleTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "zoneTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "canHaveRestrictions": true,
                      "canHaveShape": true
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorityType/list": {
      "get": {
        "tags": [
          "AuthorityType"
        ],
        "summary": "List",
        "description": "Gets all authority types",
        "operationId": "get-authoritytype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthorityType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthorityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "canHaveRestrictions": true,
                    "canHaveShape": true
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthorityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "canHaveRestrictions": true,
                    "canHaveShape": true
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/baseMap/list": {
      "get": {
        "tags": [
          "BaseMap"
        ],
        "summary": "List",
        "description": "Gets all base maps",
        "operationId": "get-basemap-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseMap"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseMap"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "availableInCountries": [
                      "string"
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseMap"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "availableInCountries": [
                      "string"
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/country/get/{countryId}": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "Get",
        "description": "Gets a country by id",
        "operationId": "get-country-get-countryid",
        "parameters": [
          {
            "name": "countryId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                },
                "example": {
                  "id": "string",
                  "guid": "string",
                  "name": "string",
                  "specialDays": [
                    {
                      "id": "string",
                      "name": "string",
                      "isHoliday": true,
                      "dates": [
                        "2020-01-20T00:00:00"
                      ]
                    }
                  ],
                  "bounds": [
                    [
                      0
                    ]
                  ],
                  "defaultBaseMapId": 0,
                  "entitlementTypes": [
                    0
                  ],
                  "restrictionTypes": [
                    0
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                },
                "example": {
                  "id": "string",
                  "guid": "string",
                  "name": "string",
                  "specialDays": [
                    {
                      "id": "string",
                      "name": "string",
                      "isHoliday": true,
                      "dates": [
                        "2020-01-20T00:00:00"
                      ]
                    }
                  ],
                  "bounds": [
                    [
                      0
                    ]
                  ],
                  "defaultBaseMapId": 0,
                  "entitlementTypes": [
                    0
                  ],
                  "restrictionTypes": [
                    0
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/country/list": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "List",
        "description": "Gets all countries",
        "operationId": "get-country-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                },
                "example": [
                  {
                    "id": "string",
                    "guid": "string",
                    "name": "string",
                    "specialDays": [
                      {
                        "id": "string",
                        "name": "string",
                        "isHoliday": true,
                        "dates": [
                          "2020-01-20T00:00:00"
                        ]
                      }
                    ],
                    "bounds": [
                      [
                        0
                      ]
                    ],
                    "defaultBaseMapId": 0,
                    "entitlementTypes": [
                      0
                    ],
                    "restrictionTypes": [
                      0
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                },
                "example": [
                  {
                    "id": "string",
                    "guid": "string",
                    "name": "string",
                    "specialDays": [
                      {
                        "id": "string",
                        "name": "string",
                        "isHoliday": true,
                        "dates": [
                          "2020-01-20T00:00:00"
                        ]
                      }
                    ],
                    "bounds": [
                      [
                        0
                      ]
                    ],
                    "defaultBaseMapId": 0,
                    "entitlementTypes": [
                      0
                    ],
                    "restrictionTypes": [
                      0
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/country/update": {
      "post": {
        "tags": [
          "Country"
        ],
        "summary": "Update",
        "description": "Updates a country",
        "operationId": "post-country-update",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Country"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "name": "string",
                "specialDays": [
                  {
                    "id": "string",
                    "name": "string",
                    "isHoliday": true,
                    "dates": [
                      "2020-01-20T00:00:00"
                    ]
                  }
                ],
                "bounds": [
                  [
                    0
                  ]
                ],
                "defaultBaseMapId": 0,
                "entitlementTypes": [
                  0
                ],
                "restrictionTypes": [
                  0
                ]
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Country"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "name": "string",
                "specialDays": [
                  {
                    "id": "string",
                    "name": "string",
                    "isHoliday": true,
                    "dates": [
                      "2020-01-20T00:00:00"
                    ]
                  }
                ],
                "bounds": [
                  [
                    0
                  ]
                ],
                "defaultBaseMapId": 0,
                "entitlementTypes": [
                  0
                ],
                "restrictionTypes": [
                  0
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Country"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "name": "string",
                "specialDays": [
                  {
                    "id": "string",
                    "name": "string",
                    "isHoliday": true,
                    "dates": [
                      "2020-01-20T00:00:00"
                    ]
                  }
                ],
                "bounds": [
                  [
                    0
                  ]
                ],
                "defaultBaseMapId": 0,
                "entitlementTypes": [
                  0
                ],
                "restrictionTypes": [
                  0
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Country"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "name": "string",
                "specialDays": [
                  {
                    "id": "string",
                    "name": "string",
                    "isHoliday": true,
                    "dates": [
                      "2020-01-20T00:00:00"
                    ]
                  }
                ],
                "bounds": [
                  [
                    0
                  ]
                ],
                "defaultBaseMapId": 0,
                "entitlementTypes": [
                  0
                ],
                "restrictionTypes": [
                  0
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/entitlementType/list": {
      "get": {
        "tags": [
          "EntitlementType"
        ],
        "summary": "List",
        "description": "Gets all entitlement types",
        "operationId": "get-entitlementtype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitlementType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitlementType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "code": "string",
                    "restrictionTypeIds": [
                      0
                    ],
                    "applicableExemptionTypeIds": [
                      0
                    ],
                    "hasTariff": true,
                    "restrictionTypeLegalNames": [
                      {
                        "restrictionTypeId": 0,
                        "legalName": "string"
                      }
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitlementType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "code": "string",
                    "restrictionTypeIds": [
                      0
                    ],
                    "applicableExemptionTypeIds": [
                      0
                    ],
                    "hasTariff": true,
                    "restrictionTypeLegalNames": [
                      {
                        "restrictionTypeId": 0,
                        "legalName": "string"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/exceptionType/list": {
      "get": {
        "tags": [
          "ExceptionType"
        ],
        "summary": "List",
        "description": "Gets all exception types",
        "operationId": "get-exceptiontype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExceptionType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExceptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExceptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/exemptionTimeType/list": {
      "get": {
        "tags": [
          "ExemptionTimeType"
        ],
        "summary": "List",
        "description": "Gets all exemption time types",
        "operationId": "get-exemptiontimetype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionTimeType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionTimeType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionTimeType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/exemptionType/list": {
      "get": {
        "tags": [
          "ExemptionType"
        ],
        "summary": "List",
        "description": "Gets all exemption types",
        "operationId": "get-exemptiontype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/facilityType/list": {
      "get": {
        "tags": [
          "FacilityType"
        ],
        "summary": "List",
        "description": "Gets all facility types",
        "operationId": "get-facilitytype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FacilityType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FacilityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FacilityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/fuelType/list": {
      "get": {
        "tags": [
          "FuelType"
        ],
        "summary": "List",
        "description": "Gets all fuel types",
        "operationId": "get-fueltype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuelType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuelType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuelType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/monitor": {
      "get": {
        "tags": [
          "Monitor"
        ],
        "summary": "/monitor - GET",
        "operationId": "get-monitor",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/movingExceptionType/list": {
      "get": {
        "tags": [
          "MovingExceptionType"
        ],
        "summary": "List",
        "description": "Gets all moving exception types",
        "operationId": "get-movingexceptiontype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingExceptionType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingExceptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "applicableRestrictionTypes": [
                      {
                        "movingRestrictionTypeId": 0,
                        "movingRestrictionTypeOptionIds": [
                          {}
                        ]
                      }
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingExceptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "applicableRestrictionTypes": [
                      {
                        "movingRestrictionTypeId": 0,
                        "movingRestrictionTypeOptionIds": [
                          {}
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/movingRestrictionType/list": {
      "get": {
        "tags": [
          "MovingRestrictionType"
        ],
        "summary": "List",
        "description": "Gets all moving restriction types",
        "operationId": "get-movingrestrictiontype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingRestrictionType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingRestrictionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "property": "string",
                    "unit": "string",
                    "options": [
                      {
                        "movingRestrictionTypeId": 0,
                        "id": 0,
                        "name": "string",
                        "value": 0
                      }
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingRestrictionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "property": "string",
                    "unit": "string",
                    "options": [
                      {
                        "movingRestrictionTypeId": 0,
                        "id": 0,
                        "name": "string",
                        "value": 0
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/noteVisibilityType/list": {
      "get": {
        "tags": [
          "NoteVisibilityType"
        ],
        "summary": "List",
        "description": "Gets all note visibility types",
        "operationId": "get-notevisibilitytype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteVisibilityType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteVisibilityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteVisibilityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/onStreetParkingType/list": {
      "get": {
        "tags": [
          "OnStreetParkingType"
        ],
        "summary": "List",
        "description": "Gets all on street parking types",
        "operationId": "get-onstreetparkingtype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OnStreetParkingType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OnStreetParkingType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OnStreetParkingType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/paymentMethod/list": {
      "get": {
        "tags": [
          "PaymentMethod"
        ],
        "summary": "List",
        "description": "Gets all payment methods",
        "operationId": "get-paymentmethod-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/permitType/list": {
      "get": {
        "tags": [
          "PermitType"
        ],
        "summary": "List",
        "description": "Gets all permit types",
        "operationId": "get-permittype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermitType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermitType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermitType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/region/get/{regionId}": {
      "get": {
        "tags": [
          "Region"
        ],
        "summary": "Get",
        "description": "Gets a region by id",
        "operationId": "get-region-get-regionid",
        "parameters": [
          {
            "name": "regionId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                },
                "example": {
                  "id": "string",
                  "guid": "string",
                  "countryId": "string",
                  "name": "string",
                  "venues": [
                    {
                      "id": "string",
                      "name": "string",
                      "eventsMustSupplyHours": true,
                      "events": [
                        {
                          "name": "string",
                          "date": "2020-01-20T00:00:00",
                          "start": "2021-12-16T00:00:00",
                          "end": "2021-12-16T00:00:00"
                        }
                      ]
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                },
                "example": {
                  "id": "string",
                  "guid": "string",
                  "countryId": "string",
                  "name": "string",
                  "venues": [
                    {
                      "id": "string",
                      "name": "string",
                      "eventsMustSupplyHours": true,
                      "events": [
                        {
                          "name": "string",
                          "date": "2020-01-20T00:00:00",
                          "start": "2021-12-16T00:00:00",
                          "end": "2021-12-16T00:00:00"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/region/list": {
      "get": {
        "tags": [
          "Region"
        ],
        "summary": "List",
        "description": "Gets all regions",
        "operationId": "get-region-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                },
                "example": [
                  {
                    "id": "string",
                    "guid": "string",
                    "countryId": "string",
                    "name": "string",
                    "venues": [
                      {
                        "id": "string",
                        "name": "string",
                        "eventsMustSupplyHours": true,
                        "events": [
                          {
                            "name": "string",
                            "date": "2020-01-20T00:00:00",
                            "start": "2021-12-16T00:00:00",
                            "end": "2021-12-16T00:00:00"
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                },
                "example": [
                  {
                    "id": "string",
                    "guid": "string",
                    "countryId": "string",
                    "name": "string",
                    "venues": [
                      {
                        "id": "string",
                        "name": "string",
                        "eventsMustSupplyHours": true,
                        "events": [
                          {
                            "name": "string",
                            "date": "2020-01-20T00:00:00",
                            "start": "2021-12-16T00:00:00",
                            "end": "2021-12-16T00:00:00"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/region/update": {
      "post": {
        "tags": [
          "Region"
        ],
        "summary": "Update",
        "description": "Updates a region",
        "operationId": "post-region-update",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Region"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "countryId": "string",
                "name": "string",
                "venues": [
                  {
                    "id": "string",
                    "name": "string",
                    "eventsMustSupplyHours": true,
                    "events": [
                      {
                        "name": "string",
                        "date": "2020-01-20T00:00:00",
                        "start": "2021-12-16T00:00:00",
                        "end": "2021-12-16T00:00:00"
                      }
                    ]
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Region"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "countryId": "string",
                "name": "string",
                "venues": [
                  {
                    "id": "string",
                    "name": "string",
                    "eventsMustSupplyHours": true,
                    "events": [
                      {
                        "name": "string",
                        "date": "2020-01-20T00:00:00",
                        "start": "2021-12-16T00:00:00",
                        "end": "2021-12-16T00:00:00"
                      }
                    ]
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Region"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "countryId": "string",
                "name": "string",
                "venues": [
                  {
                    "id": "string",
                    "name": "string",
                    "eventsMustSupplyHours": true,
                    "events": [
                      {
                        "name": "string",
                        "date": "2020-01-20T00:00:00",
                        "start": "2021-12-16T00:00:00",
                        "end": "2021-12-16T00:00:00"
                      }
                    ]
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Region"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "countryId": "string",
                "name": "string",
                "venues": [
                  {
                    "id": "string",
                    "name": "string",
                    "eventsMustSupplyHours": true,
                    "events": [
                      {
                        "name": "string",
                        "date": "2020-01-20T00:00:00",
                        "start": "2021-12-16T00:00:00",
                        "end": "2021-12-16T00:00:00"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/restrictionType/list": {
      "get": {
        "tags": [
          "RestrictionType"
        ],
        "summary": "List",
        "description": "Gets all restriction types",
        "operationId": "get-restrictiontype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RestrictionType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RestrictionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "code": "string",
                    "canHaveTariff": true,
                    "defaultWidth": 0,
                    "isTroItem": true,
                    "legalName": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RestrictionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "code": "string",
                    "canHaveTariff": true,
                    "defaultWidth": 0,
                    "isTroItem": true,
                    "legalName": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/specialRestriction/list": {
      "get": {
        "tags": [
          "SpecialRestrictions"
        ],
        "summary": "List",
        "description": "Gets all special restrictions",
        "operationId": "get-specialrestriction-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpecialRestriction"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpecialRestriction"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpecialRestriction"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/vehicleType/list": {
      "get": {
        "tags": [
          "VehicleType"
        ],
        "summary": "List",
        "description": "Gets all vehicle types",
        "operationId": "get-vehicletype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/zoneType/list": {
      "get": {
        "tags": [
          "ZoneType"
        ],
        "summary": "List",
        "description": "Gets all zone types",
        "operationId": "get-zonetype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "canHaveRestrictions": true,
                    "canHaveShape": true
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "canHaveRestrictions": true,
                    "canHaveShape": true
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActivityType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "All": {
        "type": "object",
        "properties": {
          "activityTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityType"
            },
            "nullable": true
          },
          "authorityTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthorityType"
            },
            "nullable": true
          },
          "baseMaps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BaseMap"
            },
            "nullable": true
          },
          "countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Country"
            },
            "nullable": true
          },
          "entitlementTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntitlementType"
            },
            "nullable": true
          },
          "exceptionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionType"
            },
            "nullable": true
          },
          "movingExceptionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MovingExceptionType"
            },
            "nullable": true
          },
          "exemptionTimeTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExemptionTimeType"
            },
            "nullable": true
          },
          "exemptionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExemptionType"
            },
            "nullable": true
          },
          "facilityTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FacilityType"
            },
            "nullable": true
          },
          "fuelTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FuelType"
            },
            "nullable": true
          },
          "noteVisibilityTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NoteVisibilityType"
            },
            "nullable": true
          },
          "onStreetParkingTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnStreetParkingType"
            },
            "nullable": true
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            },
            "nullable": true
          },
          "permitTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermitType"
            },
            "nullable": true
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Region"
            },
            "nullable": true
          },
          "restrictionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RestrictionType"
            },
            "nullable": true
          },
          "movingRestrictionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MovingRestrictionType"
            },
            "nullable": true
          },
          "specialRestrictions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecialRestriction"
            },
            "nullable": true
          },
          "vehicleTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VehicleType"
            },
            "nullable": true
          },
          "zoneTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ZoneType"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApplicableRestrictionType": {
        "type": "object",
        "properties": {
          "movingRestrictionTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "movingRestrictionTypeOptionIds": {
            "type": "array",
            "items": {},
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuthorityType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "canHaveRestrictions": {
            "type": "boolean"
          },
          "canHaveShape": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "BaseMap": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "availableInCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "guid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "specialDays": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecialDay"
            },
            "nullable": true
          },
          "bounds": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            },
            "nullable": true
          },
          "defaultBaseMapId": {
            "type": "integer",
            "format": "int32"
          },
          "entitlementTypes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "restrictionTypes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EntitlementType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "restrictionTypeIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "applicableExemptionTypeIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "hasTariff": {
            "type": "boolean"
          },
          "restrictionTypeLegalNames": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RestrictionTypeLegalName"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Event": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "date": {
            "type": "string",
            "description": "ISO-8601 date pattern",
            "example": "2020-01-20T00:00:00"
          },
          "start": {
            "type": "string",
            "description": "ISO-8601 time pattern, extended as required to accommodate nanoseconds.",
            "nullable": true,
            "example": "00:00:00"
          },
          "end": {
            "type": "string",
            "description": "ISO-8601 time pattern, extended as required to accommodate nanoseconds.",
            "nullable": true,
            "example": "00:00:00"
          }
        },
        "additionalProperties": false
      },
      "ExceptionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExemptionTimeType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ExemptionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FacilityType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FuelType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MovingExceptionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "applicableRestrictionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicableRestrictionType"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MovingRestrictionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "property": {
            "type": "string",
            "nullable": true
          },
          "unit": {
            "type": "string",
            "nullable": true
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MovingRestrictionTypeOption"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MovingRestrictionTypeOption": {
        "type": "object",
        "properties": {
          "movingRestrictionTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "NoteVisibilityType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "OnStreetParkingType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "PermitType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Region": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "guid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "countryId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "venues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Venue"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RestrictionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "canHaveTariff": {
            "type": "boolean"
          },
          "defaultWidth": {
            "type": "number",
            "format": "double"
          },
          "isTroItem": {
            "type": "boolean"
          },
          "legalName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RestrictionTypeLegalName": {
        "type": "object",
        "properties": {
          "restrictionTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "legalName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SpecialDay": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "isHoliday": {
            "type": "boolean"
          },
          "dates": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "ISO-8601 date pattern",
              "example": "2020-01-20T00:00:00"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "SpecialRestriction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "VehicleType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Venue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "eventsMustSupplyHours": {
            "type": "boolean"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ZoneType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "canHaveRestrictions": {
            "type": "boolean"
          },
          "canHaveShape": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKey": {
        "name": "API-KEY",
        "in": "header",
        "type": "apiKey"
      },
      "oAuth2": {
        "flows": {
          "authorizationCode": {
            "scopes": {},
            "authorizationUrl": "https://auth.appyway.com/authorize",
            "tokenUrl": "https://auth.appyway.com/oauth/token"
          }
        },
        "type": "oauth2"
      }
    },
    "responses": {
      "TooManyRequests": {
        "description": "Too many requests"
      },
      "Unauthorized": {
        "description": "Unauthorized"
      },
      "Forbidden": {
        "description": "Forbidden"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "oAuth2": []
    }
  ]
}
