{
  "openapi": "3.0.1",
  "info": {
    "title": "Reference API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.appyway.com/v1/reference"
    }
  ],
  "paths": {
    "/activityType/list": {
      "get": {
        "tags": [
          "ActivityType"
        ],
        "summary": "List All Activity Types",
        "description": "Returns a list with all the activity types.",
        "operationId": "get-activitytype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/all/list": {
      "get": {
        "tags": [
          "All"
        ],
        "summary": "List All Reference data",
        "description": "Returns an object that contains all the existing reference data.",
        "operationId": "get-all-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/All"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/All"
                },
                "example": {
                  "activityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "authorityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "canHaveRestrictions": true,
                      "canHaveShape": true
                    }
                  ],
                  "baseMaps": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "availableInCountries": [
                        "string"
                      ]
                    }
                  ],
                  "countries": [
                    {
                      "id": "string",
                      "guid": "string",
                      "name": "string",
                      "specialDays": [
                        {
                          "id": "string",
                          "name": "string",
                          "isHoliday": true,
                          "dates": [
                            "2020-01-20T00:00:00"
                          ]
                        }
                      ],
                      "bounds": [
                        [
                          0
                        ]
                      ],
                      "defaultBaseMapId": 0,
                      "entitlementTypes": [
                        0
                      ],
                      "restrictionTypes": [
                        0
                      ]
                    }
                  ],
                  "entitlementTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "code": "string",
                      "restrictionTypeIds": [
                        0
                      ],
                      "applicableExemptionTypeIds": [
                        0
                      ],
                      "hasTariff": true,
                      "restrictionTypeLegalNames": [
                        {
                          "restrictionTypeId": 0,
                          "legalName": "string"
                        }
                      ]
                    }
                  ],
                  "exceptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "movingExceptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "applicableRestrictionTypes": [
                        {
                          "movingRestrictionTypeId": 0,
                          "movingRestrictionTypeOptionIds": [
                            {}
                          ]
                        }
                      ]
                    }
                  ],
                  "exemptionTimeTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "exemptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "facilityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "fuelTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "noteVisibilityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "onStreetParkingTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "paymentMethods": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "permitTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "regions": [
                    {
                      "id": "string",
                      "guid": "string",
                      "countryId": "string",
                      "name": "string",
                      "venues": [
                        {
                          "id": "string",
                          "name": "string",
                          "eventsMustSupplyHours": true,
                          "events": [
                            {
                              "name": "string",
                              "date": "2020-01-20T00:00:00",
                              "start": "2022-05-31T00:00:00",
                              "end": "2022-05-31T00:00:00"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "restrictionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "code": "string",
                      "canHaveTariff": true,
                      "defaultWidth": 0,
                      "isTroItem": true,
                      "legalName": "string"
                    }
                  ],
                  "movingRestrictionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "property": "string",
                      "unit": "string",
                      "options": [
                        {
                          "movingRestrictionTypeId": 0,
                          "id": 0,
                          "name": "string",
                          "value": 0
                        }
                      ]
                    }
                  ],
                  "specialRestrictions": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "vehicleTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "zoneTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "canHaveRestrictions": true,
                      "canHaveShape": true
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/All"
                },
                "example": {
                  "activityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "authorityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "canHaveRestrictions": true,
                      "canHaveShape": true
                    }
                  ],
                  "baseMaps": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "availableInCountries": [
                        "string"
                      ]
                    }
                  ],
                  "countries": [
                    {
                      "id": "string",
                      "guid": "string",
                      "name": "string",
                      "specialDays": [
                        {
                          "id": "string",
                          "name": "string",
                          "isHoliday": true,
                          "dates": [
                            "2020-01-20T00:00:00"
                          ]
                        }
                      ],
                      "bounds": [
                        [
                          0
                        ]
                      ],
                      "defaultBaseMapId": 0,
                      "entitlementTypes": [
                        0
                      ],
                      "restrictionTypes": [
                        0
                      ]
                    }
                  ],
                  "entitlementTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "code": "string",
                      "restrictionTypeIds": [
                        0
                      ],
                      "applicableExemptionTypeIds": [
                        0
                      ],
                      "hasTariff": true,
                      "restrictionTypeLegalNames": [
                        {
                          "restrictionTypeId": 0,
                          "legalName": "string"
                        }
                      ]
                    }
                  ],
                  "exceptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "movingExceptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "applicableRestrictionTypes": [
                        {
                          "movingRestrictionTypeId": 0,
                          "movingRestrictionTypeOptionIds": [
                            {}
                          ]
                        }
                      ]
                    }
                  ],
                  "exemptionTimeTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "exemptionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "facilityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "fuelTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "noteVisibilityTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "onStreetParkingTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "paymentMethods": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "permitTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "regions": [
                    {
                      "id": "string",
                      "guid": "string",
                      "countryId": "string",
                      "name": "string",
                      "venues": [
                        {
                          "id": "string",
                          "name": "string",
                          "eventsMustSupplyHours": true,
                          "events": [
                            {
                              "name": "string",
                              "date": "2020-01-20T00:00:00",
                              "start": "2022-05-31T00:00:00",
                              "end": "2022-05-31T00:00:00"
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "restrictionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "code": "string",
                      "canHaveTariff": true,
                      "defaultWidth": 0,
                      "isTroItem": true,
                      "legalName": "string"
                    }
                  ],
                  "movingRestrictionTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "property": "string",
                      "unit": "string",
                      "options": [
                        {
                          "movingRestrictionTypeId": 0,
                          "id": 0,
                          "name": "string",
                          "value": 0
                        }
                      ]
                    }
                  ],
                  "specialRestrictions": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "vehicleTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string"
                    }
                  ],
                  "zoneTypes": [
                    {
                      "id": 0,
                      "name": "string",
                      "description": "string",
                      "canHaveRestrictions": true,
                      "canHaveShape": true
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/authorityType/list": {
      "get": {
        "tags": [
          "AuthorityType"
        ],
        "summary": "List All Authority Types",
        "description": "Returns a list with all the authority types.",
        "operationId": "get-authoritytype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthorityType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthorityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "canHaveRestrictions": true,
                    "canHaveShape": true
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthorityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "canHaveRestrictions": true,
                    "canHaveShape": true
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/baseMap/list": {
      "get": {
        "tags": [
          "BaseMap"
        ],
        "summary": "List All Base Maps",
        "description": "Return a list with all supported base maps and availability for supported countries.",
        "operationId": "get-basemap-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseMap"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseMap"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "availableInCountries": [
                      "string"
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BaseMap"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "availableInCountries": [
                      "string"
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/country/get/{countryId}": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "Get Country By Id",
        "description": "Returns a country object if a valid identifier is provided.",
        "operationId": "get-country-get-countryid",
        "parameters": [
          {
            "name": "countryId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                },
                "example": {
                  "id": "string",
                  "guid": "string",
                  "name": "string",
                  "specialDays": [
                    {
                      "id": "string",
                      "name": "string",
                      "isHoliday": true,
                      "dates": [
                        "2020-01-20T00:00:00"
                      ]
                    }
                  ],
                  "bounds": [
                    [
                      0
                    ]
                  ],
                  "defaultBaseMapId": 0,
                  "entitlementTypes": [
                    0
                  ],
                  "restrictionTypes": [
                    0
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Country"
                },
                "example": {
                  "id": "string",
                  "guid": "string",
                  "name": "string",
                  "specialDays": [
                    {
                      "id": "string",
                      "name": "string",
                      "isHoliday": true,
                      "dates": [
                        "2020-01-20T00:00:00"
                      ]
                    }
                  ],
                  "bounds": [
                    [
                      0
                    ]
                  ],
                  "defaultBaseMapId": 0,
                  "entitlementTypes": [
                    0
                  ],
                  "restrictionTypes": [
                    0
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/country/list": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "List All Countries",
        "description": "Returns a list with all the supported countries.",
        "operationId": "get-country-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                },
                "example": [
                  {
                    "id": "string",
                    "guid": "string",
                    "name": "string",
                    "specialDays": [
                      {
                        "id": "string",
                        "name": "string",
                        "isHoliday": true,
                        "dates": [
                          "2020-01-20T00:00:00"
                        ]
                      }
                    ],
                    "bounds": [
                      [
                        0
                      ]
                    ],
                    "defaultBaseMapId": 0,
                    "entitlementTypes": [
                      0
                    ],
                    "restrictionTypes": [
                      0
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Country"
                  }
                },
                "example": [
                  {
                    "id": "string",
                    "guid": "string",
                    "name": "string",
                    "specialDays": [
                      {
                        "id": "string",
                        "name": "string",
                        "isHoliday": true,
                        "dates": [
                          "2020-01-20T00:00:00"
                        ]
                      }
                    ],
                    "bounds": [
                      [
                        0
                      ]
                    ],
                    "defaultBaseMapId": 0,
                    "entitlementTypes": [
                      0
                    ],
                    "restrictionTypes": [
                      0
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/country/update": {
      "post": {
        "tags": [
          "Country"
        ],
        "summary": "Update Country",
        "description": "Updates the specified country information.",
        "operationId": "post-country-update",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Country"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "name": "string",
                "specialDays": [
                  {
                    "id": "string",
                    "name": "string",
                    "isHoliday": true,
                    "dates": [
                      "2020-01-20T00:00:00"
                    ]
                  }
                ],
                "bounds": [
                  [
                    0
                  ]
                ],
                "defaultBaseMapId": 0,
                "entitlementTypes": [
                  0
                ],
                "restrictionTypes": [
                  0
                ]
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Country"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "name": "string",
                "specialDays": [
                  {
                    "id": "string",
                    "name": "string",
                    "isHoliday": true,
                    "dates": [
                      "2020-01-20T00:00:00"
                    ]
                  }
                ],
                "bounds": [
                  [
                    0
                  ]
                ],
                "defaultBaseMapId": 0,
                "entitlementTypes": [
                  0
                ],
                "restrictionTypes": [
                  0
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Country"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "name": "string",
                "specialDays": [
                  {
                    "id": "string",
                    "name": "string",
                    "isHoliday": true,
                    "dates": [
                      "2020-01-20T00:00:00"
                    ]
                  }
                ],
                "bounds": [
                  [
                    0
                  ]
                ],
                "defaultBaseMapId": 0,
                "entitlementTypes": [
                  0
                ],
                "restrictionTypes": [
                  0
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Country"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "name": "string",
                "specialDays": [
                  {
                    "id": "string",
                    "name": "string",
                    "isHoliday": true,
                    "dates": [
                      "2020-01-20T00:00:00"
                    ]
                  }
                ],
                "bounds": [
                  [
                    0
                  ]
                ],
                "defaultBaseMapId": 0,
                "entitlementTypes": [
                  0
                ],
                "restrictionTypes": [
                  0
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/entitlementType/list": {
      "get": {
        "tags": [
          "EntitlementType"
        ],
        "summary": "List All Entitlement Types",
        "description": "Returns a list with all the entitlement types.",
        "operationId": "get-entitlementtype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitlementType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitlementType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "code": "string",
                    "restrictionTypeIds": [
                      0
                    ],
                    "applicableExemptionTypeIds": [
                      0
                    ],
                    "hasTariff": true,
                    "restrictionTypeLegalNames": [
                      {
                        "restrictionTypeId": 0,
                        "legalName": "string"
                      }
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntitlementType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "code": "string",
                    "restrictionTypeIds": [
                      0
                    ],
                    "applicableExemptionTypeIds": [
                      0
                    ],
                    "hasTariff": true,
                    "restrictionTypeLegalNames": [
                      {
                        "restrictionTypeId": 0,
                        "legalName": "string"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/exceptionType/list": {
      "get": {
        "tags": [
          "ExceptionType"
        ],
        "summary": "List All Exception Types",
        "description": "Returns a list with all the exception types.",
        "operationId": "get-exceptiontype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExceptionType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExceptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExceptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/exemptionTimeType/list": {
      "get": {
        "tags": [
          "ExemptionTimeType"
        ],
        "summary": "List All Exemption Time Types",
        "description": "Returns a list with all the exemption time types.",
        "operationId": "get-exemptiontimetype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionTimeType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionTimeType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionTimeType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/exemptionType/list": {
      "get": {
        "tags": [
          "ExemptionType"
        ],
        "summary": "List All Exemption Types",
        "description": "Returns a list with all the exemption types.",
        "operationId": "get-exemptiontype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExemptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/facilityType/list": {
      "get": {
        "tags": [
          "FacilityType"
        ],
        "summary": "List All Facility Types",
        "description": "Returns a list with all the facility types.",
        "operationId": "get-facilitytype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FacilityType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FacilityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FacilityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/fuelType/list": {
      "get": {
        "tags": [
          "FuelType"
        ],
        "summary": "List All Fuel Types",
        "description": "Returns a list with all the fuel types.",
        "operationId": "get-fueltype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuelType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuelType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuelType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/monitor": {
      "get": {
        "tags": [
          "Monitor"
        ],
        "summary": "/monitor - GET",
        "operationId": "get-monitor",
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/movingExceptionType/list": {
      "get": {
        "tags": [
          "MovingExceptionType"
        ],
        "summary": "List All Moving Exception Types",
        "description": "Returns a list with all the moving exception types.",
        "operationId": "get-movingexceptiontype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingExceptionType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingExceptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "applicableRestrictionTypes": [
                      {
                        "movingRestrictionTypeId": 0,
                        "movingRestrictionTypeOptionIds": [
                          {}
                        ]
                      }
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingExceptionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "applicableRestrictionTypes": [
                      {
                        "movingRestrictionTypeId": 0,
                        "movingRestrictionTypeOptionIds": [
                          {}
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/movingRestrictionType/list": {
      "get": {
        "tags": [
          "MovingRestrictionType"
        ],
        "summary": "List All Moving Restriction Types",
        "description": "Returns a list with all the moving restriction types.",
        "operationId": "get-movingrestrictiontype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingRestrictionType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingRestrictionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "property": "string",
                    "unit": "string",
                    "options": [
                      {
                        "movingRestrictionTypeId": 0,
                        "id": 0,
                        "name": "string",
                        "value": 0
                      }
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MovingRestrictionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "property": "string",
                    "unit": "string",
                    "options": [
                      {
                        "movingRestrictionTypeId": 0,
                        "id": 0,
                        "name": "string",
                        "value": 0
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/noteVisibilityType/list": {
      "get": {
        "tags": [
          "NoteVisibilityType"
        ],
        "summary": "List All Note Visibility Types",
        "description": "Returns a list with all the note visibility types.",
        "operationId": "get-notevisibilitytype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteVisibilityType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteVisibilityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoteVisibilityType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/onStreetParkingType/list": {
      "get": {
        "tags": [
          "OnStreetParkingType"
        ],
        "summary": "List All On-Street Parking Types",
        "description": "Returns a list with all the on-street parking types.",
        "operationId": "get-onstreetparkingtype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OnStreetParkingType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OnStreetParkingType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OnStreetParkingType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/paymentMethod/list": {
      "get": {
        "tags": [
          "PaymentMethod"
        ],
        "summary": "List All Payment Methods",
        "description": "Returns a list with all the supported payment methods.",
        "operationId": "get-paymentmethod-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethod"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/permitType/list": {
      "get": {
        "tags": [
          "PermitType"
        ],
        "summary": "List All Permit Types",
        "description": "Returns a list with all the permit types.",
        "operationId": "get-permittype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermitType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermitType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermitType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/region/get/{regionId}": {
      "get": {
        "tags": [
          "Region"
        ],
        "summary": "Get Region By Id",
        "description": "Returns a country region object if a valid identifier is provided.",
        "operationId": "get-region-get-regionid",
        "parameters": [
          {
            "name": "regionId",
            "in": "path",
            "description": "Format - uuid.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                },
                "example": {
                  "id": "string",
                  "guid": "string",
                  "countryId": "string",
                  "name": "string",
                  "venues": [
                    {
                      "id": "string",
                      "name": "string",
                      "eventsMustSupplyHours": true,
                      "events": [
                        {
                          "name": "string",
                          "date": "2020-01-20T00:00:00",
                          "start": "2022-05-31T00:00:00",
                          "end": "2022-05-31T00:00:00"
                        }
                      ]
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Region"
                },
                "example": {
                  "id": "string",
                  "guid": "string",
                  "countryId": "string",
                  "name": "string",
                  "venues": [
                    {
                      "id": "string",
                      "name": "string",
                      "eventsMustSupplyHours": true,
                      "events": [
                        {
                          "name": "string",
                          "date": "2020-01-20T00:00:00",
                          "start": "2022-05-31T00:00:00",
                          "end": "2022-05-31T00:00:00"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/region/list": {
      "get": {
        "tags": [
          "Region"
        ],
        "summary": "List All Regions",
        "description": "Returns a list with all the supported country regions.",
        "operationId": "get-region-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                },
                "example": [
                  {
                    "id": "string",
                    "guid": "string",
                    "countryId": "string",
                    "name": "string",
                    "venues": [
                      {
                        "id": "string",
                        "name": "string",
                        "eventsMustSupplyHours": true,
                        "events": [
                          {
                            "name": "string",
                            "date": "2020-01-20T00:00:00",
                            "start": "2022-05-31T00:00:00",
                            "end": "2022-05-31T00:00:00"
                          }
                        ]
                      }
                    ]
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Region"
                  }
                },
                "example": [
                  {
                    "id": "string",
                    "guid": "string",
                    "countryId": "string",
                    "name": "string",
                    "venues": [
                      {
                        "id": "string",
                        "name": "string",
                        "eventsMustSupplyHours": true,
                        "events": [
                          {
                            "name": "string",
                            "date": "2020-01-20T00:00:00",
                            "start": "2022-05-31T00:00:00",
                            "end": "2022-05-31T00:00:00"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/region/update": {
      "post": {
        "tags": [
          "Region"
        ],
        "summary": "Update Region",
        "description": "Updates the specified country region information.",
        "operationId": "post-region-update",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/Region"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "countryId": "string",
                "name": "string",
                "venues": [
                  {
                    "id": "string",
                    "name": "string",
                    "eventsMustSupplyHours": true,
                    "events": [
                      {
                        "name": "string",
                        "date": "2020-01-20T00:00:00",
                        "start": "2022-05-31T00:00:00",
                        "end": "2022-05-31T00:00:00"
                      }
                    ]
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Region"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "countryId": "string",
                "name": "string",
                "venues": [
                  {
                    "id": "string",
                    "name": "string",
                    "eventsMustSupplyHours": true,
                    "events": [
                      {
                        "name": "string",
                        "date": "2020-01-20T00:00:00",
                        "start": "2022-05-31T00:00:00",
                        "end": "2022-05-31T00:00:00"
                      }
                    ]
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Region"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "countryId": "string",
                "name": "string",
                "venues": [
                  {
                    "id": "string",
                    "name": "string",
                    "eventsMustSupplyHours": true,
                    "events": [
                      {
                        "name": "string",
                        "date": "2020-01-20T00:00:00",
                        "start": "2022-05-31T00:00:00",
                        "end": "2022-05-31T00:00:00"
                      }
                    ]
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Region"
              },
              "example": {
                "id": "string",
                "guid": "string",
                "countryId": "string",
                "name": "string",
                "venues": [
                  {
                    "id": "string",
                    "name": "string",
                    "eventsMustSupplyHours": true,
                    "events": [
                      {
                        "name": "string",
                        "date": "2020-01-20T00:00:00",
                        "start": "2022-05-31T00:00:00",
                        "end": "2022-05-31T00:00:00"
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/restrictionType/list": {
      "get": {
        "tags": [
          "RestrictionType"
        ],
        "summary": "List All Restriction Types",
        "description": "Returns a list with all the restriction types.",
        "operationId": "get-restrictiontype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RestrictionType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RestrictionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "code": "string",
                    "canHaveTariff": true,
                    "defaultWidth": 0,
                    "isTroItem": true,
                    "legalName": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RestrictionType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "code": "string",
                    "canHaveTariff": true,
                    "defaultWidth": 0,
                    "isTroItem": true,
                    "legalName": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/specialRestriction/list": {
      "get": {
        "tags": [
          "SpecialRestrictions"
        ],
        "summary": "List All Special Restrictions",
        "description": "Returns a list with all the special restrictions.",
        "operationId": "get-specialrestriction-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpecialRestriction"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpecialRestriction"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpecialRestriction"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/vehicleType/list": {
      "get": {
        "tags": [
          "VehicleType"
        ],
        "summary": "List All Vehicle Types",
        "description": "Returns a list with all the vehicle types.",
        "operationId": "get-vehicletype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VehicleType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string"
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/zoneType/list": {
      "get": {
        "tags": [
          "ZoneType"
        ],
        "summary": "List All Zone Types",
        "description": "Returns a list with all the zone types.",
        "operationId": "get-zonetype-list",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneType"
                  }
                },
                "example": null
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "canHaveRestrictions": true,
                    "canHaveShape": true
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneType"
                  }
                },
                "example": [
                  {
                    "id": 0,
                    "name": "string",
                    "description": "string",
                    "canHaveRestrictions": true,
                    "canHaveShape": true
                  }
                ]
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActivityType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "ActivityType Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Indicates what a vehicle operator can do at an OSP"
      },
      "All": {
        "type": "object",
        "properties": {
          "activityTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityType"
            },
            "description": "Activity Types types",
            "nullable": true
          },
          "authorityTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuthorityType"
            },
            "description": "Authority types",
            "nullable": true
          },
          "baseMaps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BaseMap"
            },
            "description": "Base maps",
            "nullable": true
          },
          "countries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Country"
            },
            "description": "Countries",
            "nullable": true
          },
          "entitlementTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntitlementType"
            },
            "description": "Entitlement types",
            "nullable": true
          },
          "exceptionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExceptionType"
            },
            "description": "Exception types",
            "nullable": true
          },
          "movingExceptionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MovingExceptionType"
            },
            "description": "Exception types for moving traffic features",
            "nullable": true
          },
          "exemptionTimeTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExemptionTimeType"
            },
            "description": "Exemption time types",
            "nullable": true
          },
          "exemptionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExemptionType"
            },
            "description": "Exemption types",
            "nullable": true
          },
          "facilityTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FacilityType"
            },
            "description": "Facility types",
            "nullable": true
          },
          "fuelTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FuelType"
            },
            "description": "Fuel types",
            "nullable": true
          },
          "noteVisibilityTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NoteVisibilityType"
            },
            "description": "Note visibility types",
            "nullable": true
          },
          "onStreetParkingTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnStreetParkingType"
            },
            "description": "On-Street Parking Types",
            "nullable": true
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            },
            "description": "Payment methods",
            "nullable": true
          },
          "permitTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermitType"
            },
            "description": "Permit types",
            "nullable": true
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Region"
            },
            "description": "Regions",
            "nullable": true
          },
          "restrictionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RestrictionType"
            },
            "description": "Restriction types",
            "nullable": true
          },
          "movingRestrictionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MovingRestrictionType"
            },
            "description": "Restriction types for moving traffic features",
            "nullable": true
          },
          "specialRestrictions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecialRestriction"
            },
            "description": "Special Restrictions",
            "nullable": true
          },
          "vehicleTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VehicleType"
            },
            "description": "Vehicle types",
            "nullable": true
          },
          "zoneTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ZoneType"
            },
            "description": "Zone types",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A collection of all reference types"
      },
      "ApplicableRestrictionType": {
        "type": "object",
        "properties": {
          "movingRestrictionTypeId": {
            "type": "integer",
            "description": "Id of the moving restriction type this exception type is applicable to",
            "format": "int32"
          },
          "movingRestrictionTypeOptionIds": {
            "type": "array",
            "items": {},
            "description": "Moving restriction option ids",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuthorityType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          },
          "canHaveRestrictions": {
            "type": "boolean",
            "description": "Indicates whether authorities of this type can have default restrictions"
          },
          "canHaveShape": {
            "type": "boolean",
            "description": "Indicates whether authorities of this type can have a shape"
          }
        },
        "additionalProperties": false
      },
      "BaseMap": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          },
          "availableInCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Indicates in which countries this base map has tiles available",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier",
            "nullable": true
          },
          "guid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Name of the country",
            "nullable": true
          },
          "specialDays": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecialDay"
            },
            "description": "List of holidays and named days that apply to this country.",
            "nullable": true
          },
          "bounds": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "double"
              }
            },
            "description": "A rectangular area indicating roughly where the country is situated",
            "nullable": true
          },
          "defaultBaseMapId": {
            "type": "integer",
            "description": "The default basemap to use for this country",
            "format": "int32"
          },
          "entitlementTypes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Entitlement types available in this country",
            "nullable": true
          },
          "restrictionTypes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Restriction types available in this country",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EntitlementType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          },
          "code": {
            "type": "string",
            "description": "Shorthand code that represents this entitlement.",
            "nullable": true
          },
          "restrictionTypeIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Indicates the restriction types that this entitlement can apply to",
            "nullable": true
          },
          "applicableExemptionTypeIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Indicates the exemption types that can apply to this entitlement",
            "nullable": true
          },
          "hasTariff": {
            "type": "boolean",
            "description": "Indicates whether this entitlement needs a tariff"
          },
          "restrictionTypeLegalNames": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RestrictionTypeLegalName"
            },
            "description": "Indicates the legal names of the restriction type that this entitlement can apply to",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Indicates the condition on which availability of an OSP depends"
      },
      "Event": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the event",
            "nullable": true
          },
          "date": {
            "type": "string",
            "description": "Date when the event takes place",
            "example": "2020-01-20T00:00:00"
          },
          "start": {
            "type": "string",
            "description": "Start time of the event",
            "nullable": true,
            "example": "00:00:00"
          },
          "end": {
            "type": "string",
            "description": "End time of the event",
            "nullable": true,
            "example": "00:00:00"
          }
        },
        "additionalProperties": false
      },
      "ExceptionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Indicates how operating hours can be altered because of holidays or named days"
      },
      "ExemptionTimeType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Indicates the different definitions of when an exemption can be active"
      },
      "ExemptionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Indicates what exemption there could be for a specific activity, vehicle or person"
      },
      "FacilityType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Indicates a facility that is available at an OSP"
      },
      "FuelType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Indicates the type of fuel"
      },
      "MovingExceptionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          },
          "applicableRestrictionTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplicableRestrictionType"
            },
            "description": "Applicable restriction types",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MovingRestrictionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          },
          "property": {
            "type": "string",
            "description": "Property",
            "nullable": true
          },
          "unit": {
            "type": "string",
            "description": "Unit",
            "nullable": true
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MovingRestrictionTypeOption"
            },
            "description": "Options",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MovingRestrictionTypeOption": {
        "type": "object",
        "properties": {
          "movingRestrictionTypeId": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "NoteVisibilityType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Indicates when a note should be displayed or not"
      },
      "OnStreetParkingType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Represents a type of On-Street Parking entity"
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Indicates the method that you pay for a stay at an OSP"
      },
      "PermitType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Indicates a permit a vehicle operator has"
      },
      "Region": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier",
            "nullable": true
          },
          "guid": {
            "type": "string",
            "format": "uuid",
            "readOnly": true
          },
          "countryId": {
            "type": "string",
            "description": "Id of the Country this region belongs to",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Name of the region",
            "nullable": true
          },
          "venues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Venue"
            },
            "description": "A list of venues that are available in the region. Venues are linked to zones and will affect the operating hours on dates where there's an event at the venue",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "RestrictionType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Description",
            "nullable": true
          },
          "code": {
            "type": "string",
            "description": "Shorthand code that represents this entitlement.",
            "nullable": true
          },
          "canHaveTariff": {
            "type": "boolean",
            "description": "Indicates whether there could be a tariff attached to this restriction type"
          },
          "defaultWidth": {
            "type": "number",
            "description": "Indicates the default width of this restriction type in meters.",
            "format": "double"
          },
          "isTroItem": {
            "type": "boolean",
            "description": "Indicates that this restriction type is classed as part of Traffic Regulation Orders."
          },
          "legalName": {
            "type": "string",
            "description": "The restriction type's alternative name used on legal traffic order documents.",
[...]
