openapi: 3.0.1
info:
  title: Reference
  version: "1.0"
servers:
- url: https://api.appyway.com/v1/reference
paths:
  /activityType/list:
    get:
      tags:
      - ActivityType
      summary: List
      description: Gets all activity types
      operationId: get-activitytype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ActivityTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/ActivityTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /all/list:
    get:
      tags:
      - All
      summary: List
      description: Gets all reference data
      operationId: get-all-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/All'
            application/json:
              schema:
                $ref: '#/components/schemas/All'
              example:
                ActivityTypes:
                - Id: 0
                  Name: string
                  Description: string
                AuthorityTypes:
                - Id: 0
                  Name: string
                  Description: string
                  CanHaveRestrictions: true
                  CanHaveShape: true
                BaseMaps:
                - Id: 0
                  Name: string
                  Description: string
                  AvailableInCountries:
                  - string
                Countries:
                - Id: string
                  Guid: string
                  Name: string
                  SpecialDays:
                  - Id: string
                    Name: string
                    IsHoliday: true
                    Dates:
                    - 2020-01-20T00:00:00.0000000+00:00
                  Bounds:
                  - - 0
                  DefaultBaseMapId: 0
                  EntitlementTypes:
                  - 0
                  RestrictionTypes:
                  - 0
                EntitlementTypes:
                - Id: 0
                  Name: string
                  Description: string
                  Code: string
                  RestrictionTypeIds:
                  - 0
                  ApplicableExemptionTypeIds:
                  - 0
                  HasTariff: true
                  RestrictionTypeLegalNames:
                  - RestrictionTypeId: 0
                    LegalName: string
                ExceptionTypes:
                - Id: 0
                  Name: string
                  Description: string
                ExemptionTimeTypes:
                - Id: 0
                  Name: string
                  Description: string
                ExemptionTypes:
                - Id: 0
                  Name: string
                  Description: string
                FacilityTypes:
                - Id: 0
                  Name: string
                  Description: string
                FuelTypes:
                - Id: 0
                  Name: string
                  Description: string
                NoteVisibilityTypes:
                - Id: 0
                  Name: string
                  Description: string
                OnStreetParkingTypes:
                - Id: 0
                  Name: string
                  Description: string
                PaymentMethods:
                - Id: 0
                  Name: string
                  Description: string
                PermitTypes:
                - Id: 0
                  Name: string
                  Description: string
                Regions:
                - Id: string
                  Guid: string
                  CountryId: string
                  Name: string
                  Venues:
                  - Id: string
                    Name: string
                    EventsMustSupplyHours: true
                    Events:
                    - Name: string
                      Date: 2020-01-20T00:00:00.0000000+00:00
                      Start: 2021-06-14T00:00:00.0000000+00:00
                      End: 2021-06-14T00:00:00.0000000+00:00
                RestrictionTypes:
                - Id: 0
                  Name: string
                  Description: string
                  Code: string
                  CanHaveTariff: true
                  DefaultWidth: 0
                  IsTroItem: true
                  LegalName: string
                MovingRestrictionTypes:
                - Id: 0
                  Name: string
                  Description: string
                  Property: string
                  Unit: string
                  Options:
                  - MovingRestrictionTypeId: 0
                    Id: 0
                    Name: string
                    Value: 0
                SpecialRestrictions:
                - Id: 0
                  Name: string
                  Description: string
                VehicleTypes:
                - Id: 0
                  Name: string
                  Description: string
                ZoneTypes:
                - Id: 0
                  Name: string
                  Description: string
                  CanHaveRestrictions: true
                  CanHaveShape: true
            text/json:
              schema:
                $ref: '#/components/schemas/All'
              example:
                ActivityTypes:
                - Id: 0
                  Name: string
                  Description: string
                AuthorityTypes:
                - Id: 0
                  Name: string
                  Description: string
                  CanHaveRestrictions: true
                  CanHaveShape: true
                BaseMaps:
                - Id: 0
                  Name: string
                  Description: string
                  AvailableInCountries:
                  - string
                Countries:
                - Id: string
                  Guid: string
                  Name: string
                  SpecialDays:
                  - Id: string
                    Name: string
                    IsHoliday: true
                    Dates:
                    - 2020-01-20T00:00:00.0000000+00:00
                  Bounds:
                  - - 0
                  DefaultBaseMapId: 0
                  EntitlementTypes:
                  - 0
                  RestrictionTypes:
                  - 0
                EntitlementTypes:
                - Id: 0
                  Name: string
                  Description: string
                  Code: string
                  RestrictionTypeIds:
                  - 0
                  ApplicableExemptionTypeIds:
                  - 0
                  HasTariff: true
                  RestrictionTypeLegalNames:
                  - RestrictionTypeId: 0
                    LegalName: string
                ExceptionTypes:
                - Id: 0
                  Name: string
                  Description: string
                ExemptionTimeTypes:
                - Id: 0
                  Name: string
                  Description: string
                ExemptionTypes:
                - Id: 0
                  Name: string
                  Description: string
                FacilityTypes:
                - Id: 0
                  Name: string
                  Description: string
                FuelTypes:
                - Id: 0
                  Name: string
                  Description: string
                NoteVisibilityTypes:
                - Id: 0
                  Name: string
                  Description: string
                OnStreetParkingTypes:
                - Id: 0
                  Name: string
                  Description: string
                PaymentMethods:
                - Id: 0
                  Name: string
                  Description: string
                PermitTypes:
                - Id: 0
                  Name: string
                  Description: string
                Regions:
                - Id: string
                  Guid: string
                  CountryId: string
                  Name: string
                  Venues:
                  - Id: string
                    Name: string
                    EventsMustSupplyHours: true
                    Events:
                    - Name: string
                      Date: 2020-01-20T00:00:00.0000000+00:00
                      Start: 2021-06-14T00:00:00.0000000+00:00
                      End: 2021-06-14T00:00:00.0000000+00:00
                RestrictionTypes:
                - Id: 0
                  Name: string
                  Description: string
                  Code: string
                  CanHaveTariff: true
                  DefaultWidth: 0
                  IsTroItem: true
                  LegalName: string
                MovingRestrictionTypes:
                - Id: 0
                  Name: string
                  Description: string
                  Property: string
                  Unit: string
                  Options:
                  - MovingRestrictionTypeId: 0
                    Id: 0
                    Name: string
                    Value: 0
                SpecialRestrictions:
                - Id: 0
                  Name: string
                  Description: string
                VehicleTypes:
                - Id: 0
                  Name: string
                  Description: string
                ZoneTypes:
                - Id: 0
                  Name: string
                  Description: string
                  CanHaveRestrictions: true
                  CanHaveShape: true
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /authorityType/list:
    get:
      tags:
      - AuthorityType
      summary: List
      description: Gets all authority types
      operationId: get-authoritytype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AuthorityTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorityTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                CanHaveRestrictions: true
                CanHaveShape: true
            text/json:
              schema:
                $ref: '#/components/schemas/AuthorityTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                CanHaveRestrictions: true
                CanHaveShape: true
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /baseMap/list:
    get:
      tags:
      - BaseMap
      summary: List
      description: Gets all base maps
      operationId: get-basemap-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BaseMapListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/BaseMapListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                AvailableInCountries:
                - string
            text/json:
              schema:
                $ref: '#/components/schemas/BaseMapListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                AvailableInCountries:
                - string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /country/get/{countryId}:
    get:
      tags:
      - Country
      summary: Get
      description: Gets a country by id
      operationId: get-country-get-countryid
      parameters:
      - name: countryId
        in: path
        description: Format - uuid.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Country'
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
              example:
                Id: string
                Guid: string
                Name: string
                SpecialDays:
                - Id: string
                  Name: string
                  IsHoliday: true
                  Dates:
                  - 2020-01-20T00:00:00.0000000+00:00
                Bounds:
                - - 0
                DefaultBaseMapId: 0
                EntitlementTypes:
                - 0
                RestrictionTypes:
                - 0
            text/json:
              schema:
                $ref: '#/components/schemas/Country'
              example:
                Id: string
                Guid: string
                Name: string
                SpecialDays:
                - Id: string
                  Name: string
                  IsHoliday: true
                  Dates:
                  - 2020-01-20T00:00:00.0000000+00:00
                Bounds:
                - - 0
                DefaultBaseMapId: 0
                EntitlementTypes:
                - 0
                RestrictionTypes:
                - 0
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /country/list:
    get:
      tags:
      - Country
      summary: List
      description: Gets all countries
      operationId: get-country-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CountryListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CountryListGet200ApplicationJsonResponse'
              example:
              - Id: string
                Guid: string
                Name: string
                SpecialDays:
                - Id: string
                  Name: string
                  IsHoliday: true
                  Dates:
                  - 2020-01-20T00:00:00.0000000+00:00
                Bounds:
                - - 0
                DefaultBaseMapId: 0
                EntitlementTypes:
                - 0
                RestrictionTypes:
                - 0
            text/json:
              schema:
                $ref: '#/components/schemas/CountryListGet200TextJsonResponse'
              example:
              - Id: string
                Guid: string
                Name: string
                SpecialDays:
                - Id: string
                  Name: string
                  IsHoliday: true
                  Dates:
                  - 2020-01-20T00:00:00.0000000+00:00
                Bounds:
                - - 0
                DefaultBaseMapId: 0
                EntitlementTypes:
                - 0
                RestrictionTypes:
                - 0
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /country/update:
    post:
      tags:
      - Country
      summary: Update
      description: Updates a country
      operationId: post-country-update
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Country'
            example:
              Id: string
              Guid: string
              Name: string
              SpecialDays:
              - Id: string
                Name: string
                IsHoliday: true
                Dates:
                - 2020-01-20T00:00:00.0000000+00:00
              Bounds:
              - - 0
              DefaultBaseMapId: 0
              EntitlementTypes:
              - 0
              RestrictionTypes:
              - 0
          application/json:
            schema:
              $ref: '#/components/schemas/Country'
            example:
              Id: string
              Guid: string
              Name: string
              SpecialDays:
              - Id: string
                Name: string
                IsHoliday: true
                Dates:
                - 2020-01-20T00:00:00.0000000+00:00
              Bounds:
              - - 0
              DefaultBaseMapId: 0
              EntitlementTypes:
              - 0
              RestrictionTypes:
              - 0
          text/json:
            schema:
              $ref: '#/components/schemas/Country'
            example:
              Id: string
              Guid: string
              Name: string
              SpecialDays:
              - Id: string
                Name: string
                IsHoliday: true
                Dates:
                - 2020-01-20T00:00:00.0000000+00:00
              Bounds:
              - - 0
              DefaultBaseMapId: 0
              EntitlementTypes:
              - 0
              RestrictionTypes:
              - 0
          application/*+json:
            schema:
              $ref: '#/components/schemas/Country'
            example:
              Id: string
              Guid: string
              Name: string
              SpecialDays:
              - Id: string
                Name: string
                IsHoliday: true
                Dates:
                - 2020-01-20T00:00:00.0000000+00:00
              Bounds:
              - - 0
              DefaultBaseMapId: 0
              EntitlementTypes:
              - 0
              RestrictionTypes:
              - 0
      responses:
        "200":
          description: Success
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /entitlementType/list:
    get:
      tags:
      - EntitlementType
      summary: List
      description: Gets all entitlement types
      operationId: get-entitlementtype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EntitlementTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/EntitlementTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                Code: string
                RestrictionTypeIds:
                - 0
                ApplicableExemptionTypeIds:
                - 0
                HasTariff: true
                RestrictionTypeLegalNames:
                - RestrictionTypeId: 0
                  LegalName: string
            text/json:
              schema:
                $ref: '#/components/schemas/EntitlementTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                Code: string
                RestrictionTypeIds:
                - 0
                ApplicableExemptionTypeIds:
                - 0
                HasTariff: true
                RestrictionTypeLegalNames:
                - RestrictionTypeId: 0
                  LegalName: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /exceptionType/list:
    get:
      tags:
      - ExceptionType
      summary: List
      description: Gets all exception types
      operationId: get-exceptiontype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ExceptionTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/ExceptionTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /exemptionTimeType/list:
    get:
      tags:
      - ExemptionTimeType
      summary: List
      description: Gets all exemption time types
      operationId: get-exemptiontimetype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ExemptionTimeTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionTimeTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/ExemptionTimeTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /exemptionType/list:
    get:
      tags:
      - ExemptionType
      summary: List
      description: Gets all exemption types
      operationId: get-exemptiontype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ExemptionTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ExemptionTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/ExemptionTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /facilityType/list:
    get:
      tags:
      - FacilityType
      summary: List
      description: Gets all facility types
      operationId: get-facilitytype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FacilityTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/FacilityTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /fuelType/list:
    get:
      tags:
      - FuelType
      summary: List
      description: Gets all fuel types
      operationId: get-fueltype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/FuelTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/FuelTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/FuelTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /monitor:
    get:
      tags:
      - Monitor
      summary: /monitor - GET
      operationId: get-monitor
      responses:
        "200":
          description: Success
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /movingRestrictionType/list:
    get:
      tags:
      - MovingRestrictionType
      summary: List
      description: Gets all moving restriction types
      operationId: get-movingrestrictiontype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MovingRestrictionTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/MovingRestrictionTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                Property: string
                Unit: string
                Options:
                - MovingRestrictionTypeId: 0
                  Id: 0
                  Name: string
                  Value: 0
            text/json:
              schema:
                $ref: '#/components/schemas/MovingRestrictionTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                Property: string
                Unit: string
                Options:
                - MovingRestrictionTypeId: 0
                  Id: 0
                  Name: string
                  Value: 0
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /noteVisibilityType/list:
    get:
      tags:
      - NoteVisibilityType
      summary: List
      description: Gets all note visibility types
      operationId: get-notevisibilitytype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/NoteVisibilityTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/NoteVisibilityTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/NoteVisibilityTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /onStreetParkingType/list:
    get:
      tags:
      - OnStreetParkingType
      summary: List
      description: Gets all on street parking types
      operationId: get-onstreetparkingtype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/OnStreetParkingTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/OnStreetParkingTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/OnStreetParkingTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /paymentMethod/list:
    get:
      tags:
      - PaymentMethod
      summary: List
      description: Gets all payment methods
      operationId: get-paymentmethod-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PaymentMethodListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /permitType/list:
    get:
      tags:
      - PermitType
      summary: List
      description: Gets all permit types
      operationId: get-permittype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/PermitTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/PermitTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/PermitTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /region/get/{regionId}:
    get:
      tags:
      - Region
      summary: Get
      description: Gets a region by id
      operationId: get-region-get-regionid
      parameters:
      - name: regionId
        in: path
        description: Format - uuid.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Region'
            application/json:
              schema:
                $ref: '#/components/schemas/Region'
              example:
                Id: string
                Guid: string
                CountryId: string
                Name: string
                Venues:
                - Id: string
                  Name: string
                  EventsMustSupplyHours: true
                  Events:
                  - Name: string
                    Date: 2020-01-20T00:00:00.0000000+00:00
                    Start: 2021-06-14T00:00:00.0000000+00:00
                    End: 2021-06-14T00:00:00.0000000+00:00
            text/json:
              schema:
                $ref: '#/components/schemas/Region'
              example:
                Id: string
                Guid: string
                CountryId: string
                Name: string
                Venues:
                - Id: string
                  Name: string
                  EventsMustSupplyHours: true
                  Events:
                  - Name: string
                    Date: 2020-01-20T00:00:00.0000000+00:00
                    Start: 2021-06-14T00:00:00.0000000+00:00
                    End: 2021-06-14T00:00:00.0000000+00:00
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /region/list:
    get:
      tags:
      - Region
      summary: List
      description: Gets all regions
      operationId: get-region-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RegionListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RegionListGet200ApplicationJsonResponse'
              example:
              - Id: string
                Guid: string
                CountryId: string
                Name: string
                Venues:
                - Id: string
                  Name: string
                  EventsMustSupplyHours: true
                  Events:
                  - Name: string
                    Date: 2020-01-20T00:00:00.0000000+00:00
                    Start: 2021-06-14T00:00:00.0000000+00:00
                    End: 2021-06-14T00:00:00.0000000+00:00
            text/json:
              schema:
                $ref: '#/components/schemas/RegionListGet200TextJsonResponse'
              example:
              - Id: string
                Guid: string
                CountryId: string
                Name: string
                Venues:
                - Id: string
                  Name: string
                  EventsMustSupplyHours: true
                  Events:
                  - Name: string
                    Date: 2020-01-20T00:00:00.0000000+00:00
                    Start: 2021-06-14T00:00:00.0000000+00:00
                    End: 2021-06-14T00:00:00.0000000+00:00
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /region/update:
    post:
      tags:
      - Region
      summary: Update
      description: Updates a region
      operationId: post-region-update
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Region'
            example:
              Id: string
              Guid: string
              CountryId: string
              Name: string
              Venues:
              - Id: string
                Name: string
                EventsMustSupplyHours: true
                Events:
                - Name: string
                  Date: 2020-01-20T00:00:00.0000000+00:00
                  Start: 2021-06-14T00:00:00.0000000+00:00
                  End: 2021-06-14T00:00:00.0000000+00:00
          application/json:
            schema:
              $ref: '#/components/schemas/Region'
            example:
              Id: string
              Guid: string
              CountryId: string
              Name: string
              Venues:
              - Id: string
                Name: string
                EventsMustSupplyHours: true
                Events:
                - Name: string
                  Date: 2020-01-20T00:00:00.0000000+00:00
                  Start: 2021-06-14T00:00:00.0000000+00:00
                  End: 2021-06-14T00:00:00.0000000+00:00
          text/json:
            schema:
              $ref: '#/components/schemas/Region'
            example:
              Id: string
              Guid: string
              CountryId: string
              Name: string
              Venues:
              - Id: string
                Name: string
                EventsMustSupplyHours: true
                Events:
                - Name: string
                  Date: 2020-01-20T00:00:00.0000000+00:00
                  Start: 2021-06-14T00:00:00.0000000+00:00
                  End: 2021-06-14T00:00:00.0000000+00:00
          application/*+json:
            schema:
              $ref: '#/components/schemas/Region'
            example:
              Id: string
              Guid: string
              CountryId: string
              Name: string
              Venues:
              - Id: string
                Name: string
                EventsMustSupplyHours: true
                Events:
                - Name: string
                  Date: 2020-01-20T00:00:00.0000000+00:00
                  Start: 2021-06-14T00:00:00.0000000+00:00
                  End: 2021-06-14T00:00:00.0000000+00:00
      responses:
        "200":
          description: Success
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /restrictionType/list:
    get:
      tags:
      - RestrictionType
      summary: List
      description: Gets all restriction types
      operationId: get-restrictiontype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RestrictionTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RestrictionTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                Code: string
                CanHaveTariff: true
                DefaultWidth: 0
                IsTroItem: true
                LegalName: string
            text/json:
              schema:
                $ref: '#/components/schemas/RestrictionTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                Code: string
                CanHaveTariff: true
                DefaultWidth: 0
                IsTroItem: true
                LegalName: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /specialRestriction/list:
    get:
      tags:
      - SpecialRestrictions
      summary: List
      description: Gets all special restrictions
      operationId: get-specialrestriction-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SpecialRestrictionListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialRestrictionListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/SpecialRestrictionListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /vehicleType/list:
    get:
      tags:
      - VehicleType
      summary: List
      description: Gets all vehicle types
      operationId: get-vehicletype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VehicleTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
            text/json:
              schema:
                $ref: '#/components/schemas/VehicleTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
  /zoneType/list:
    get:
      tags:
      - ZoneType
      summary: List
      description: Gets all zone types
      operationId: get-zonetype-list
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ZoneTypeListGet200TextPlainResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneTypeListGet200ApplicationJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                CanHaveRestrictions: true
                CanHaveShape: true
            text/json:
              schema:
                $ref: '#/components/schemas/ZoneTypeListGet200TextJsonResponse'
              example:
              - Id: 0
                Name: string
                Description: string
                CanHaveRestrictions: true
                CanHaveShape: true
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    ActivityType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    AuthorityType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        CanHaveRestrictions:
          type: boolean
        CanHaveShape:
          type: boolean
      additionalProperties: false
    BaseMap:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        AvailableInCountries:
          type: array
          items:
            type: string
          nullable: true
      additionalProperties: false
    SpecialDay:
      type: object
      properties:
        Id:
          type: string
          nullable: true
        Name:
          type: string
          nullable: true
        IsHoliday:
          type: boolean
        Dates:
          type: array
          items:
            type: string
            description: ISO-8601 date pattern
            example: 2020-01-20T00:00:00.0000000
          nullable: true
      additionalProperties: false
    Country:
      type: object
      properties:
        Id:
          type: string
          nullable: true
        Guid:
          type: string
          format: uuid
          readOnly: true
        Name:
          type: string
          nullable: true
        SpecialDays:
          type: array
          items:
            $ref: '#/components/schemas/SpecialDay'
          nullable: true
        Bounds:
          type: array
          items:
            type: array
            items:
              type: number
              format: double
          nullable: true
        DefaultBaseMapId:
          type: integer
          format: int32
        EntitlementTypes:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        RestrictionTypes:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
      additionalProperties: false
    RestrictionTypeLegalName:
      type: object
      properties:
        RestrictionTypeId:
          type: integer
          format: int32
        LegalName:
          type: string
          nullable: true
      additionalProperties: false
    EntitlementType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        Code:
          type: string
          nullable: true
        RestrictionTypeIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        ApplicableExemptionTypeIds:
          type: array
          items:
            type: integer
            format: int32
          nullable: true
        HasTariff:
          type: boolean
        RestrictionTypeLegalNames:
          type: array
          items:
            $ref: '#/components/schemas/RestrictionTypeLegalName'
          nullable: true
      additionalProperties: false
    ExceptionType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    ExemptionTimeType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    ExemptionType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    FacilityType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    FuelType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    NoteVisibilityType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    OnStreetParkingType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    PaymentMethod:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    PermitType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    Event:
      type: object
      properties:
        Name:
          type: string
          nullable: true
        Date:
          type: string
          description: ISO-8601 date pattern
          example: 2020-01-20T00:00:00.0000000
        Start:
          type: string
          description: ISO-8601 time pattern, extended as required to accommodate nanoseconds.
          nullable: true
          example: 00:00:00
        End:
          type: string
          description: ISO-8601 time pattern, extended as required to accommodate nanoseconds.
          nullable: true
          example: 00:00:00
      additionalProperties: false
    Venue:
      type: object
      properties:
        Id:
          type: string
          nullable: true
        Name:
          type: string
          nullable: true
        EventsMustSupplyHours:
          type: boolean
        Events:
          type: array
          items:
            $ref: '#/components/schemas/Event'
          nullable: true
      additionalProperties: false
    Region:
      type: object
      properties:
        Id:
          type: string
          nullable: true
        Guid:
          type: string
          format: uuid
          readOnly: true
        CountryId:
          type: string
          nullable: true
        Name:
          type: string
          nullable: true
        Venues:
          type: array
          items:
            $ref: '#/components/schemas/Venue'
          nullable: true
      additionalProperties: false
    RestrictionType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        Code:
          type: string
          nullable: true
        CanHaveTariff:
          type: boolean
        DefaultWidth:
          type: number
          format: double
        IsTroItem:
          type: boolean
        LegalName:
          type: string
          nullable: true
      additionalProperties: false
    MovingRestrictionTypeOption:
      type: object
      properties:
        MovingRestrictionTypeId:
          type: integer
          format: int32
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Value:
          type: integer
          format: int32
      additionalProperties: false
    MovingRestrictionType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        Property:
          type: string
          nullable: true
        Unit:
          type: string
          nullable: true
        Options:
          type: array
          items:
            $ref: '#/components/schemas/MovingRestrictionTypeOption'
          nullable: true
      additionalProperties: false
    SpecialRestriction:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    VehicleType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    ZoneType:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
        CanHaveRestrictions:
          type: boolean
        CanHaveShape:
          type: boolean
      additionalProperties: false
    All:
      type: object
      properties:
        ActivityTypes:
          type: array
          items:
            $ref: '#/components/schemas/ActivityType'
          nullable: true
        AuthorityTypes:
          type: array
          items:
            $ref: '#/components/schemas/AuthorityType'
          nullable: true
        BaseMaps:
          type: array
          items:
            $ref: '#/components/schemas/BaseMap'
          nullable: true
        Countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
          nullable: true
        EntitlementTypes:
          type: array
          items:
            $ref: '#/components/schemas/EntitlementType'
          nullable: true
        ExceptionTypes:
          type: array
          items:
            $ref: '#/components/schemas/ExceptionType'
          nullable: true
        ExemptionTimeTypes:
          type: array
          items:
            $ref: '#/components/schemas/ExemptionTimeType'
          nullable: true
        ExemptionTypes:
          type: array
          items:
            $ref: '#/components/schemas/ExemptionType'
          nullable: true
        FacilityTypes:
          type: array
          items:
            $ref: '#/components/schemas/FacilityType'
          nullable: true
        FuelTypes:
          type: array
          items:
            $ref: '#/components/schemas/FuelType'
          nullable: true
        NoteVisibilityTypes:
          type: array
          items:
            $ref: '#/components/schemas/NoteVisibilityType'
          nullable: true
        OnStreetParkingTypes:
          type: array
          items:
            $ref: '#/components/schemas/OnStreetParkingType'
          nullable: true
        PaymentMethods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethod'
          nullable: true
        PermitTypes:
          type: array
          items:
            $ref: '#/components/schemas/PermitType'
          nullable: true
        Regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
          nullable: true
        RestrictionTypes:
          type: array
          items:
            $ref: '#/components/schemas/RestrictionType'
          nullable: true
        MovingRestrictionTypes:
          type: array
          items:
            $ref: '#/components/schemas/MovingRestrictionType'
          nullable: true
        SpecialRestrictions:
          type: array
          items:
            $ref: '#/components/schemas/SpecialRestriction'
          nullable: true
        VehicleTypes:
          type: array
          items:
            $ref: '#/components/schemas/VehicleType'
          nullable: true
        ZoneTypes:
          type: array
          items:
            $ref: '#/components/schemas/ZoneType'
          nullable: true
      additionalProperties: false
    ActivityTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/ActivityType'
    ActivityTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ActivityType'
    ActivityTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ActivityType'
    AuthorityTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/AuthorityType'
    AuthorityTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/AuthorityType'
    AuthorityTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/AuthorityType'
    BaseMapListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/BaseMap'
    BaseMapListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/BaseMap'
    BaseMapListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/BaseMap'
    CountryListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/Country'
    CountryListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/Country'
    CountryListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/Country'
    EntitlementTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/EntitlementType'
    EntitlementTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/EntitlementType'
    EntitlementTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/EntitlementType'
    ExceptionTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExceptionType'
    ExceptionTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExceptionType'
    ExceptionTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExceptionType'
    ExemptionTimeTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionTimeType'
    ExemptionTimeTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionTimeType'
    ExemptionTimeTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionTimeType'
    ExemptionTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionType'
    ExemptionTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionType'
    ExemptionTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ExemptionType'
    FacilityTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/FacilityType'
    FacilityTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/FacilityType'
    FacilityTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/FacilityType'
    FuelTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/FuelType'
    FuelTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/FuelType'
    FuelTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/FuelType'
    MovingRestrictionTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/MovingRestrictionType'
    MovingRestrictionTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/MovingRestrictionType'
    MovingRestrictionTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/MovingRestrictionType'
    NoteVisibilityTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/NoteVisibilityType'
    NoteVisibilityTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/NoteVisibilityType'
    NoteVisibilityTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/NoteVisibilityType'
    OnStreetParkingTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/OnStreetParkingType'
    OnStreetParkingTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/OnStreetParkingType'
    OnStreetParkingTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/OnStreetParkingType'
    PaymentMethodListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/PaymentMethod'
    PaymentMethodListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/PaymentMethod'
    PaymentMethodListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/PaymentMethod'
    PermitTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/PermitType'
    PermitTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/PermitType'
    PermitTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/PermitType'
    RegionListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/Region'
    RegionListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/Region'
    RegionListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/Region'
    RestrictionTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/RestrictionType'
    RestrictionTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/RestrictionType'
    RestrictionTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/RestrictionType'
    SpecialRestrictionListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/SpecialRestriction'
    SpecialRestrictionListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/SpecialRestriction'
    SpecialRestrictionListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/SpecialRestriction'
    VehicleTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/VehicleType'
    VehicleTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/VehicleType'
    VehicleTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/VehicleType'
    ZoneTypeListGet200TextPlainResponse:
      type: array
      items:
        $ref: '#/components/schemas/ZoneType'
    ZoneTypeListGet200ApplicationJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ZoneType'
    ZoneTypeListGet200TextJsonResponse:
      type: array
      items:
        $ref: '#/components/schemas/ZoneType'
  securitySchemes:
    apiKey:
      name: API-KEY
      in: header
      type: apiKey
    oAuth2:
      flows:
        authorizationCode:
          scopes: {}
          authorizationUrl: https://auth.appyway.com/authorize
          tokenUrl: https://auth.appyway.com/oauth/token
      type: oauth2
  responses:
    TooManyRequests:
      description: Too many requests
    Unauthorized:
      description: Unauthorized
    Forbidden:
      description: Forbidden
security:
- apiKey: []
- oAuth2: []

